<div class="TopFix">
	<div class="TopFixZoom">
    	<span class="FixLeft">欢迎来到动漫方舟！<a href="#">请登录</a><a href="#">免费注册</a></span>
        <span class="FixRight">
        	<a href="#">我的方舟</a><a href="#">收藏夹</a><a href="#">商家支持</a><a href="#">网站导航</a>
        </span>
    </div>
</div>
<header>
	<div class="HeadTop">
    	<div class="Logo"><a href="index"><img src="http://www.dongmark.com/images/logo.png"></a></div>
        <div class="Search">
        	<input name="" type="text" class="SearchInput"><input name="" type="button" class="SearchButton" value="搜索">
            <div class="SearchKey">
            <span class="font_r"><a href="#">盆栽</a></span>|<span><a href="#">创意家居</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">盆栽</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">原创</a></span>
            </div>
        </div>
    </div>
    <nav>
        <ul class="NavL">   
	<%    
    	var menuid = parseInt(menuid);
    	for(m in topMenuShop){
    	if (menuid == m.menuid){
    %>
    	<li class="LiFuc"><a href="">${m.menuname!}</a></li>
    <%	}else{
	%>	
	<li><a href="${m.actionkey!}?menuid=${m.menuid!}">${m.menuname!}</a></li>
	<% } 
	   } 
	%>    	
        <!-- 
            <li class="LiFuc" style="width: 238px;">全部商品分类</li>
            <li><a href="#">创意生活</a></li>
            <li><a href="#">无土栽培</a></li>
            <li><a href="#">进口食品</a></li>
            <li><a href="#">母婴用品</a></li>
            <li><a href="#">动漫周边</a></li>
            <li><a href="#">图书音像</a></li>
            <li><a href="#">跳蚤市场</a></li>
             -->
        </ul>
    </nav>
      <script type="text/javascript">
      //菜单导航 按钮事件 选中后高亮
		$(document).ready(function(){  
		    $(".NavL li a").each(function(){  
		        $this = $(this);  
		        if($this[0].href==String(window.location)){  
		        $(".NavL li").removeClass("LiFuc");  
		            $this.parent().addClass("LiFuc");  
		        }  
		    });  
		});  
        </script>
</header>