<% layout("../common/layout.html"){ %>
<section> 
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <div class="container">
      <form class="form-signin" action="menu/saveMenu?menuid=${menuid!}" method="post" align="center">
        <h2 class="form-signin-heading">新增菜单</h2>
        <!-- 
        	<label class="control-label">菜单键：</label>
        	<input id="menuname" name="menu.mid" value="${menu.mid!}" type="text" class="span6 m-wrap" /><br>
        	 -->
        	<label class="control-label">菜单名称：</label>
        	<input id="menuname" name="menu.menuname" value="${menu.menuname!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">actionkey：</label>
        	<input name="menu.actionkey" value="${menu.actionkey!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">级别菜单：</label>
        	<input name="menu.top" value="${menu.top!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">排序：</label>
        	<input name="menu.sortnum" value="${menu.sortnum!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">父级菜单：</label>
        	<!-- <input name="menu.parentmenuid" value="${menu.parentmenuid!}" type="text" class="span6 m-wrap" /><br> -->
        	<select name="menu.parentmenuid"> 
        		<option value="" selected="selected">主菜单</option>        		
        		<%
        		for(m in menuList){        		
        		%>
        			<option value="${m.menuid!}">${m.menuname!}</option> 
    			<% } %>
   			</select> 
   			<label class="control-label">菜单模块：</label>
        	<input name="menu.menutype" value="${menu.menutype!}" type="text" class="span6 m-wrap" /><br>   			
        	<!-- 
        	<label class="control-label">modify_time：</label>
        	<input name="menu.modify_time" value="${menu.modify_time!}" type="text" class="span6 m-wrap" /><br>
        	-->
        	<!-- <label class="control-label">creater：</label>
        	<input name="menu.creater" value="${menu.creater!}" type="text" class="span6 m-wrap" /><br>
        	 -->
        	<!-- 
        	<label class="control-label">modify_time：</label>
        	<input name="menu.modify_time" value="${menu.modify_time!}" type="text" class="span6 m-wrap" /><br>
        	 
        	<label class="control-label">modifier：</label>
        	<input name="menu.modifier" value="${menu.modifier!}" type="text" class="span6 m-wrap" /><br> -->
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>
    </div>
</section> 
<% } %> 