<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>系统信息</title>
	<base href="${core}/"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="um/saveUserMessage" method="post">
        <h2 class="form-signin-heading">系统信息</h2>
        	<label class="control-label">标题：</label>
        	<input name="userMessage.title" value="${userMessage.title!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">内容：</label>
        	<input name="userMessage.content" value="${userMessage.content!}" type="text" class="span6 m-wrap" /><br>
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>