<% layout("/common/layout.html"){ %>
<section>
    <div class="container">
      <form  id="ajaxFrm" class="form-signin" action="ventwall/save"  method="post">
		<input id="rdo1" name="ventWall.moodid" type="radio" value="[em_1]" checked=true/><img src="images/face/1.jpg" />
		<input id="rdo2" name="ventWall.moodid" type="radio" value="[em_2]" /><img src="images/face/2.jpg" />
		<input id="rdo3" name="ventWall.moodid" type="radio" value="[em_3]" /><img src="images/face/3.jpg" />
		<input id="rdo4" name="ventWall.moodid" type="radio" value="[em_4]" /><img src="images/face/4.jpg" />
		<input id="rdo5" name="ventWall.moodid" type="radio" value="[em_5]" /><img src="images/face/5.jpg" />
		<input id="rdo6" name="ventWall.moodid" type="radio" value="[em_6]" /><img src="images/face/6.jpg" />
		<input id="rdo7" name="ventWall.moodid" type="radio" value="[em_7]" /><img src="images/face/7.jpg" />
		<input id="rdo8" name="ventWall.moodid" type="radio" value="[em_8]" /><img src="images/face/8.jpg" /></br>
		<textarea class="input" id="saytext" name="ventWall.message" value="${ventWall.message!}" width="700px"></textarea></br>
        <button id="btn1" class="btn btn-large btn-primary" onClick="getOtherMessage();" type="submit" ">提交</button>
        <button id="btn2" class="btn btn-large btn-primary" onClick="getOtherMessage();" type="button" ">提交</button>
      </form>
    </div> 
    <div id="view">
    </div>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript">   
        function getOtherMessage(){   
			var rdo1 = $('#rdo1').val();
            $.ajax({   
                type:"post",    
                dataType:"json",
                url:"ventwall/select", 
                success:function(data){
                	console.log(data);
                	alert("success"+data);
					$('#table').append('<tr><td>'+data.message+'</td></tr>');
                },   
                error:function(){   
                    alert("wrong");   
                }   
            });   
       }   
  </script>
 </section> 
<% } %> 