<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>上传作品</title>
	<base href="${core}/"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
 <div class="container">
      <form class="form-signin" action="works/save" method="post" enctype="multipart/form-data">
        <h2 align="center" class="form-signin-heading">请录入作品信息</h2>
        <input type="text" id="worksname" name="works.worksname" class="input-block-level" placeholder="漫画名称" required="required"/>
        <input type="text" id="workstype" name="works.workstype" class="input-block-level" placeholder="作品类别" required="required"/>
        <!-- <input type="text" id="creativeprocess" name="works.creativeprocess" class="input-block-level" placeholder="创作进程" required="required"/> -->
        <select id="creativeprocess" name="works.creativeprocess" class="input-block-level" >
	        <option value="10" selected="selected">创作中</option>
	        <option value="20">已完结</option>
	    </select>
	        
        <!--TODO 根据用户类型来显示上传图片还是直接贴文件路径-->
		选择作品封面：<input type="file" id="cover" name="cover" accept="image/*" size="20" maxlength="255" required="required"/><br>
		选择上传作品：<input type="file" id="comic" name="comic" accept="video/*" size="20" maxlength="255" required="required"/>
        <input type="text" id="describle" name="works.describle" class="input-block-level" placeholder="作品描述" />
        <button class="btn btn-large btn-primary" type="submit" onsubmit="save();" >上传作品信息</button>
      </form>
    </div>
    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>