<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>审批</title>
	<base href="${core}/"/>
   <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="approve/save" method="post">
        <h2 class="form-signin-heading">请输入用户ID</h2>
        <input type="text" id="userid" name="approve.userid" class="input-block-level" placeholder="用户ID">
		 <h2 class="form-signin-heading">请输入审批类别</h2>
        <input type="text" id="typeid" name="approve.typeid" class="input-block-level" placeholder="审批类别">
         <h2 class="form-signin-heading">审批状态</h2>
        <input type="text" id="status" name="approve.status" class="input-block-level" placeholder="审批状态">
         <h2 class="form-signin-heading">审批说明</h2>
        <input type="text" id="remark" name="approve.remark" class="input-block-level" placeholder="审批说明">
       
        <button class="btn btn-large btn-primary" type="submit">审批</button>
      </form>
	
    </div>
  </body>
</html>