 <% for (comment in page.list){ %>
<div class="control-group">

	<div class="control-group">用户名:${comment.userid!}</div>

	<div class="control-group">时间:${comment.dateline!}</div>

	<div class="control-group">内容:${comment.message!}</div>

	<div><%
		layout("./publishFace.html",{"targetID":targetID,"action":action +
		"&pID=" + comment.commentid,"comment":comment}){}%></div>
	<div class="control-group" align="center" style="color: red">
		<% for (follow in followPage){
		if(follow.pid!=comment.commentid){continue;}%>
		<div class="control-group">用户名:${follow.userid!}</div>

		<div class="control-group">回复对象:${follow.touserid!}</div>

		<div class="control-group">内容:${follow.message!}</div>

		<div><%
			layout("./publishFace.html",{"targetID":targetID,"action":action +
			"&pID=" + comment.commentid + "&toUserID" +
			comment.commentid,"comment":follow}){}%></div>
		<% } %>
	</div>
</div>
<% } %>
