<div><% if(commentPage != null){ layout("/common/page.html",
	{"page":commentPage,"pageAction":pageAction,"fatherNode":fatherNode}
	){} }%></div>
<% for (comment in commentPage.list){ %>
<div class="control-group" id="commentContent">

	<div class="control-group">用户名:${comment.userid!}</div>

	<div class="control-group">时间:${comment.dateline!}</div>

	<div class="control-group">内容:${comment.message!}</div>

	<div><%
		layout("./publishFace.html",{"targetId":targetId,"publishFaceAction":publishFaceAction,
		"pId":comment.commentid,"commentFatherNode":commentFatherNode,"renderAction":"/demo/comment.html"}){}%></div>
	<div class="control-group" align="center" style="color: red"
		id="commentContent"><%if(followPage != null){
		layout("./followPage.html",{"followPage":followPage,"comment":comment,"commentFatherNode":"#commentContent"
		,"publishFaceAction":publishFaceAction,"renderAction":"/demo/followPage.html"}){} }%></div>
</div>
<% } %>
