<!DOCTYPE html>
<html>
<head>
<title>帖子审核</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>

<body>
	<form action="attachment/create" id="attachment_create"
		class="form-horizontal" method="post">

		<div class="control-group">
			<label class="control-label">附件ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="attachment.attachmentid"
					value="${attachment.attachmentid!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">上传时间<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.dateline"
					value="${attachment.dateline!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">原文件名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.filename"
					value="${attachment.filename!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">文件大小<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.filesize"
					value="${attachment.filesize!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">服务器路径<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.attachment"
					value="${attachment.attachment!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">是否远程附件<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.remote"
					value="${attachment.remote!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">是否图片<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.isimage"
					value="${attachment.isimage!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">附件宽度<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.width"
					value="${attachment.width!}" class="span6 m-wrap" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">下载次数<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="attachment.downloads"
					value="${attachment.downloads!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
</body>

</html>