<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>帖子信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
	<div>
		<h1>
			<a href="./post/find">帖子信息 </a>
		</h1>
		<div>
			<div class="control-group" hidden="block">
				帖子ID:${post.postid!} <input name="postID" type="hidden"
					value="${post.postid!}">
			</div>

			<div class="control-group">楼主:${username!}</div>

			<div class="control-group">标题:${post.subject!}</div>

			<div class="control-group">发表时间:${post.dateline!}</div>

			<div class="control-group">帖子内容:${post.message!}</div>

			<div class="control-group">是否匿名:${post.anonymous!}</div>

			<div class="control-group">是否启用签名:${post.usesig!}</div>
		</div>

		<div id="replyComments">
			<div id="page"><% if(page != null){ layout("./page.html",
				{"page":page,"action":"./post/findByID?postID="+post.postid} ){} }%></div>
			<div class="control-group" align="right"><% if(post.postid !=
				null){ layout("./ckeditor.html",
				{"targetID":post.postid,"action":"./post/replyComment?postID=" +
				post.postid}){} }%></div>
			<div class="control-group" id="commentContents"><% if(page !=
				null && post.postid != null){ layout("./comment.html",
				{"page":page,"targetID":post.postid,"action":"./post/replyComment?postID="
				+ post.postid} ){} }%></div>
		</div>
	</div>
</body>
</html>