<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改活动信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<h1>
	<a href="./activity/find">活动信息 </a>
</h1>
<div>
	<div class="control-group">活动ID：${activity.cost!}</div>

	<div class="control-group">每人花销：${activity.cost!}</div>

	<div class="control-group">开始时间：${activity.starttimefrom!}</div>

	<div class="control-group">结束时间：${activity.starttimeto!}</div>

	<div class="control-group">地点：${activity.place!}</div>

	<div class="control-group">类别、活动分类：${activity.class!}</div>

	<div class="control-group">性别：${activity.gender!}</div>

	<div class="control-group">人数：${activity.number!}</div>

	<div class="control-group">已参加人数：${activity.applynumber!}</div>

	<div class="control-group">报名截止时间：${activity.expiration!}</div>

	<div class="control-group">活动详细内容：${activity.ufield!}</div>

	<div class="control-group">需消耗积分：${activity.credit!}</div>
</div>
<div id="page"><% if(activityApplyPage != null){
	layout("./activityApplyPage.html",
	{"activityApplyPage":activityApplyPage} ){} }%></div>
</html>