<div><% if(postPage != null){ layout("/common/page.html",
	{"page":postPage,"pageAction":"./post/find","fatherNode":"#page"} ){}
	}%></div>
<div>
	<table>
		<thead>
			<tr>
				<td style="width: 250px">作者姓名</td>
				<td style="width: 250px">标题</td>
				<td style="width: 250px">发帖时间</td>
				<td style="width: 250px">帖子内容</td>
				<td style="width: 250px">评分次数</td>
				<td style="width: 250px">帖子状态</td>
			</tr>
		</thead>
		<tbody>
			<% for (post in postPage.list){ %>
			<tr>
				<td>${post.username!}</td>
				<td><a href="./post/findById?postId=${post.postid!}">${post.subject!}</a></td>
				<td>${post.dateline!}</td>
				<td>${post.message!}</td>
				<td>${post.ratetimes!}</td>
				<td>${post.status!}</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>