<!DOCTYPE html>
<html>
<head>
<title>会员帖子</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>

<body>
	<div class="control-group">
		<h1>
			<a href="./post/skipCreate">发表帖子</a>
		</h1>
		<h1>
			<a href="./post/findByUserId">我的帖子</a>
		</h1>
		<div id="page"><% if(postPage != null){
			layout("./postPage.html", {"postPage":postPage} ){} }%></div>
	</div>
</body>

</html>