<!DOCTYPE html>
<html>
<head>
<title>帖子审核信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<script type="text/javascript" language="text/javascript">
	function postapprovePage_goToPageSize(pageSize) {
		location.href = "./postapprove/find?postapprovePage_pageSize=" + pageSize
				+ "&postapprovePage_pageNumber=1";
	};

	function postapprovePage_pageSize(pageSize) {
		var obj = document.getElementById('postapprovePage_pageSize');
		for (var i = 0; i < obj.length; i++) {
			if (pageSize == obj.options[i].value) {
				obj.options[i].selected = true;
			} else {
				obj.options[i].selected = false;
			}

		}
	}
</script>

</head>

<body onload="postapprovePage_pageSize(${postapprovePage.pageSize})">
	<form action="postapproveapply/save" id="postapproveapply_save"
		class="form-horizontal" method="post">
		<div class="control-group">
			<hr>
			每页<select name="postapprovePage_pageSize" id="postapprovePage_pageSize"
				onchange="postapprovePage_goToPageSize(this.value)">
				<option value="2" selected="true">2</option>
				<option value="3">3</option>
				<option value="5">5</option>
				<option value="8">8</option>
				<option value="10">10</option>
			</select>条&nbsp;共${postapprovePage.totalRow!}条&nbsp;第${postapprovePage.pageNumber!}
			/${postapprovePage.totalPage!}页 <a
				href="./postapprove/find?postapprovePage_pageNumber=1">首页</a> <a
				href="./postapprove/find?postapprovePage_pageNumber=${postapprovePage.pageNumber!-1<1?1:postapprovePage.pageNumber!-1}">上页</a>
			<a
				href="./postapprove/find?postapprovePage_pageNumber=${postapprovePage.pageNumber!+1>postapprovePage.totalPage!?postapprovePage.totalPage!:postapprovePage.pageNumber!+1}">下页</a>
			<a
				href="./postapprove/find?postapprovePage_pageNumber=${postapprovePage.totalPage!}">末页</a>
			<table>
				<thead>
					<tr>
						<td style="width: 250px">状态</td>
						<td style="width: 250px">操作</td>
					</tr>
				</thead>
				<tbody>
					<% for (postapprove in postapprovePage.list){ %>
					<tr>
						<td>${postapprove.status!}</td>
						<td><a href="./postapprove/findById/${postapprove.postapproveid}">修改</a>
							<a href="./postapprove/deleteById/${postapprove.postapproveid}"
							onclick="return confirm('确定删除？')">删除</a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>


		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
</body>

</html>