<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>系统信息</title>
<base href="${core}/" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<a href="um/goUserMessage">系统信息</a>
	<div>
	<table class="table table-striped">
		<thead>
			<tr>
			系统信息${userMessageList.~size}
			</tr>
			<tr>
				<th>序号</th>
				<th>标题</th>
				<th>内容</th>
			</tr>
		</thead>
		<tbody>
			<% 
			var index = 0 ;
			for(u in userMessageList){
				index = index + 1 ;
			%>
			<tr>
				<td>${index}</td>
				<td>${u.title!}</td>
				<td>${u.content!}</td>
				<td> 
                    <a href="um/selectUserMessageById/${u.messageid}">修改</a>
					<a href="um/deleteUserMessage/${u.messageid}" onclick="return confirm('确定删除？')">删除</a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
	</div>
</body>
</html>