<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
	<base href="${core}/"/>
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>
   <div>
     <form class="form-signin" action="codetype/updateCodeType" method="post">
        <h2 class="form-signin-heading">编辑码表</h2>
        	<input name="codeType.codetypeid" value="${codeType.codetypeid}" type="text" class="span6 m-wrap" style="display:none"/><br>
        	<label class="control-label">码表类型：</label>
        	<input name="codeType.codetype" value="${codeType.codetype!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">码表对名称：</label>
        	<input name="codeType.typename" value="${codeType.typename!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">排序：</label>
        	<input name="codeType.sortnum" value="${codeType.sortnum!}" type="text" class="span6 m-wrap" /><br>
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>
    </div>
</body>
</html>