<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>新增留言</title>
    <!-- Bootstrap -->
    <!-- 设置默认的contextPath html无法使用宏变量-->
	<base href="${core}/"/>
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="ventwall/save" method="post">
        <h2 class="form-signin-heading">请留言</h2>
        	<label class="control-label">心情：</label>
        	<input name="ventWall.moodid" value="${ventWall.moodid!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">留言内容：</label>
        	<input name="ventWall.message" value="${ventWall.message!}" type="text" class="span6 m-wrap" /><br>
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>