<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的作品</title>
<base href="${core}/" />
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script src="js/jquery.form.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="css/Member.css" rel="stylesheet">
<link href="css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="http://silviomoreto.github.io/bootstrap-select/stylesheets/bootstrap-select.css">
</head>
<script type="text/javascript">
	var pageSize = 6;
	var pageCount;

	$(document).ready(function(){
		////////////////////////////////////////////////////////////////////////////父表
		//选择类型 初始化父表格
		$('#typeSelect').change(function(){
			$.showTableParent();
		});
		
		$('#parentAdd').click(function(){
			$.showParentDialog('添加');
		});
		$("#parentUpdate").click(function(){
	    	$.showParentDialog('修改');
	    });
		$("#parentDelete").click(function(){
	    });
		//绑定父表格选择事件
		$('#parentTable tr').click(function(){
			$('#parentTable tr').removeClass('select');
			$(this).addClass('select');
			
			//父表格点击 加载子表格
			$(this).click(function(){
				//
				$.showTableChilrend(parentId);
			});
		});
		
		///////////////////////////////////////////////////////////////////////////子表
		//绑定子表格选择事件
		$('#childrenTable tr').click(function(){
			$('#childrenTable tr').removeClass('select');
			$(this).addClass('select');
		});
		
		//var data = [[{'id':'1','name':'2','value':'3'}],[{'id':'1','name':'2','value':'3'}],[{'id':'1','name':'2','value':'3'}]];
	});
	
	//定义jQuery方法
	$.extend({
		//显示对话框
		showParentDialog : function(type){
			$("#dialogParent").attr('type',type);
			$("#dialogParent").dialog({
	    		autoOpen:true,
	    		model:true,
	    		position:'center',
				width:500,
				title:type,
				buttons:{
					' 确定 ':function(){
					},
					' 取消 ':function(){
						$(this).dialog("close");
					}
				},
				open:function(){
					var type = $(this).attr('type');
					if(type == '添加'){
						
					}
					if(type == '修改'){
						
					}
				}
			}).dialog('open');
		},
		showTableChilrend : function(parentId){
			$page = $('#pageChildren');
			$pageIndex = $('li.active a',$page);
			$self = $('#childrenTable');
			$.ajax({
				type:'post',
				url: "works/getWorksInfoByType",
				dataType:'json',
				data:'&pageIndex="'+$pageIndex.html()+'"&pageSize='+pageSize,
				success:function(data){
					//构建分页
					pageCount = parseInt(data.size + (pageSize -1)) / pageSize;
					$page.find('li').remove();
					$page.attr('pageCount',pageCount);
					$page.append('<li><a href="#">&laquo;</a></li>');
					for(var i=1; i<=pageCount && i <= 10; i++){
						if(i == 1){
							$page.append('<li class="active"><a>'+i+'</a></li>');
						}else{
							$page.append('<li><a>'+i+'</a></li>');
						}
					}
					$page.append('<li><a href="#">&raquo;</a></li>');
					
					//构建表格
					$parentTable = $('#parentTable');
					$('tbody tr',$parentTable).remove();
					$.each(data.list,function(i,rows){
						$tbody = $('tbody',$parentTable).append('<tr></tr>');
						$.each(rows,function(j,cols){
							$tr = $('tr:eq('+i+')',$tbody);
							$tr.append('<td>'+cols.id+'</td>');
							$tr.append('<td>'+cols.name+'</td>');
							$tr.append('<td>'+cols.value+'</td>');
						});
					});
				}
			});
		},
		showTableParent : function(){
			$select = $('#typeSelect');
			$page = $('#pageParent');
			$pageIndex = $('li.active a',$page);
			$self = $('#parentTable');
			$.ajax({
				type:'post',
				url: "works/getWorksInfoByType",
				dataType:'json',
				data:'workstype="'+$select.val()+'"&pageIndex="'+$pageIndex.html()+'"&pageSize='+pageSize,
				success:function(data){
					//构建分页
					pageCount = parseInt(data.size + (pageSize -1)) / pageSize;
					$page.find('li').remove();
					$page.attr('pageCount',pageCount);
					$page.append('<li><a href="#">&laquo;</a></li>');
					for(var i=1; i<=pageCount && i <= 10; i++){
						if(i == 1){
							$page.append('<li class="active"><a>'+i+'</a></li>');
						}else{
							$page.append('<li><a>'+i+'</a></li>');
						}
					}
					$page.append('<li><a href="#">&raquo;</a></li>');
					
					//构建表格
					$self = $('#parentTable');
					$('tbody tr',$self).remove();
					$.each(data.list,function(i,rows){
						$tbody = $('tbody',$self).append('<tr></tr>');
						$.each(rows,function(j,cols){
							$tr = $('tr:eq('+i+')',$tbody);
							$tr.append('<td>'+cols.id+'</td>');
							$tr.append('<td>'+cols.worksname+'</td>');
							$tr.append('<td>'+cols.workstype+'</td>');
							$tr.append('<td>'+cols.creativeprocess+'</td>');
							$tr.append('<td>'+cols.describle+'</td>');
							$tr.append('<td>'+cols.istop+'</td>');
							$tr.append('<td>'+cols.comment+'</td>');
							$tr.append('<td>'+cols.pageviews+'</td>');
							$tr.append('<td>'+cols.collection+'</td>');
							$tr.append('<td>'+cols.praise+'</td>');
							$tr.append('<td>'+cols.maxnum+'</td>');
							$tr.append('<td>'+cols.updatetime+'</td>');
						});
					});
				}
			});
		},
		loadParentDialog : function($self){
			$.ajax({
				type:'post',
				url: "works/getWorks",
				dataType:'json',
				data:'worksId='+,
				success:function(data){
					
				}
			});
		}
	});
</script>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">选择类型</div>
		<div class="panel-body">
			<label for="name">类型：</label>
			<select class="btn btn-default" id="typeSelect">
				<option value="">-请选择一个类型-</option>
				<option value="10">搞笑</option>
				<option value="20">恐怖</option>
			</select>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body" >
			<button type="button" class="btn btn-success" id="parentAdd"> 添加</button>
			<button type="button" class="btn btn-warning"  id="parentUpdate"> 修改</button>
			<button type="button" class="btn btn-danger" id="parentDelete"> 删除</button>
		</div>
		<div class="table-responsive">
		   <table class="table" id="parentTable">
		      <thead>
		         <tr>
		            <th>编号</th>
		            <th>名称</th>
		            <th>类型</th>
		            <th>是否完结</th>
		            <th>描述</th>
		            <th>置顶</th>
		            <th>评论数</th>
		            <th>浏览量</th>
		            <th>收藏数</th>
		            <th>点赞数</th>
		            <th>最新一集</th>
		            <th>最后更新时间</th>
		         </tr>
		      </thead>
		      <tbody>
		         
		      </tbody>
		   </table>
		</div>
		<ul class="pagination" id="pageParent">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	<div class="panel panel-default workContent">
		<div class="panel-body">
			<div class="panel-body" >
				<button type="button" class="btn btn-success" id="childrenAdd"> 添加</button>
				<button type="button" class="btn btn-warning" id="childrenUpdate"> 修改</button>
				<button type="button" class="btn btn-danger" id="childrenDelete"> 删除</button>
			</div>
			<div class="table-responsive">
		   <table class="table" id="parentTable">
		      <thead>
		         <tr>
		            <th>产品</th>
		            <th>付款日期</th>
		            <th>状态</th>
		         </tr>
		      </thead>
		      <tbody>
		         <tr>
		            <th>1</th>
		            <th>2</th>
		            <th>3</th>
		         </tr>
		         <tr>
		            <th>1</th>
		            <th>2</th>
		            <th>3</th>
		         </tr>
		         <tr>
		            <th>1</th>
		            <th>2</th>
		            <th>3</th>
		         </tr>
		      </tbody>
		   </table>
		</div>
		</div>
	</div>
	
	<!-- dialog -->
	<!--对话框$("#dialog").dialog()他就是一个对话框，在页面中就会隐藏--> 
	<div id="dialogParent" style="display: none;"> 
		<form class="form-inline" role="form" action="works/save" method="post" enctype="multipart/form-data">
	        <label for="name">作品名称：</label>
	        <input type="text" id="worksname" name="works.worksname" class="form-control" placeholder="作品名称" required="required"/>
	        </br>
	        <label for="name">作品类别：</label>
	        <input type="text" id="workstype" name="works.workstype" class="form-control" placeholder="作品类别" required="required"/>
	        </br>
	        <label for="name">是否完结：</label>
	        <select id="creativeprocess" name="works.creativeprocess" class="btn btn-default" >
		        <option value="10" selected="selected">创作中</option>
		        <option value="20">已完结</option>
		    </select>
	        </br>
	        <!--TODO 根据用户类型来显示上传图片还是直接贴文件路径-->
			<label for="name">作品封面：</label>
			<input class="form-control" type="file" id="cover" name="cover" accept="image/*" required="required" />
			<br>
			<!-- <label for="name">上传作品：</label>
			<input class="form-control" type="file" id="comic" name="comic" accept="video/*" size="20" maxlength="255" required="required"/>
			<br> -->
			<label for="name">作品描述：</label>
			<textarea rows="5" cols="20" id="describle" name="works.describle">
			</textarea>
	        <!-- <input type="text" id="creativeprocess" name="works.creativeprocess" class="input-block-level" placeholder="创作进程" required="required"/> -->
      	</form>
	</div> 
</body>
</html>