<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的作品</title>
<base href="${core}/" />
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="css/Member.css" rel="stylesheet">
</head>
<script type="text/javascript">
	$(document).ready(function(){
		$('.workContent > div:eq(0)').show();
		$('.workContent a').click(function(){
			$self = $(this);
			$chird = $(' + div',this);
			if($chird.css('display') == 'none'){
				$('.workContent > div').hide();
				$('.workContent a').removeClass('select');
				$chird.show();
				$self.addClass('select');
			}else{
				$chird.hide();
				$self.removeClass('select');
			}
		});
	});
</script>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">选择类型</div>
		<div class="panel-body">
			<label for="name">视频：</label>
			<button class="btn btn-default">搞笑</button>
			<button class="btn btn-default">电影</button>
			<button class="btn btn-default">电视剧</button>
		</div>
		<div class="panel-body">
			<label for="name">漫画：</label>
			<button class="btn btn-default">搞笑</button>
			<button class="btn btn-default">惊恐</button>
			<button class="btn btn-default">限制</button>
		</div>
	</div>
	<div class="panel-body" >
	<button type="button" class="btn btn-primary" data-toggle="button"> 添加</button>
	<button type="button" class="btn btn-info" data-toggle="button"> 修改</button>
	<button type="button" class="btn btn-danger" data-toggle="button"> 删除</button>
	</div>
	
	<div class="panel panel-default workContent">
		<a class="list-group-item">漫画。。。。。。。。
		</a>
		<div class="panel-body" style="display: none;">
			<button class="btn btn-default">章节1</button>
			<button class="btn btn-default">章节2</button>
			<button class="btn btn-default">章节3</button>
			<button class="btn btn-default">章节4</button>
			<button class="btn btn-default">章节5</button>
			<button class="btn btn-default">   +   </button>
		</div>
		<a class="list-group-item">漫画。。。。。。。。
		</a>
		<div class="panel-body" style="display: none;">
			<button class="btn btn-default">章节1</button>
			<button class="btn btn-default">章节2</button>
			<button class="btn btn-default">章节3</button>
			<button class="btn btn-default">章节4</button>
			<button class="btn btn-default">章节5</button>
			<button class="btn btn-default">   +   </button>
		</div>
		<a class="list-group-item">漫画。。。。。。。。
		</a>
		<div class="panel-body" style="display: none;">
			<button class="btn btn-default">章节1</button>
			<button class="btn btn-default">章节2</button>
			<button class="btn btn-default">章节3</button>
			<button class="btn btn-default">章节4</button>
			<button class="btn btn-default">章节5</button>
			<button class="btn btn-default">   +   </button>
		</div>
		<a class="list-group-item">漫画。。。。。。。。
		</a>
		<div class="panel-body" style="display: none;">
			<button class="btn btn-default">章节1</button>
			<button class="btn btn-default">章节2</button>
			<button class="btn btn-default">章节3</button>
			<button class="btn btn-default">章节4</button>
			<button class="btn btn-default">章节5</button>
			<button class="btn btn-default">   +   </button>
		</div>
	</div>
</body>
</html>