<script type="text/javascript">
	$(document).ready(function(){
		$('#editshipin').submit(function(){
			$('buttom[type=submit]',this).attr('disabled',true);
			$(this).ajaxSubmit(function(data){
				if(data.success == 1){
					alert("修改成功!");
					showPage({'flag':0,'type':0,'pageIndex':${pageIndex!}});
				}else{
					alert("修改失败  信息：" + data.message);
					$('buttom[type=submit]',this).removeAttr('disabled');
				}
			});
			return false;
		});
		
		var workstype = '${workstype!}';
		var ispubulic = '${works.ispubulic!}';
		if(workstype != ''){
			$('#editworkstype').val(workstype);
		}
		if(ispubulic != ''){
			$('#editispublic').val(ispubulic);
		}
	});
</script>
<article class="MeArticle">
		<form id="editshipin" action="works/editShipin" method="post" enctype="multipart/form-data">
        <div class="MemberIndex">
          <div class="MeCaption"><a href="javascript:showPage({'flag':0,'type':0,'pageIndex':${pageIndex!}});">视频管理</a> --> <a href="javascript:showPage({'flag':20,'type':0,'pageIndex':${pageIndex!}});">编辑视频</a></div>
          <div class="MeBlock">
          <table border="0" cellspacing="0" cellpadding="0" class="Table_Member">
              <tbody><tr>
                <th><em style="color: red;"> * </em>标题：</th>
                <td><input name="title" type="text" class="input_Member" value="${works.worksname!}" required="required"></td>
              </tr>
              
              <tr>
                <th><em style="color: red;"> * </em>封面：</th>
                <td>
                	<img width="120px" height="100px" alt="${works.worksname!}" src="${works.cover!}" />
                </td>
              </tr>
              <tr>
                <th>修改封面：</th>
                <td>
                	<input name="cover" type="file" class="input_Member" style="width:150px;" required="required">
                </td>
              </tr>
              <tr>
                <th>主角：</th>
                <td>
                	<input name="leadingrole" type="text" value="${works.leadingrole!}" class="input_Member"></td>
                </td>
               <tr>
                <th>简介：</th>
                <td>
                	<textarea name="des" style="padding:10px;" value="${works.describle!}" rows="8" cols="54"></textarea>
                </td>
              </tr>
              <tr>
                <th><em style="color: red;"> * </em>分类：</th>
                <td>
                	<select name="type" id="editworkstype" class="input_Member">
                		<% for(workstype in worksTypes){%>
                			<option value="${workstype.id!}">${workstype.name!}</option>
                		<%}%>
                	</select>
                </td>
              </tr>
              <tr>
                <th><em style="color: red;"> * </em>是否公开：</th>
                <td>
                	<select name="ispublic" id="editispublic" class="input_Member">
                		<option value="1">公开</option>
                		<option value="1">隐藏</option>
                	</select>
                </td>
              </tr>
              <tr>
                <th></th>
                <td>
                	<button  type="submit" class="">提交</button>
                	&nbsp;&nbsp;&nbsp;
                	<button type="submit" class="">取消</button>
				</td>
              </tr>
            </tbody></table>
          </div>
        </div>
        </form>
    </article>