<div><% if(activityApplyPage != null){ layout("/common/page.html",
	{"page":activityApplyPage,"pageAction":pageAction,"fatherNode":fatherNode}
	){} }%></div>
<div>
	<table>
		<thead>
			<tr>
				<td style="width: 250px">用户名</td>
				<td style="width: 250px">消息</td>
				<td style="width: 250px">申请时间</td>
				<td style="width: 250px">用户定制项目数据</td>
				<td style="width: 250px">性别</td>
			</tr>
		</thead>
		<tbody>
			<% for (activityApply in activityApplyPage.list){ %>
			<tr>
				<td>${username!}</td>
				<td>${activityApply.message!}</td>
				<td>${activityApply.dateline!}</td>
				<td>${activityApply.ufielddata!}</td>
				<td>${activityApply.gender!}</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>


