<div class="ForumSubInfo">
   	<span>今日发帖数:${todayCount!}</span>
       <span>昨日发帖数:${yesCount!}</span>
       <span>总帖数:${count!}</span>
       <span>您发帖数:${userCount!}</span>
</div>
<div class="ArticleTitle">
	<img src="./images/FIcon03.png" >${community.title!}
</div>
<div class="ArticleContent">
	<% for (activity in activityPage.list){ %>
		<% class = "";
			if(activityLP.index % 5 ==0){
				class = "ListName font_r";
			} else if (activityLP.index % 4 ==0){
				class = "ListName font_b";
			} else if (activityLP.index % 3 ==0){
				class = "ListName font_ye";
			} else if (activityLP.index % 2 ==0){
				class = "ListName font_gr";
			} else {
				class = "ListName font_Pur";
			}
		%>
		<div class="ForumList" id="moduleHtml">
			<div class="ListPic">
				<img src="${activity.imgurl!}">
			</div>
	        <div class="ListDtl">
	        	<div class="${class!}">
	        		<a href="javascript:void(0)" onclick="findById(this,'${activity.activityid!}','${activity.communityid!}')">${activity.subject!}</a>
	    			<% if(activity.essence == 1) { %>
	    				<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/jing.gif">
	    			<% } %>
	    			<% if(activity.top == 1) { %>
	    				<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/zding.gif?v=1" alt="置顶">
	    			<% } %>
	    		</div>
		        <div>
		        	<span>发起人：${activity.username!}  </span>
		        	<span>报名截止日期：${activity.expiration!}</span>
		        </div>
			</div>
		    <div class="ListDate">
		    	<span class="TotleNum">
		    		<a href="javascript:void(0)" onclick="openApply('${activity.activityid!}')">报名参加</a>
		    	</span>
		        <span id="applyNumber-${activity.activityid!}">已参加人数：${activity.applynumber!}</span>
		   	</div>
		</div>
	<% } %>
	
	<% if(has(activityPage)){ 
		var pageAction = "";
		if(has(communityId)){
			pageAction = "./activity/find?communityId="+communityId;
		}else{
			pageAction = "./activity/find";
		} 
		layout(
			"/common/page.html",
			{
				"page":activityPage,
				"pageAction":pageAction,
				"fatherNode":"#detailContentHtml"
			}
		){} 
	}%>
</div>     
