<% layout("/community/community_layout.html"){ %>
	<article>
		<div class="ForumSubInfo">
			<span>今日发帖数:${todayCount!}</span>
		    <span>昨日发帖数:${yesCount!}</span>
		    <span>总帖数:${count!}</span>
		    <span>您总发帖数:${userCount!}</span>
		</div>
		<div class="ArticleTitle">
			<img src="./images/FIcon03.png" >${communityForumClassify.title!}
		</div>
		<div class="ArticleContent">
			<% for (post in postPage.list){ %>
		    	<% class = "";
		        	if(postLP.index % 5 ==0){
		        		class = "ListName font_r";
		        	} else if (postLP.index % 4 ==0){
		        		class = "ListName font_b";
		        	} else if (postLP.index % 3 ==0){
		        		class = "ListName font_ye";
		        	} else if (postLP.index % 2 ==0){
		        		class = "ListName font_gr";
		        	} else {
		        		class = "ListName font_Pur";
		        	}
		        %>
		       	<div class="ForumList">
		           	<div class="ListPic">
		           		<img src="${post.imgurl!}">
		           	</div>
		        	<div class="ListDtl">
				        <div class="${class!}">
				        	<a href="javascript:void(0)" onclick="skipTheme(this,'${post.postid!}','${post.communityid!}')">${post.subject!}</a>
				       		<% if(post.essence == 1) { %>
				       			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/jing.gif">
				       		<% } %>
				       		<% if(post.top == 1) { %>
				       			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/zding.gif?v=1" alt="置顶">
				       		<% } %>
				        </div>
				        <div>
				       		<span>发帖人姓名：${post.username!}  </span>
				       		<span>发帖时间：${post.dateline!}</span>
				       	</div>
		        	</div>
		            <div class="ListDate">
		            	<span class="TotleNum">${post.times!}</span>
		                <span>${post.viewcount!}</span>
		            </div>
				</div>
			<% } %>
			<% 
				if(!isEmpty(activityPage)){ 
					var pageAction = "";
					if(isEmpty(communityForum)){
						pageAction = "./community/findThemeByForumClassify?communityid=" + communityForumClassify.communityid;
					}else{
						pageAction = "./community/skipForum?communityid=" + communityForum.communityid;
					} 
					layout("/common/page.html",{"page":activityPage,"pageAction":pageAction}){} 
				}
			%>
		</div>
	</article>
<% } %>     
