<% layout("/community/community_layout.html"){ %>
<script src="${core}/js/community.js" type="text/javascript"></script>
	<div class="WelcomInfo">
		<span><a href="#">最新回复</a></span> <span>欢迎新会员：明日骄阳</span>
		<div class="clear"></div>
		<div class="ForumInfo">
			<div>
				今日发帖数<br />
				<span>124343</span>
			</div>
			<div>
				昨日发帖数<br />
				<span>6343324</span>
			</div>
			<div>
				总帖数<br />
				<span>34545</span>
			</div>
			<div style="border: 0px;">
				会员总数<br />
				<span>32454</span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<article>
		<% for(communityFat in communityFatList){ %>
		<div class="ArticleTitle">
			<img src="images/FIcon03.png">${communityFat.title}
		</div>
		<div class="ArticleContent">
			<% for(communitySon in communitySonList){ if(communitySon.pid !=
			communityFat.communityid){continue;}%>
			<div class="ForumSubL">
				<div class="ForumPic">
					<img src="images/FIcon04.png">
				</div>
				<div class="ForumDtl">
					<span class="ForumName"><a href="javascript:void(0)"
						onclick="goToOrderCommunity('${communitySon.actionkey!}','${communitySon.communityid!}')">${communitySon.title!}</a></span>
					<span class="ForumIntro">${communitySon.content!}<br />
					<span>主题：235</span><span> 帖数：2948万</span></span>
				</div>
			</div>
			<% } %>
			<div class="clear"></div>
		</div>
		<% } %>
	</article>
		<aside>
   	<div class="AsideBTitle font_w"><a href="javascript:void(0);" onclick="skipCreate('${communityId!}')">发布主题</a></div>
   </aside>
<% } %>
