<!DOCTYPE html>
<html>
<head>
 <% layout("/community/community_head.html"){} %>
</head>
<body>
	<% layout("/community/community_top.html"){} %>
	<header>
		<% layout("/community/community_header.html"){} %>
	</header>
	<div class="clear"></div>
	<section id="communityLayout">
		${layoutContent}
		<aside id="asideHtml">
 			<% layout("/community/community_aside.html"){} %>	
		</aside>
    	<div class="clear">&nbsp;</div>
	</section>
	<footer>
		<% layout("/common/footer.html"){} %>
	</footer>
</body>
</html>