<aside>
        <div class="AsideContent" id="asideHtml">
        	<div id="showMoreHtml">
        		<% layout(
        			"/community/community_showMore.html",
        			{
        				"communitySonList":communitySonList,
        				"communitySize":9
        			}
        		){} %>
        	</div>
        <div class="SeeMore font_r" id="showMore"><a href="javascript:void(0)" onclick="showMoreCommunity(this)">查看更多论坛版块&gt;&gt;</a></div>
	</div>
        <div class="AsideBTitle font_w"><a href="javascript:void(0)" onclick="goToVentWall()">签到 ${ventWallCount!}人</a></div>
  </aside>
  <div class="clear">&nbsp;</div>