<div class="HeadTop">
	<div class="Logo">
		<a href="index"><img src="http://www.dongmark.com/images/logo.png"></a>
	</div>
    <div class="ForumTop">
    </div>
</div>
<nav>
	<ul class="NavR">
		<li>
			<a href="#"><img src="http://www.dongmark.com/images/FIcon01.png"></a>
			<a href="#"><img src="http://www.dongmark.com/images/FIcon02.png"></a>
		</li>
	</ul>
	<ul class="NavL font_w">       	
       	<%	
       		var menuid = parseInt(menuid);
		   	for(m in topMenuForum){      			
   		   		if (menuid == m.menuid){
   		%>
   				<li class="LiFuc">
   					<a href="${m.actionkey!}?menuid=${m.menuid!}">${m.menuname!}</a>
   				</li>
		<%		} else {	%>	
				<li>
					<a href="${m.actionkey!}?menuid=${m.menuid!}">${m.menuname!}</a>
				</li>
		<% 		
				} 
			} 
		%>
	</ul>
</nav>