<% layout("/community/community_layout.html"){ %>
	<div class="WelcomInfo">
		<div class="clear"></div>
		<div class="ForumInfo">
			<div>
				今日发帖数<br />
				<span>${todayCount!}</span>
			</div>
			<div>
				昨日发帖数<br />
				<span>${yesCount!}</span>
			</div>
			<div>
				总帖数<br />
				<span>${count!}</span>
			</div>
			<div style="border: 0px;">
				您发帖数<br />
				<span>${userCount!}</span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<article>
		<% for(forumClassify in forumClassifyList){ %>
			<div class="ArticleTitle">
				<img src="http://www.dongmark.com/images/FIcon03.png">${forumClassify.title}
			</div>
			<div class="ArticleContent">
				<% 
					for(forum in forumList){
						if(forum.pid != forumClassify.communityid){
							continue;
						}
				%>
				<div class="ForumSubL">
					<div class="ForumPic">
						<img src="http://www.dongmark.com/images/${forum.images!}">
					</div>
					<div class="ForumDtl">
						<span class="ForumName">
							<a href="javascript:void(0)" onclick="skipForum(this,'${forum.communityid!}')">${forum.title!}</a>
						</span>
						<span class="ForumIntro">${forum.content!}<br />
							<% 
								if(!isEmpty(forumCountMap)){
									var forumCount = @forumCountMap.get(forumClassify.communityid + "");
									if(!isEmpty(forumCountMap)){
										var forumData = @forumCount.get(forum.communityid + "");
							%>
								<span>帖数：${forumData.number!}</span>
							<% 		
									}  
								}
							%>
						</span>
					</div>
				</div>
				<% } %>
				<div class="clear"></div>
			</div>
		<% } %>
	</article>
<% } %>
