<% layout("/community/community_layout.html"){ %>
	<article>
		<div class="ForumSubInfo">
			<span>今日发帖数:${todayCount!}</span>
		    <span>昨日发帖数:${yesCount!}</span>
		    <span>总帖数:${count!}</span>
		    <span>您总发帖数:${userCount!}</span>
		</div>
		<div class="ArticleTitle">
			<img src="./images/FIcon03.png" >${communityForumClassify.title!}
		</div>
		<div class="ArticleContent">
		   <% for (treasure in treasurePage.list){ %>
				<% class = "";
				   	if(treasureLP.index % 5 ==0){
				   		class = "ListName font_r";
				   	} else if (treasureLP.index % 4 ==0){
				   		class = "ListName font_b";
				   	} else if (treasureLP.index % 3 ==0){
				   		class = "ListName font_ye";
				   	} else if (treasureLP.index % 2 ==0){
				   		class = "ListName font_gr";
				   	} else {
				   		class = "ListName font_Pur";
				   	}
				%>
				<div class="ForumList">
			    	<div class="ListPic">
			    		<img src="${treasure.imgurl!}">
			    	</div>
			        <div class="ListDtl">
			        	<div class="${class!}">
			        		<a href="javascript:void(0)" onclick="skipTheme(this,'${treasure.treasureid!}','${treasure.communityid!}')">${treasure.subject!}</a>
			            		<% if(treasure.essence == 1) { %>
			            			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/jing.gif">
			            		<% } %>
			            		<% if(treasure.top == 1) { %>
			            			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/zding.gif?v=1" alt="置顶">
			            		<% } %>
			            </div>
		                <div>
		                	<span>发帖人姓名：${treasure.username!}  </span>
		                	<span>发帖时间：${treasure.dateline!}</span>
		                </div>
					</div>
		            <div class="ListDate">
		            	<span class="TotleNum">${treasure.times!}</span>
		                <span>${treasure.viewcount!}</span>
		            </div>
				</div>
		    <% } %>
			<% 
				if(!isEmpty(activityPage)){ 
					var pageAction = "";
					if(isEmpty(communityForum)){
						pageAction = "./community/findThemeByForumClassify?communityid=" + communityForumClassify.communityid;
					}else{
						pageAction = "./community/skipForum?communityid=" + communityForum.communityid;
					} 
					layout("/common/page.html",{"page":activityPage,"pageAction":pageAction}){} 
				}
			%>
		</div>
	</article>
<% } %>     
