<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>发表帖子</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<form class="form-signin" action="post/create" method="post">

		<div class="control-group" hidden="block">
			<label class="control-label">社区ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="post.communityid" value="${communityId!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.subject" value="${post.subject!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">发帖时间<span class="required">*</span></label>
			<div class="controls">
				<input type="datetime" name="post.dateline"
					value="${post.dateline!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">帖子内容<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.message" value="${post.message!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否匿名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.anonymous" value="${post.anonymous!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否启用签名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.usesig" value="${post.usesig!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否有附件<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.attachment"
					value="${post.attachment!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
</body>
</html>