<link rel="stylesheet" href="css/jquery-ui-1.9.2.custom.css" type="text/css"></link>

<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="js/jquery-ui.js"></script> 
<script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	$(document).ready(function() {   
		$('#starttimefrom').datetimepicker({
			dateFormat: "yy-mm-dd",
			timeFormat: 'HH:mm:ss'
		});
		$('#starttimeto').datetimepicker({
			dateFormat: "yy-mm-dd",
			timeFormat: 'HH:mm:ss'
		});
		$('#expiration').datetimepicker({
			dateFormat: "yy-mm-dd",
			timeFormat: 'HH:mm:ss'
		});
	});
</script>
<article>
	<form action="#" method="post" id="createHtml">
		<div class="control-group" hidden="block">
			社区ID <input type="hidden" name="activity.communityid"
				value="${communityId!}" />
		</div>

		<div class="control-group">
			标题 <input type="text" name="activity.subject"
				value="${activity.subject!}" />
		</div>

		<div class="control-group">
			开始时间 <input type="text" name="activity.starttimefrom"
				value="${activity.starttimefrom!}" id="starttimefrom" readonly="readonly"/>
		</div>

		<div class="control-group">
			结束时间 <input type="text" name="activity.starttimeto"
				value="${activity.starttimeto!}" id="starttimeto" readonly="readonly"/>
		</div>

		<div class="control-group">
			地点 <input type="text" name="activity.place"
				value="${activity.place!}" />
		</div>

		<div class="control-group">
			类别 <input type="text" name="activity.classtype"
				value="${activity.classtype!}" />
		</div>

		<div class="control-group">
			性别要求
			<% if(has(genderList)){ for(codeTable in genderList) { %>
				<input type="radio" name="activity.gender" value="${codeTable.codekey!}" />${codeTable.codevalue!}
			<% } }%>
				<input type="radio" name="activity.gender" value="2" />无
		</div>

		<div class="control-group">
			上线人数 <input type="number" name="activity.number"
				value="${activity.number!}"/>
		</div>

		<div class="control-group">
			报名截止日期 <input type="text" name="activity.expiration"
				id="expiration" value="${activity.expiration!}" />
		</div>

		<div class="control-group">
			活动详细内容<textarea name="ckeditor" id="ckeditor"></textarea>
			<script type="text/javascript">CKEDITOR.replace('ckeditor');</script>
			 <input type="text" name="activity.message" id="message"
				value="${activity.message!}" hidden="block"/>
		</div>

		<div class="form-actions">
			<button type="button" class="btn btn-primary"
				onclick="submitCreate(this,'${communityId!}')">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
</article>
