<!DOCTYPE html>
<html>
<head>
<title>报名参与</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/activity.js"></script>
</head>

<body>
	<form action="#"
		id="createActivityApplyHtml" method="post" >

		<div class="control-group" hidden="block">
			<label class="control-label">申请ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="activitApply.activityapplyid"
					value="${activityApply.activityapplyid!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">消息、留言<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="activityApply.message"
					value="${activityApply.message!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">申请时间<span class="required">*</span></label>
			<div class="controls">
				<input type="datetime" name="activityApply.dateline"
					value="${activityApply.dateline!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">用户定制项目数据<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="activityApply.ufielddata"
					value="${activityApply.ufielddata!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">性别<span class="required">*</span></label>
			<div class="controls">
				<input type="radio" name="activityApply.gender" value="0"
					class="span6 m-wrap" />Man
			</div>
			<div class="controls">
				<input type="radio" name="activityApply.gender" value="1"
					class="span6 m-wrap" />FeMan
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">证件类型<span class="required">*</span></label>
			<div class="controls">
				<input type="radio" name="activityApply.papers" value="0"
					class="span6 m-wrap" />身份证
			</div>
			<div class="controls">
				<input type="radio" name="activityApply.papers" value="1"
					class="span6 m-wrap" />学生证
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">证件号码<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="activityApply.papersid"
					value="${activityApply.papersid!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="form-actions">
			<button type="button" class="btn btn-primary" onclick="submitApp(this,${activityId!})">提交</button>
			<button type="button" class="btn" onClick='window.close()'>取消</button>
		</div>
	</form>
</body>

</html>