	<form action="post/create" method="post" id="createPostHtml">

		<div class="control-group" hidden="block">
			<label class="control-label">社区ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="post.communityid" value="${communityId!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.subject" value="${post.subject!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">帖子内容<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.message" value="${post.message!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否匿名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.anonymous" value="${post.anonymous!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="form-actions">
			<button type="button" class="btn btn-primary" onclick="submitPost(this)">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
