	<div class="ForumTheme">
        	<div class="ListPic"><img src="images/qq4.jpg"></div>
                <div class="ListDtl">
                	<div class="ListName"><a href="#">${activity.subject!}</a></div>
                     <div class="font_9">
                    	<span><a href="#">楼主：${activity.userid!}</a></span>
                        <span>开始时间：${activity.starttimefrom!}</span>
                        <span>结束时间：${activity.starttimeto!}</span>
                    </div>
                </div>
    </div>
	<div class="clear"></div> 
	
<div id="replyComments">
		<div class="ForumBody">
        	<div class="FBodyTop"></div>
            <div class="FBodyContent">
            	<span>活动地点：${activity.place!}</span>
            	<span>活动类别：${activity.clasee!}</span>
            	<span>报名截止日期：${activity.expiration!}</span>
            	${activity.ufield!}
            	
            </div>
             <div id="page">
			<% if(activityApplyPage != null){
			layout(
				"/community/activityApplyPage.html",
				{
					"activityApplyPage":activityApplyPage,
					"pageAction":"./activityApply/findByActivityId?activityId="+activity.activityid,
					"fatherNode":"#page"
				} 
			){} 
			}%></div>
            <div class="FBodyBottom font_9">
			<span class="FL"><a href="javascript:void(0);" onclick="showCkeditor(this)" id="reply">回复</a></span>
			</div>
            <div class="clear"></div>
      </div>
      <div class="ForumInfoA">共3个关于厦门海沧镇拆迁办及城管纠集100人殴打 无辜群众及村民、老人的回复，最后回复于14分钟前</div>
      <div id="commentHtml">
      		<% if(commentPage != null && activity.activityid != null){ 
				layout(
				"/comment/comment.html",
				{
				"commentPage":commentPage,
				"targetId":activity.activityid,
				"commentAction":"./activity/replyComment?activityId="+activity.activityid,
				"followAction":"./activity/replyFollow?activityId="+activity.activityid,
				"pageAction":"./activity/findCommentByActivityId?targetId="+activity.activityid+"&activityId="+activity.activityid,
				"fatherNode":"#commentHtml"
				}
				){}
			}%>
	</div>
	<div class="PiecesText" id="commentForm">
   				<% if(activity.activityid != null){ 
					layout(
					"/common/ckeditor.html",
					{
					"targetId":activity.activityid,
					"ckeditorAction":"./activity/replyComment?activityId="+activity.activityid,
					"ckeditorNode":"#replyComments",
					"commentAction":"./activity/replyComment?activityId="+activity.activityid,
					"followAction":"./activity/replyFollow?activityId="+activity.activityid,
					"pageAction":"./activity/findCommentByActivityId?targetId="+activity.activityid+"&activityId="+activity.activityid,
					"fatherNode":"#commentHtml"
					}
				){}
				}%>
	</div>
</div>
