		<div class="ForumPath">
        	<a href="javascript:void(0)" onclick="goToHomeForum('${communityFat.actionkey!}')">${communityFat.title}</a>
        	/<a href="javascript:void(0)" onclick="goToOrderForum(this,${communitySon.communityid!})">${communitySon.title}</a>
    	</div>
		<div class="ForumTheme">
        	<div class="ListPic"><img src="/http://www.dongmark.com/images/qq4.jpg"></div>
                <div class="ListDtl">
                	<div class="ListName"><a href="#">${treasure.subject!}</a></div>
                     <div class="font_9">
                    	<span><a href="#">楼主：${treasure.treasureid!}</a></span>
                        <span>发表时间：${treasure.dateline!}</span>
                        <% if(treasure.top == 0){ %>
                        	<span><a href="javascript:void(0)" onclick="setTop(this,${treasure.treasureid!})">置顶</a></span>
                        <% } %>
                        <% if(treasure.essence == 0){ %>
                        	<span><a href="javascript:void(0)" onclick="setEssence(this,${treasure.treasureid!})">精华</a></span>
                        <% } %>	
                    </div>
                </div>
        </div>
		<div class="clear"></div> 
	<div id="replyComments">
		<div class="ForumBody">
            <div class="FBodyContent">${treasure.message!}</div>
            <div class="FBodyBottom font_9">
            	<span class="FL"><a href="javascript:void(0);" onclick="showCkeditor(this)" id="reply">回复</a></span>
            </div>
            <div class="clear"></div>
      </div>
      <div class="ForumInfoA">共3个关于厦门海沧镇拆迁办及城管纠集100人殴打 无辜群众及村民、老人的回复，最后回复于14分钟前</div>
      <div id="commentHtml"><% if(commentPage != null && treasure.treasureid != null){ 
					layout(
					"/comment/comment.html",
					{
					"commentPage":commentPage,
					"targetId":treasure.treasureid,
					"commentAction":"./treasure/replyComment?treasureId="+treasure.treasureid,
					"followAction":"./treasure/replyFollow?treasureId="+treasure.treasureid,
					"pageAction":"./treasure/findCommentByTreasureId?targetId="+treasure.treasureid+"&treasureId="+treasure.treasureid,
					"fatherNode":"#commentHtml"
					}
					){}
				}%>
	</div>
   <div class="PiecesText" id="commentForm">
   <% if(treasure.treasureid != null){ 
					layout(
					"/common/ckeditor.html",
					{
					"targetId":treasure.treasureid,
					"ckeditorAction":"./treasure/replyComment?treasureId="+treasure.treasureid,
					"ckeditorNode":"#replyComments",
					"commentAction":"./treasure/replyComment?treasureId="+treasure.treasureid,
					"followAction":"./treasure/replyFollow?treasureId="+treasure.treasureid,
					"pageAction":"./treasure/findCommentByTreasureId?targetId="+treasure.treasureid+"&treasureId="+treasure.treasureid,
					"fatherNode":"#commentHtml"
					}
					){}
				}%>
	</div>
</div>		
