		<div class="ForumTheme">
        	<div class="ListPic"><img src="../images/qq4.jpg"></div>
                <div class="ListDtl">
                	<div class="ListName"><a href="#">${post.subject!}</a></div>
                     <div class="font_9">
                    	<span><a href="#">楼主：${post.postid!}</a></span>
                        <span>发表时间：${post.dateline!}</span>
                    </div>
                </div>
        </div>
		<div class="clear"></div> 
	<div id="replyComments">
		<div class="ForumBody">
        	<div class="FBodyTop"><a href="#"><img src="../images/FIcon06.png"></a><a href="#"><img src="../images/FIcon05.png"></a></div>
            <div class="FBodyContent">${post.message!}</div>
            <div class="FBodyBottom font_9">
            	<% if(post.postid != null){ 
					layout(
					"/common/ckeditor.html",
					{
					"targetId":post.postid,
					"ckeditorAction":"./post/replyComment?postId="+post.postid,
					"ckeditorNode":"#replyComments",
					"commentAction":"./post/replyComment?postId="+post.postid,
					"followAction":"./post/replyFollow?postId="+post.postid,
					"pageAction":"./post/findCommentByPostId?targetId="+post.postid+"&postId="+post.postid,
					"fatherNode":"#commentHtml"
					}
					){}
				}%>
            </div>
            <div class="clear"></div>
      </div>
      <div class="ForumInfoA">共3个关于厦门海沧镇拆迁办及城管纠集100人殴打 无辜群众及村民、老人的回复，最后回复于14分钟前</div>
      <div id="commentHtml"><% if(commentPage != null && post.postid != null){ 
					layout(
					"/comment/comment.html",
					{
					"commentPage":commentPage,
					"targetId":post.postid,
					"commentAction":"./post/replyComment?postId="+post.postid,
					"followAction":"./post/replyFollow?postId="+post.postid,
					"pageAction":"./post/findCommentByPostId?targetId="+post.postid+"&postId="+post.postid,
					"fatherNode":"#commentHtml"
					}
					){}
				}%></div>
   </div>
		
