<% layout("/community/community_layout.html"){ %>
<script src="${core}/js/post.js" type="text/javascript"></script>
<section>
	<div id="page">
	<% if(postPage != null){
	layout("/community/postPage.html", {"postPage":postPage} ){} }%>
</div>
  <aside>
   	<div class="AsideBTitle font_w"><a href="javascript:void(0);" onclick="skipCreate('${communityId!}')">发布主题</a></div>
        <div class="AsideContent">
       	  <a href="#" class="AL">版块推荐</a>
          <a href="#" class="AR">百宝箱</a>
          <a href="#" class="AL">无土栽培</a>
          <a href="#" class="AR">创意家居</a>
          <a href="#" class="AL">谈天说地</a>
          <a href="#" class="AR">物尽其用</a>
            <a href="#" class="AL">无土栽培</a>
            <a href="#" class="AR">创意家居</a>
            <a href="#" class="AL">谈天说地</a>
            <a href="#" class="AR">物尽其用</a>
            <a href="#" class="AL">无土栽培</a>
            <a href="#" class="AR">创意家居</a>
            <a href="#" class="AL">谈天说地</a>
            <a href="#" class="AR">物尽其用</a>
          <div class="SeeMore font_r"><a href="#">查看更多论坛版块&gt;&gt;</a></div>
        </div>
        <div class="AsideBTitle font_w">签到 29485475人</div>
    	<div class="AsideTitle"><a href="#">更多 &gt;&gt;</a>精彩推荐</div>
        <div class="AsideContent">
   	 		<div class="FExc">
            <img src="../images/FPic01.png"><br />
            事件名称
            </div>
            <div class="FExcContent">
            事件说明，这里是事件说明，说明哦，清楚，简明扼要事件说明，这里是事件说明，说明哦，清楚，简
            </div>
            <div class="FExc">
            <img src="../images/FPic01.png"><br />
            事件名称
            </div>
            <div class="FExcContent">
            事件说明，这里是事件说明，说明哦，清楚，简明扼要事件说明，这里是事件说明，说明哦，清楚，简
            </div>
            <div class="FExc">
            <img src="../images/FPic01.png"><br />
            事件名称
            </div>
            <div class="FExcContent">
            事件说明，这里是事件说明，说明哦，清楚，简明扼要事件说明，这里是事件说明，说明哦，清楚，简
            </div>
        </div>
        
    	<div class="AsideTitle"><a href="#">更多 &gt;&gt;</a>热点动态</div>
        <div class="AsideContent">
        <ul class="AsideLi">
        	<li><a href="#">厦门摆地摊卖什么好  </a></li>
            <li><a href="#">做生意的良心哪去了  </a></li>
            <li><a href="#">为嘛又让我碰到在BRT吐的事件</a></li>
            <li><a href="#">求助：如此老板。。。。  </a></li>
            <li><a href="#">厦门摆地摊卖什么好  </a></li>
            <li><a href="#">做生意的良心哪去了  </a></li>
            <li><a href="#">为嘛又让我碰到在BRT吐的事件</a></li>
        </ul>
        </div>   
    <div class="AsideTitle">关注我们</div>
        <div class="AsideContent">
        	<div class="Fweixin">
            <img src="../images/FPic02.png">
            </div>
        </div>
  </aside>
    <div class="clear">&nbsp;</div>
</section>
<% } %>