<article id="selectCommuntiyHtml" >
	<div class="ForumReply">
		<table id="table" border="0" cellspacing="0" cellpadding="0" class="Table_Forum">
			<tr>
				
				<th>版块：</th>
				<td>
					<select name="" id="first" onchange="selectFirst(this)" class="input_Forum">
						<option value="">
						<% for( communityFat in communityFatList) { %>
							<option value="${communityFat.communityid!}">${communityFat.title!}
						<% } %>
					</select>
				</td>
			</tr>
			<tr id="son" >
				<% if(has(communitySonList)){
					layout("/community/selectCommunitySon.html", {"communitySonList":communitySonList} ){} 
				}%>
			</tr>
		</table>
	</div>
	<div id="showCommunity">
	</div>
</article>
