
<!DOCTYPE html>
<html>
<head>
<title>宝贝信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<script type="text/javascript" language="text/javascript">
	function goToPageSize(pageSize) {
		location.href = "./treasure/find?pageSize=" + pageSize
				+ "&pageNumber=1";
	};

	function pageSize(pageSize) {
		var obj = document.getElementById('pageSize');
		for (var i = 0; i < obj.length; i++) {
			if (pageSize == obj.options[i].value) {
				obj.options[i].selected = true;
			} else {
				obj.options[i].selected = false;
			}

		}
	}
</script>

</head>

<body onload="pageSize(${page.pageSize!})">
	<form action="treasure/save" id="treasure_save" class="form-horizontal"
		method="post">
		<div class="control-group">
			<h1>
				<a href="./treasure/skipCreate">发表宝贝 </a>
			</h1>
			<h1>
				<a href="./treasure/findByUserId">我的宝贝</a>
			</h1>
			<hr>
			每页<select name="pageSize" id="pageSize"
				onchange="goToPageSize(this.value)">
				<option value="10" selected="true">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="80">80</option>
				<option value="100">100</option>
			</select>条&nbsp;共${page.totalRow!}条&nbsp;第${page.pageNumber!}
			/${page.totalPage!}页 <a
				href="./treasure/find?pageNumber=1&pageSize=${page.pageSize!}">首页</a>
			<a
				href="./treasure/find?pageNumber=${page.pageNumber!-1<1?1:page.pageNumber!-1}&pageSize=${page.pageSize!}">上页</a>
			<a
				href="./treasure/find?pageNumber=${page.pageNumber!+1>page.totalPage!?page.totalPage!:page.pageNumber!+1}&pageSize=${page.pageSize!}">下页</a>
			<a
				href="./treasure/find?pageNumber=${page.totalPage!}&pageSize=${page.pageSize!}">末页</a>
			<table>
				<thead>
					<tr>
						<td style="width: 250px">作者姓名</td>
						<td style="width: 250px">标题</td>
						<td style="width: 250px">发表时间</td>
						<td style="width: 250px">内容</td>
						<td style="width: 250px">评分次数</td>
						<td style="width: 250px">状态</td>
					</tr>
				</thead>
				<tbody>
					<% for (treasure in page.list){ %>
					<tr>
						<td>${treasure.author!}</td>
						<td><a
							href="./treasure/findById?treasureId=${treasure.treasureid!}">${treasure.subject!}</a></td>
						<td>${treasure.dateline!}</td>
						<td>${treasure.message!}</td>
						<td>${treasure.ratetimes!}</td>
						<td>${treasure.status!}</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>


		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="button" class="btn">取消</button>
		</div>
	</form>
</body>

</html>