
    	<div class="ForumSubInfo">
        	<span>今日发帖数:${todayCount!}</span>
            <span>昨日发帖数:${yesCount!}</span>
            <span>总帖数:${count!}</span>
            <span>会员总数:${userCount!}</span>
        </div>
        <div class="ArticleTitle"><img src="/http://www.dongmark.com/images/FIcon03.png" >HIGH豆官方社区</div>
        <div class="ArticleContent">
        <% for (treasure in treasurePage.list){ %>
        <% class = "";
        	if(treasureLP.index % 5 ==0){
        		class = "ListName font_r";
        	} else if (treasureLP.index % 4 ==0){
        		class = "ListName font_b";
        	} else if (treasureLP.index % 3 ==0){
        		class = "ListName font_ye";
        	} else if (treasureLP.index % 2 ==0){
        		class = "ListName font_gr";
        	} else {
        		class = "ListName font_Pur";
        	}
        %>
       	  <div class="ForumList">
            	<div class="ListPic"><img src="http://www.dongmark.com/images/bg_Me.png"></div>
                <div class="ListDtl">
                	<div class="${class!}">
                		<a href="javascript:void(0)" onclick="findById(this,'${treasure.treasureid!}','${treasure.communityid!}')">${treasure.subject!}</a>
                		<% if(treasure.essence) { %>
                			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/jing.gif">
                		<% } %>
                		<% if(treasure.top) { %>
                			<img src="http://tb1.bdstatic.com/tb/static-frs/img/icon_bright/zding.gif?v=1" alt="置顶">
                		<% } %>
                	</div>
                    <div>
                    	<span>发帖人姓名：${treasure.userid!}  </span>
                    	<span>发帖时间：${treasure.dateline!}</span>
                    </div>
                </div>
                <div class="ListDate">
                	<span class="TotleNum">${treasure.times!}</span>
                    <span>${treasure.viewcount!}</span>
                </div>
            </div>
        <% } %>

		<% if(has(treasurePage)){
				var pageAction = "";
				if(has(communityId)){
					pageAction = "./treasure/find?communityId="+communityId;
				}else{
					pageAction = "./treasure/find";
				} 
				layout(
					"/common/page.html",
					{
						"page":treasurePage,
						"pageAction":pageAction,
						"fatherNode":"#detailContentHtml"
					}
			){} 
		}%>
	</div>     
