<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('form :input[required=required]').each(function(){
	        var $required = $("<span class='font_r' style=\"color: red\"> *</span>"); //创建元素
	        $(this).parent().append($required); //然后将它追加到文档中
	    });
	});
	
	 //文本框失去焦点后
    $('form :input').blur(function(){
       	var $parent = $(this).parent();
        $parent.find(".font_r").remove();
      	//标题验证
        if($(this).is('#subject')){
        	if( this.value=="" ){
        	    var errorMsg = '标题不能为空';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        	    var okMsg = '输入正确';
             $parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
       	   	}
        }
    });
</script>
<article>
	<div class="ForumReply">
		<form action="#" method="post" id="createHtml">
		
      		<table border="0" cellspacing="0" cellpadding="0" class="Table_Forum">
              	<tr>
               	 	<th>标题：</th>
                	<td><input id="subject" name="ofWonders.subject" type="text" class="input_Forum" value="${ofWonders.subject!}" required="required"></td>
              	</tr>
            </table>
            <div class="ForumInfoA font_str">活动详细内容：</div>
      		<div class="WhiteBg" style="height: 300px;padding: 30px;">
      			<textarea name="ckeditor" id="ckeditor"></textarea>
				<script type="text/javascript">CKEDITOR.replace('ckeditor');</script>
				<input type="text" name="ofWonders.message" id="message" value="${ofWonders.message!}" hidden="block" />
      		</div> 
      		<div class="ForumButton font_w">
      			<a href="javascript:void(0)" class="Fsubmit" onclick="submitOfWonders(this,'${wondersTypeId!}')">确定发布</a>
        		<a href="javascript:void(0)" class="Freset">取消发布</a>
     		</div>
		</form>
	</div>
</article>
