<title>动漫方舟</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="css/Cartoon.css" rel="stylesheet" type="text/css">
<link href="css/Forum.css" rel="stylesheet" type="text/css">

<script src="js/wondersType.js" type="text/javascript"></script>
<script src="js/comment.js" type="text/javascript"></script>

<script src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>






