<% layout("/common/layout.html"){ %>
	<link href="css/ofWonders.css" rel="stylesheet" type="text/css">
	
	<script src="js/wondersType.js" type="text/javascript"></script>
	<script src="js/comment.js" type="text/javascript"></script>
	
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/jquery.form.js"></script>
	<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
	<section id="wondersTypeLayout">
		<div id="baseWondersType">
			${layoutContent}
		</div>
			<% layout("/wondersType/wondersType_aside.html"){} %>
	</section>
<%}%>