<footer>
  <div class="Link">
    
      <div class="Partners">
      	<div class="CartoonTitleC">合作专区</div>
        <a href="#"><img src="../images/Plogo1.png"><br />贝小兔儿童乐园</a>
        <a href="#"><img src="../images/Plogo2.png"><br />秦时明月页游</a>
        <a href="#"><img src="../images/Plogo3.png"><br />暴走漫画</a>
        <a href="#"><img src="../images/Plogo1.png"><br />贝小兔儿童乐园</a>
        <a href="#"><img src="../images/Plogo2.png"><br />秦时明月页游</a>
        <a href="#"><img src="../images/Plogo3.png"><br />暴走漫画</a>
        <a href="#"><img src="../images/Plogo1.png"><br />贝小兔儿童乐园</a>
        <a href="#"><img src="../images/Plogo2.png"><br />秦时明月页游</a>
      </div>
      <div class="LinUs">
      	<div class="CartoonTitleC">联系我们</div>
        <ul>
        	<li>内容合作：0592-2577888</li>
            <li>联系邮箱：contactUs@ritoinfo.com</li>
            <li>官方微博：http://weibo.qxzhen.com</li>
            <li>官方微信：w12585343545</li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="FooterZoom">
    	<div class="FooterBorder">
            <div class="FooterLogo">
            	<a href="#"><img src="../images/logoBottom.png"></a>
            </div>
            <div class="FooterLink">
                <span class="font_str">旗下网站</span><a href="#">动漫方舟</a>|<a href="#">金樽动漫</a>|<a href="#">动漫方舟</a>|
                <a href="#">金樽动漫</a>
            </div>
        </div>
    </div>
</footer>