/* 新栅格系统*/ 
.yk-w970 .yk-w970-col18,.yk-w970 .yk-w970-col17,.yk-w970 .yk-w970-col16,.yk-w970 .yk-w970-col15,.yk-w970 .yk-w970-col14,.yk-w970 .yk-w970-col13,.yk-w970 .yk-w970-col12,.yk-w970 .yk-w970-col11,.yk-w970 .yk-w970-col10,.yk-w970 .yk-w970-col9,.yk-w970 .yk-w970-col8,.yk-w970 .yk-w970-col7,.yk-w970 .yk-w970-col6,.yk-w970 .yk-w970-col5,.yk-w970 .yk-w970-col4,.yk-w970 .yk-w970-col3,.yk-w970 .yk-w970-col2,.yk-w970 .yk-w970-col1 {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  _display: inline;
}
.yk-w970 .yk-con, .yk-w970 .yk-AD-tong {
  width: 970px;
}
.yk-w1190 .yk-w1190-col22,.yk-w1190 .yk-w1190-col21,.yk-w1190 .yk-w1190-col20,.yk-w1190 .yk-w1190-col19,.yk-w1190 .yk-w1190-col18,.yk-w1190 .yk-w1190-col17,.yk-w1190 .yk-w1190-col16,.yk-w1190 .yk-w1190-col15,.yk-w1190 .yk-w1190-col14,.yk-w1190 .yk-w1190-col13,.yk-w1190 .yk-w1190-col12,.yk-w1190 .yk-w1190-col11,.yk-w1190 .yk-w1190-col10,.yk-w1190 .yk-w1190-col9,.yk-w1190 .yk-w1190-col8,.yk-w1190 .yk-w1190-col7,.yk-w1190 .yk-w1190-col6,.yk-w1190 .yk-w1190-col5,.yk-w1190 .yk-w1190-col4,.yk-w1190 .yk-w1190-col3,.yk-w1190 .yk-w1190-col2,.yk-w1190 .yk-w1190-col1 {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  _display: inline;
}
.yk-w1190 .yk-con, .yk-w190 .yk-AD-tong{
  width: 1190px;
}
.yk-w970 .yk-w970-col1, .yk-w1190 .yk-w1190-col1 {
  width: 35px;
}
.yk-w970 .yk-w970-col2, .yk-w1190 .yk-w1190-col2 {
  width: 90px;
}
.yk-w970 .yk-w970-col3, .yk-w1190 .yk-w1190-col3 {
  width: 145px;
}
.yk-w970 .yk-w970-col4, .yk-w1190 .yk-w1190-col4 {
  width: 200px;
}
.yk-w970 .yk-w970-col5, .yk-w1190 .yk-w1190-col5 {
  width: 255px;
}
.yk-w970 .yk-w970-col6, .yk-w1190 .yk-w1190-col6 {
  width: 310px;
}
.yk-w970 .yk-w970-col7, .yk-w1190 .yk-w1190-col7 {
  width: 365px;
}
.yk-w970 .yk-w970-col8, .yk-w1190 .yk-w1190-col8 {
  width: 420px;
}
.yk-w970 .yk-w970-col9, .yk-w1190 .yk-w1190-col9 {
  width: 475px;
}
.yk-w970 .yk-w970-col10, .yk-w1190 .yk-w1190-col10 {
  width: 530px;
}
.yk-w970 .yk-w970-col11, .yk-w1190 .yk-w1190-col11 {
  width: 585px;
}
.yk-w970 .yk-w970-col12, .yk-w1190 .yk-w1190-col12 {
  width: 640px;
}
.yk-w970 .yk-w970-col13, .yk-w1190 .yk-w1190-col13 {
  width: 695px;
}
.yk-w970 .yk-w970-col14, .yk-w1190 .yk-w1190-col14 {
  width: 750px;
}
.yk-w970 .yk-w970-col15, .yk-w1190 .yk-w1190-col15 {
  width: 805px;
}
.yk-w970 .yk-w970-col16, .yk-w1190 .yk-w1190-col16 {
  width: 860px;
}
.yk-w970 .yk-w970-col17, .yk-w1190 .yk-w1190-col17 {
  width: 915px;
}
.yk-w970 .yk-w970-col18, .yk-w1190 .yk-w1190-col18, .yk-w970 .yk-tong{
  width: 970px;
}
.yk-w970 .yk-w970-col19, .yk-w1190 .yk-w1190-col19 {
  width: 1025px;
}
.yk-w970 .yk-w970-col20, .yk-w1190 .yk-w1190-col20 {
  width: 1080px;
}
.yk-w970 .yk-w970-col21, .yk-w1190 .yk-w1190-col21 {
  width: 1135px;
}
.yk-w970 .yk-w970-col22, .yk-w1190 .yk-w1190-col22, .yk-w1190 .yk-tong{
  width: 1190px;
}
.yk-w970 .yk-w970-hide,
.yk-w1190 .yk-w1190-hide {
  display: none;
  visibility: hidden;
}

.yk-col1, .yk-col2, .yk-col3, .yk-col4, .yk-col5, .yk-col6, .yk-col7, .yk-col8, .yk-col9, .yk-col10, .yk-col11, .yk-col12, .yk-col13, .yk-col14, .yk-col15, .yk-col16, .yk-col17, .yk-col18, .yk-col19, .yk-col20, .yk-col21, .yk-col22 {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
}
.yk-col22 {
  width: 1190px;
}
.yk-col21 {
  width: 1135px;
}
.yk-col20 {
  width: 1080px;
}
.yk-col19 {
  width: 1025px;
}
.yk-col18 {
  width: 970px;
}
.yk-col17 {
  width: 915px;
}
.yk-col16 {
  width: 860px;
}
.yk-col15 {
  width: 805px;
}
.yk-col14 {
  width: 750px;
}
.yk-col13 {
  width: 695px;
}
.yk-col12 {
  width: 640px;
}
.yk-col11 {
  width: 585px;
}
.yk-col10 {
  width: 530px;
}
.yk-col9 {
  width: 475px;
}
.yk-col8 {
  width: 420px;
}
.yk-col7 {
  width: 365px;
}
.yk-col6 {
  width: 310px;
}
.yk-col5 {
  width: 255px;
}
.yk-col4 {
  width: 200px;
}
.yk-col3 {
  width: 145px;
}
.yk-col2 {
  width: 90px;
}
.yk-col1 {
  width: 35px;
}
.yk-row {
  margin-left: -10px;
  margin-right: -10px;
  *zoom: 1;
  *display: inline;
  *font-size:0;
}
.yk-row:before,
.yk-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.yk-row:after {
  clear: both;
}
.yk-row:before,
.yk-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.yk-row:after {
  clear: both;
}
.yk-row:before,
.yk-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.yk-row:after {
  clear: both;
}
.yk-con {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}
.yk-row .yk-offset22 {
  margin-left: 1220px;
}
.yk-row .yk-offset21 {
  margin-left: 1165px;
}
.yk-row .yk-offset20 {
  margin-left: 1110px;
}
.yk-row .yk-offset19 {
  margin-left: 1055px;
}
.yk-row .yk-offset18 {
  margin-left: 1000px;
}
.yk-row .yk-offset17 {
  margin-left: 945px;
}
.yk-row .yk-offset16 {
  margin-left: 890px;
}
.yk-row .yk-offset15 {
  margin-left: 835px;
}
.yk-row .yk-offset14 {
  margin-left: 780px;
}
.yk-row .yk-offset13 {
  margin-left: 725px;
}
.yk-row .yk-offset12 {
  margin-left: 670px;
}
.yk-row .yk-offset11 {
  margin-left: 615px;
}
.yk-row .yk-offset10 {
  margin-left: 560px;
}
.yk-row .yk-offset9 {
  margin-left: 505px;
}
.yk-row .yk-offset8 {
  margin-left: 450px;
}
.yk-row .yk-offset7 {
  margin-left: 395px;
}
.yk-row .yk-offset6 {
  margin-left: 340px;
}
.yk-row .yk-offset5 {
  margin-left: 285px;
}
.yk-row .yk-offset4 {
  margin-left: 230px;
}
.yk-row .yk-offset3 {
  margin-left: 175px;
}
.yk-row .yk-offset2 {
  margin-left: 120px;
}
.yk-row .yk-offset1 {
  margin-left: 65px;
}