<% layout("/common/layout.html"){ %>
<script type="text/javascript">
	$(document).ready(function(){
		$('span.Good').click(function(){
			var pid = $(this).attr('pid');
			if ($(this).css('color')=='red'){ return false }
			$.ajax({
				url:'cartoon/pointPraise',
				data:'id=' + pid,
				success:function(){
				}
			});
			$(this).css({'color':'red'});
			$('a',this).css({'background':'url(http://www.dongmark.com/images/icon11.png) left center no-repeat'});
		});
	});
</script>
<section>
	<div class="CartoonTitle">${works.worksname!}-${work.workname!}</div>
	<div class="PlayZoom">
	  <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="800" height="500"
	   poster="${works.cover!}" data-setup="{}">
  			<source src="${work.comic!}" type='video/mp4' />
  			<!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track> Tracks need an ending tag thanks to IE9 -->
  			<!-- <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> Tracks need an ending tag thanks to IE9 -->
	  </video>
	</div>
      <div class="PlayControl"> 
        <span class="Good" pid="${works.worksid!}"><a>点赞</a></span>
        <span class="Argument"><a href="#">评论</a></span>
      </div>
      <div class="bshare-custom" align="right"><div class="bsPromo bsPromo2"></div><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count" style="float: none;">32.6K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>  
      
</section>
<% } %>
