<% layout("/common/layout.html"){ %>
<section class="List" id="page">
	<div class="CartoonTitle">原创动漫</div>
    <div class="CartoonContent">
    	<% for (works in pageList.list){ %>
        <div class="CartoonSub">
            <img src="${works.cover!}">
            <div class="CartoonName"><a href="#">${works.worksname!}</a></div>
            <div class="CartoonInfo">
               <span class="FloatL">${works.pageviews!}</span>
               <span class="FloatR">${works.praise!}</span>
            </div>
            <div class="CartoonSubFootbar">${works.worksname!}</div>
        </div>
        <% } %>
     </div> 
     <% if(pageList != null){ layout("/common/page.html",
			{"page":pageList,"pageAction":"/cartoon","fatherNode":"#page"}
			){} }%>
</section>
<% } %> 