<% layout("/cartoon/cartoon_layout.html"){	%>
<script type="text/javascript">
	$(document).ready(function(){
		$.extend({
			loopplay:function(){
				$('.SortZoom a').removeClass('select');
				$curs = $('.SortZoom a:eq('+i+')').addClass('select');
				var src = $('img',$curs).attr('src');
				var name = $($curs).attr('wname');
				$('.SortAD img').attr('src',src);
				$('.SortAD .SortADFootbar span').html(name);
				i++;
				if(i > 8){
					i=0;
				}
			},
			startTimer:function(){
				timer = window.setInterval($.loopplay,3000);
			}
		});
		var i = 0;
		var timer;
		$.startTimer();
		//鼠标移入事件
		$('.SortZoom a').mouseover(function(){
			//停止定时器
			window.clearInterval(timer);
			var src = $('img',this).attr('src');
			var name = $(this).attr('wname');
			$('.SortAD img').attr('src',src);
			$('.SortAD .SortADFootbar span').html(name);
		});
		//鼠标移出事件
		$('.SortZoom a').mouseout(function(){
			timer = window.setInterval($.loopplay,3000);
		});
		$('.SortAD img').mourseover(function(){
			//停止定时器
			window.clearInterval(timer);
		});
		$('.SortAD img').mouseout(function(){
			timer = window.setInterval($.loopplay,3000);
		});
		
	});
</script>
<%
for(wtypeCT in wtypeCTList){
	var workstype = wtypeCT.codekey;
	if("00"==workstype){
%>
<section class="WhiteBg">
	<div class="SortAD">
		<img src="${allWorksMap[workstype][0].cover!}">
		<div class="SortADFootbar">
			<!-- <a href="#"><img src="images/icon_play.png"></a>  -->
			<span>${allWorksMap[workstype][0].worksname!}</span>
		</div>
	</div>
	<div class="SortZoom">
		<!-- 循环8个 -->
		<% 
		var index = 0;
		for(works in allWorksMap[workstype]){ 
			index = index + 1;
			if(index <= 8){
		%> 
			<a href="cartoon/showDetail?id=${works.worksid!}" wname="${works.worksname!}"><img src="${works.cover!}"></a> 
		<% }
		} %>
	</div>
</section>
<div class="clear"></div>

<%	
	}else if("10"==workstype && allWorksMap[workstype].~size >0 ){	
%>

<section>
	<div class="CartoonTitleC">${wtypeCT.codevalue!}<a href="cartoon/showWorksList?wtype=${workstype!}">更多 &gt;&gt;</a></div>
    <div class="CartoonContent">
   	  <div class="HILeft">
   	  		<!-- 循环5个 -->
        	<%	
        	var index = 0;
   	  		for(works in allWorksMap[workstype]){
				index = index +1 ; 
   	  			if(index <= 5){
   	  		%>
        	<div class="HISub">
        		<img src="${works.cover!}"><br/><a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
        	</div>
        	<% }
        	} %>
        </div>
        <div class="HIRight">
        	<div class="CartoonTitleC">大家爱看</div>
            <!-- 循环4个 -->
            <ul>
            <%
            var index = 0;
            for(works in olikeWorksList){
            	index = index + 1;
            	if(index <= 4){
            %>
            	<li><span>${index!}</span><a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a></li>
            <%	
            	}else if(index == 5){	
            %>
            </ul>
            <div class="HIRightAD">
            	<a href="cartoon/showDetail?id=${works.worksid!}"><img src="${works.cover!}"></a>
            	<a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
            </div>	
            <% }
             } %>
        </div>
        <div class="clear"></div>
    </div>
</section>

<%	
	}else if("20"==workstype && allWorksMap[workstype].~size >0 ){	
%>

<!-- TODO 滚动条的现实 -->
<section>
	<div class="CartoonTitleC">${wtypeCT.codevalue!}<a href="cartoon/showWorksList?wtype=${workstype!}">更多 &gt;&gt;</a></div>
    <div class="CartoonContent"><img src="images/roll.png" width="1200" height="227"></div>
</section>

<%	
	}else if("30"==workstype && allWorksMap[workstype].~size >0 ){	
%>

<section>
	<div class="CartoonTitleC">${wtypeCT.codevalue!}<a href="cartoon/showWorksList?wtype=${workstype!}">更多 &gt;&gt;</a></div>
    <div class="CartoonContent WhiteBg Guess">
    <!-- 循环8个 -->
    <%
    var index = 0 ;
    for(works in allWorksMap[workstype]){
    	index = index + 1;
    	if(index <= 8 ){
    %>
    	<div class="CartoonSub">
        	<img src="${works.cover!}"><br/>
            <a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
        </div>
    <% }
    } %>
    </div>
</section>

<%	
	}else if("40"==workstype && allWorksMap[workstype].~size >0 ){	
%>

<section>
	<div class="CartoonTitleC">${wtypeCT.codevalue!}<a href="cartoon/showWorksList?wtype=${workstype!}">更多 &gt;&gt;</a></div>
    <div class="CartoonContent WhiteBg">
    <%
    var index = 0 ;
    for(works in allWorksMap[workstype]){
    	index = index + 1;
    	if(index == 1 ){
    %>
    	<div class="Sort2">
        	<img src="${works.cover!}"><br/>
        	<a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
        </div>
        <div class="Sort3 Guess">
        	<!-- 循环6个 -->
	<%
		}else if(index <= 7){
	%>
        	<div class="CartoonSub">
                <img src="${works.cover!}"><br/>
                <a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
            </div>
	<%
		}else if(index == 8){
	%> 
        </div>
    <%	}
    }
    %>
    	<!-- <div class="Sort1">
        	<div class="CartoonTitleC">独家报道</div>
            <div class="Sort1AD"><a href="#"><img src="../images/pic_Cartoon8.png"></a></div>
            <ul>
            	<li><a href="#">冰果正传 特辑预告</a></li>
                <li><a href="#">【疯狂的兔子】 预告</a></li>
                <li><a href="#">画江湖之不良人</a></li>
                <li><a href="#">冰果正传 特辑预告</a></li>
                <li><a href="#">画江湖之不良人</a></li>
            </ul>
        </div> -->
        <div class="clear"></div>
    </div>
</section>

<%	
	}else if(allWorksMap[workstype].~size >0){	
%>

<section>
	<div class="CartoonTitleC">${wtypeCT.codevalue!}<a href="cartoon/showWorksList?wtype=${workstype!}">更多 &gt;&gt;</a></div>
    <div class="CartoonContent WhiteBg Guess">
    <!-- 循环6个 -->
    <%
    var index = 0 ;
    for(works in allWorksMap[workstype]){
    	index = index + 1;
    	if(index <= 6 ){
    %>
    	<div class="CartoonSub">
        	<img src="${works.cover!}"><br/>
            <a href="cartoon/showDetail?id=${works.worksid!}">${works.worksname!}</a>
        </div>
	<% }
	} %>
    </div>
</section>

<%	}
}
} %>