<% layout("/common/layout.html"){ %>
<section>
	<article>
        <section class="CartonDtl">
            <div class="CartoonTitle">${works.worksname!}</div>
            <div class="CartoonDtlInfo">
            	<div class="CartoonPic"><img src="${works.cover!}"></div>
              <div class="CartoonProperties"> 
              	<div class="CartoonPropertiesR">
                	<div class="CartoonScore">
                	<span class="Font_Score">7.1</span>分&nbsp;&nbsp;&nbsp;&nbsp;评分：<img src="images/icon_star.png"></div>
                  <div class="CartoonInfo">
                       <span class="FloatL">${works.pageviews!}</span>
                       <span class="FloatR">${works.praise!}</span>
                  </div>
                  <div class="CartoonA font_b">
                    	<a href="#">订阅收藏</a>|
                        <a href="#">写评论</a>|
                        <a href="#">分享</a>
                    </div>
                </div>
                <div class="CartoonPropertiesL">
                <ul>
                	<li>主角：</li>
                    <li>上映日期：</li>
                    <li>地区：</li>
                    <li>年龄：</li>
                    <li>剧集：</li>
                </ul>
                <div><a href="cartoon/playVideo?id=${works.worksid!}"><img src="images/icon09.png"></a></div>
                </div>
              </div>
            </div>
            <div class="CartoonIntroduction">${works.describle!}</div>
            <div class="CartoonSet">
            	<div class="SetTitle">剧集列表</div>
                <div class="SetContent">
                <% 
                	var index = 0;
                	for(work in workList){
                		index = index + 1; 
                %>
                	<a href="cartoon/playVideo?id=${works.worksid!}&gid=${work.workid!}">${index!}</a>
                <% } %>
                </div>
            </div>
            <div class="ArgumentZoom">
            	<div class="LevelTitle"><a href="#" class="WArgument">我来说两句</a>骄傲的兔子评论：</div>
                <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo">
                    	<div class="MemberNick font_b">世嘉硬件女孩</div>
                        <div class="ArgumentContent">我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} </div>
                        <div class="ArgumentTime font_b">
                        	<a href="#">30有用</a><a href="#">回复</a>
                        </div>
                    </div>
                </div>
                <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo">
                    	<div class="MemberNick font_b">世嘉硬件女孩</div>
                        <div class="ArgumentContent">我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} </div>
                        <div class="ArgumentTime font_b">
                        	<a href="#">30有用</a><a href="#">回复</a>
                        </div>
                    </div>
                </div>
                <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo">
                    	<div class="MemberNick font_b">世嘉硬件女孩</div>
                        <div class="ArgumentContent">我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} </div>
                        <div class="ArgumentTime font_b">
                        	<a href="#">30有用</a><a href="#">回复</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <aside>
    <section>
    	<div class="CartoonTitle">精彩推荐</div>
        <div class="CartoonContent">
        	<%
        		for(wonderfulWorks in wonderfulWorksList){
        	%>
	   		<div class="CartoonSub"> 
	               <img src="images/pic_Cartoon1.png">
	               <div class="CartoonName"><a href="#">动画大电影</a></div>
	               <div class="CartoonInfo">
                       <span class="FloatL">${wonderfulWorks.pageviews!}</span>
                       <span class="FloatR">${wonderfulWorks.praise!}</span>
	               </div>
	               <div class="CartoonSubFootbar">人气爆棚剧场版</div>
	        </div>
	        <% } %>
        </div>
    </section>
	</aside>
    <div class="clear">&nbsp;</div>
</section>
<% } %>
