<% layout("/common/layout.html"){ %>
<section>
	<article>
<section class="List">
	<div class="CartoonTitle">原创动漫<a href="#">/更多</a></div>
    <div class="CartoonContent">
    <%
    	for(works in workslist){
    	
    %>
        <div class="CartoonSub">
            <!-- <img src="images/pic_Cartoon2.png"> -->
            <img src="${works.cover!}">
            <div class="CartoonName">
            	<a href="works/playVideo/?id=${works.worksid!}">${works.worksname!}</a>
            </div>
            <div class="CartoonInfo">
               <span class="FloatL">${works.collection!}</span>
               <span class="FloatR">${works.praise!}</span>
            </div>
            <div class="CartoonSubFootbar">${works.worksname!}</div>
        </div>
     <%
     }
     %>
        <div class="CartoonSub">
            <img src="images/pic_Cartoon2.png">
            <div class="CartoonName"><a href="#">动画大电影</a></div>
            <div class="CartoonInfo">
               <span class="FloatL">2931</span>
               <span class="FloatR">29</span>
            </div>
            <div class="CartoonSubFootbar">人气爆棚剧场版</div>
        </div>
     </div> 
	 <% include("/common/page.html"){}%>
</section>
    </article>
     <% include("/common/index_aside.html"){} %>
    <div class="clear">&nbsp;</div>
</section>
<% } %> 