<footer>
  <div class="Link">
    	<div class="CartoonTitle">友情链接</div>
      
      <span class="LinkWord">
      	<a href="#">厦门市人民政府网</a>|<a href="#">关于科通芯城</a>|<a href="#">多看书城</a>|<a href="#">房贷计算器</a>|
        <a href="#">厦门市人民政府网</a>|<a href="#">多看书城</a>|<a href="#">房地产微博</a>|<a href="#">房贷计算器</a>|
        <a href="#">厦门市人民政府网</a>|<a href="#">中骏置业</a>|<a href="#">小米网</a>|<a href="#">房贷计算器</a>|
        <a href="#">小米网</a>|<a href="#">中骏置业</a>|<a href="#">房地产微博</a>|<a href="#">房贷计算器</a>|
        <a href="#">厦门市人民政府网</a>|<a href="#">中骏置业</a>|<a href="#">房地产微博</a>|<a href="#">房贷计算器</a>|
        <a href="#">厦门市人民政府网</a>|<a href="#">多看书城</a>|<a href="#">房地产微博</a>|<a href="#">多看书城</a>|
      </span>
    </div>
    <div class="FooterZoom">
    	<div class="FooterBorder">
            <div class="FooterLogo">
            	<a href="#"><img src="images/logoBottom.png"></a>
            </div>
            <div class="FooterLink">
                <span class="font_str">旗下网站</span><a href="#">动漫方舟</a>|<a href="#">金樽动漫</a>|<a href="#">动漫方舟</a>|
                <a href="#">金樽动漫</a>
            </div>
        </div>
    </div>
</footer>