<% layout("/common/layout.html"){ %>
		<section>
	<div class="AdSub">
    <ul>
    	<li><a href="#">万万没想到第二季<span>第二季：学霸的反击</span></a></li>
        <li><a href="#">一夫当关，万夫莫开<span>世界杯门神点评</span></a></li>
        <li class="LiAd"><a href="#">万万没想到第二季<span>第二季：学霸的反击</span></a></li>
        <li><a href="#">一夫当关，万夫莫开<span>世界杯门神点评</span></a></li>
        <li><a href="#">万万没想到第二季<span>第二季：学霸的反击</span></a></li>
    </ul>
    </div>
    <div class="Adpic"><img src="images/ad.png"></div>
    <div class="clear">&nbsp;</div>
</section>
<section>
	
</section> 
<% } %> 