   <article class="MeArticle">
        <div class="MemberIndex">
          <div class="MeCaption">等级积分：</div>
          <div class="MeBlock">
         
          <table border="0" cellspacing="0" cellpadding="0"  class="Table_Member">
          	  <input name="user.userid" type="hidden" value="${user.userid!}"/>
          	  <tr>
	     		<td style="text-align: right;color: red;">${msg!}</td>
	     	  </tr>
	     	  
              <tr>
                <th>真实姓名：</th>
                <td width="90px;">${user.realname!}</td>
                <th>昵称：</th>
                <td width="90px;">${user.nickname!}</td>
                 <th>豆子：</th>
                <td width="90px;">${user.peas!}</td>
                 <th>积分：</th>
                <td width="90px;">${user.point!}</td>
              </tr>
              <tr>
                 <th>等级</th>
                <td width="90px;">积分</td>
              </tr>
                <tr>
                 <th>豆米粒</th>
                <td width="90px;">0</td>
              </tr>
                <tr>
                 <th>豆芽棒</th>
                <td width="90px;">100</td>
              </tr>
                <tr>
                 <th>豆瓣花</th>
                <td width="90px;">500</td>
              </tr>
                <tr>
                 <th>小弯豆</th>
                <td width="90px;">1500</td>
              </tr>
                <tr>
                 <th>豆青</th>
                <td width="90px;">4000</td>
              </tr>
               </tr>
                <tr>
                 <th>豆爷</th>
                <td width="90px;">20000</td>
              </tr>
               </tr>
                <tr>
                 <th>豆皇</th>
                <td width="90px;">50000</td>
              </tr>
            </table>
			
          </div>
        </div>
        
    </article>
    <div class="clear"></div>