<!doctype html>
<html>
<head>
 <% include("/common/head.html"){} %>
</head>

<body style="margin: 0px;background: #fff;">
<header class="MeTop">
	<div class="MeTopZoom"><img src="images/Melogo.png"></div>
</header>
<div class="LoginContent">
	<div class="LoginAD"><img src="images/LoginPic.png"></div>
    <div class="LoginInput">
    	<input name="" type="text" class="Uid" value="用户名">
        <input name="" type="text" class="Pwd" value="密码">
        <div class="LoginButton">
        	<input name="" type="button" class="Button" value="立即登录"><br />
            <input name="" type="checkbox" value="">下次自动登录  <a href="#">忘记密码</a><br />
            您还没有账号？点击<a href="#">注册</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="Mepic"><img src="images/Mepic03.png"></div>
</div>
<footer class="footer font_9">
	<a href="#">简体</a>|<a href="#">繁体</a>|<a href="#">English</a>|<a href="#">常见问题</a><br />
    金樽公司版权所有-京ICP备3985758i3d-京公网安备8574766495858
</footer>
</body>
</html>
