<!doctype html>
<html>
<head>
<% include("/common/head.html"){} %>
</head>

<body>
<div class="TopFix">
	<div class="TopFixZoom">
    	<span class="FixLeft">欢迎来到动漫方舟！<a href="#">请登录</a><a href="#">免费注册</a></span>
        <span class="FixRight">
        	<a href="#">我的方舟</a><a href="#">收藏夹</a><a href="#">商家支持</a><a href="#">网站导航</a>
        </span>
    </div>
</div>
<header>
	<div class="HeadTop">
    	<div class="Logo"><img src="http://www.dongmark.com/images/logo.png"></div>
        <div class="Search">
        	<input name="" type="text" class="SearchInput"><input name="" type="button" class="SearchButton" value="搜索">
            <div class="SearchKey">
            <span class="font_r"><a href="#">盆栽</a></span>|<span><a href="#">创意家居</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">盆栽</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">原创</a></span>
            </div>
        </div>
    </div>
    <nav>
    	<ul class="NavR">
        	<li><a href="#"><img src="http://www.dongmark.com/images/icon07.png">购物车</a></li>
        </ul>
        <ul class="NavL">
        	
          <li><a href="#">首页</a></li>
            <li class="LiFuc"><a href="#">动漫</a></li>
            <li><a href="#">无奇不有</a></li>
            <li><a href="#">商城</a></li>
            <li><a href="#">HIGH豆社区</a></li>
            <li><a href="#">签到发泄墙</a></li>
        </ul>
    </nav>
</header>
<section>
	<aside class="AsideBg">
    	<% layout("/personalMenu.html"){} %>
    </aside>
    <article class="MeArticle">
    <div style="border: 1px solid red;margin-left: 20px">
    <% layout("/test.html"){} %>
    </div>
    </article>
    <div class="clear"></div>
</section>
<section>
	<div class="MeTitle">明星单品</div>
    <div class="MeGoods">
    	<a href="#"><img src="http://www.dongmark.com/images/Mepic01.png"></a>
        <a href="#"><img src="http://www.dongmark.com/images/Mepic02.png"></a>
        <a href="#"><img src="http://www.dongmark.com/images/Mepic02.png"></a>
        <a href="#"><img src="http://www.dongmark.com/images/Mepic01.png"></a>
        <a href="#"><img src="http://www.dongmark.com/images/Mepic01.png"></a>
        <a href="#"><img src="http://www.dongmark.com/images/Mepic02.png"></a>
    </div>
</section>
<section>
	<div class="MePrivilege">
    	<div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon01.png"> 
            <span class="MePfont1">中国领先</span>
            <span class="MePfont2">私人定制商城</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon02.png"> 
            <span class="MePfont1">100%专属定制</span>
            <span class="MePfont2">独一无二为您定制</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon03.png"> 
            <span class="MePfont1">100%</span>
            <span class="MePfont2">正品保证</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon04.png"> 
            <span class="MePfont1">30天</span>
            <span class="MePfont2">退货保证</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon05.png"> 
            <span class="MePfont1">24小时</span>
            <span class="MePfont2">30%商品闪电发货</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon06.png"> 
            <span class="MePfont1">精美包装</span>
            <span class="MePfont2">提供礼品级包装</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon07.png"> 
            <span class="MePfont1">180用户</span>
            <span class="MePfont2">口碑信赖</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="http://www.dongmark.com/images/Meicon08.png"> 
            <span class="MePfont1">1250城市</span>
            <span class="MePfont2">货到付款</span>
        </div>
    </div>
</section>
<section>
	<div class="MePrivilegeB">
    	<div class="MeTitleB">帮助中心</div>
        <ul class="font_9">
        	<li><a href="#">购物指南</a></li>
            <li><a href="#">支付方式</a></li>
            <li><a href="#">配送方式</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">服务中心</div>
        <ul class="font_9">
        	<li><a href="#">售后政策</a></li>
            <li><a href="#">自助服务</a></li>
            <li><a href="#">相关下载</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">嗨豆之家</div>
        <ul class="font_9">
        	<li><a href="#">嗨豆之家</a></li>
            <li><a href="#">服务网点</a></li>
            <li><a href="#">到店服务</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">关于方舟</div>
        <ul class="font_9">
        	<li><a href="#">了解方舟</a></li>
            <li><a href="#">加入方舟</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">关于我们</div>
        <ul class="font_9">
        	<li><a href="#">新浪微博</a></li>
            <li><a href="#">QQ空间</a></li>
            <li><a href="#">官方微信</a></li>
        </ul>
    </div>
    <div class="MePrivilegeC">
    	<span class="HotLine">QQ89213248</span>
        <span>周一至周日 8:00-18:00<br /></span>
        <!-- 
        <span><a href="#">24小时在线客服</a></span>
         -->
    </div>
</section>
<footer>
  
    <div class="FooterZoom">
    	<div class="FooterBorder">
            <div class="FooterLogo">
            	<a href="#"><img src="http://www.dongmark.com/images/logoBottom.png"></a>
            </div>
            <div class="FooterLink">
                <span class="font_str">旗下网站</span><a href="#">动漫方舟</a>|<a href="#">金樽动漫</a>|<a href="#">动漫方舟</a>|
                <a href="#">金樽动漫</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
