 <section>
	<article>
        <section class="CartonDtl">
 
 <div class="ArgumentZoom">
        <div class="LevelTitle" style="height: 30px;">
		     <div style="width: 100px;height: 32px;float: left;margin-left: 30px"><a href="personal/forMyProduction?menuId=5"><h3>留言：</h3></a></div>
		</div>
          		<div class="ArgumentSub" style="height: 300px;margin-left: 30px">
          			<form action="um/leaveMsg" class="form-horizontal" method="post">
	                	用户名：</a><input type="text" name="touser" value="${u.touser!}"><br>
	                	表&nbsp;&nbsp;&nbsp;题：</a><input type="text" name="title" value="${u.title!}"><br>
	                	留&nbsp;&nbsp;&nbsp;言：<textarea name="content" rows="8" value="${u.content!}" cols="40"></textarea><br>
	                	<input type="submit" value="提交留言"/>
                	</form>
                </div>
    	</div>
 </section>
 </article>
 </section>