 <section>
	<article>
        <section class="CartonDtl">
 
 <div class="ArgumentZoom">
            	<div class="LevelTitle">播放记录：</div>
                <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo" >
                        <div class="ArgumentContent">
                        	<div style="width: 644px;float: left;">
                       		 我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} 
                        	</div>
                        	<div style="height: 40px; float: left;width: 158px;text-align: center;">
                        	2014-09-13<br>21:25:00
                        	</div>
                        </div>
                    </div>
                </div>
                 <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo" >
                        <div class="ArgumentContent">
                        	<div style="width: 644px;float: left;">
                       		 我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} 
                        	</div>
                        	<div style="height: 40px; float: left;width: 158px;text-align: center;">
                        	2014-09-13<br>21:25:00
                        	</div>
                        </div>
                    </div>
                </div>
                 <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo" >
                        <div class="ArgumentContent">
                        	<div style="width: 644px;float: left;">
                       		 我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} 
                        	</div>
                        	<div style="height: 40px; float: left;width: 158px;text-align: center;">
                        	2014-09-13<br>21:25:00
                        	</div>
                        </div>
                    </div>
                </div>
                 <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo" >
                        <div class="ArgumentContent">
                        	<div style="width: 644px;float: left;">
                       		 我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} 
                        	</div>
                        	<div style="height: 40px; float: left;width: 158px;text-align: center;">
                        	2014-09-13<br>21:25:00
                        	</div>
                        </div>
                    </div>
                </div>
                 <div class="ArgumentSub">
                	<div class="MemberHead"><img src="images/qq4.jpg"></div>
                    <div class="ArgumentInfo" >
                        <div class="ArgumentContent">
                        	<div style="width: 644px;float: left;">
                       		 我也希望有一个像小丸子一样的妹妹{:11:}望有一个像小丸子一样的妹妹{:11:}，不过不望有一个像小丸子一样的妹妹{:11:}，不过不需要因为本人也像小丸子一样，不讲道理，有仇必报，有吃必抢{:11:} 
                        	</div>
                        	<div style="height: 40px; float: left;width: 158px;text-align: center;">
                        	2014-09-13<br>21:25:00
                        	</div>
                        </div>
                    </div>
                </div>
                
    </div>
 </section>
 </article>
 </section>