  <article class="MeArticle">
    	<ul class="MeTab">
        	<li class="TabLi_fl font_b"><a href="um/forLeaveMsg?menuId=8">发表留言 &gt;&gt;</a></li>
            <li class="TabLi"><a href="um/forLeaveMsg?menuId=5">所有留言</a></li>
            <li class="TabLi"><a href="um/forLeaveMsg?menuId=6">用户留言</a></li>
            <li class="TabLi"><a href="um/forLeaveMsg?menuId=7">系统留言</a></li>
            <li class="TabLi"><a href="um/forLeaveMsg?menuId=11">我的留言</a></li>
        </ul>
        <div class="clear"></div>
        <div class="MemberIndex">
          <div class="MeBlock">
          <div class="MemberHead"><img src="http://www.dongmark.com/images/qq4.jpg"></div>
                    <div class="ArgumentInfo" style="">
                    	<input type="hidden" value="${msg.messageid!}"/>
                    	<div class="MemberNick font_b" style="">
                    	<div style="">${msg.fromuser!}<div style="float: right;">${msg.create_time!}</div>
                    	</div>
                    	</div>
                        <div class="ArgumentContent" style="">${msg.content!}</div>
                        <div class="ArgumentTime font_b" style="margin-left: 50px;">
                        	<% for(reply in replyList!){%>
                        	<div style="float: left;">${reply.fromuser!}</div><div style="">${reply.create_time!}</div>
                        	<div class="ArgumentContent" style="text-align: left;">回复：${reply.msgvalue!}</div>
                        	<hr>
                        	<% } %>
                        </div>
                    </div>
          </div>
        </div>
        
    </article>
    <div class="clear"></div>