<!doctype html>
<html>
<head>
 <% include("/common/head.html"){} %>
</head>
<body style="margin: 0px;background: #fff;background: url(images/bg_Me.png) left bottom no-repeat;">
<header class="MeTop">
	<div class="MeTopZoom"><img src="images/Melogo.png"></div>
</header>
<div class="LoginContent">
	 <form action="user/sendPassword" id="user_regist" class="form-horizontal" method="post">
    	<table border="0" cellspacing="0" cellpadding="0" class="Table_reg">
     		<tr>
        		<th>注册邮箱：</th>
        		<td><input name="user.email" value="${user.email!}" type="text" class="InputUid">
        		<div>
	        		<a style="color:#F00">${emailMsg!}</a>
	    		</div>
        		</td>
      		</tr>
      		<tr>
        		<th>&nbsp;</th>
        		<td><input  type="submit" class="BtReg" value="找回密码"></td>
     		 </tr>
     	</table>
  	</form>
</div>
<footer class="footer font_9">
	<a href="#">简体</a>|<a href="#">繁体</a>|<a href="#">English</a>|<a href="#">常见问题</a><br />
    金樽公司版权所有-京ICP备3985758i3d-京公网安备8574766495858
</footer>
</body>
</html>
