<!doctype html>
<html>
<head>
 <% include("/common/head.html"){} %>
</head>
<body style="margin: 0px;background: #fff;background: url(http://www.dongmark.com/images/bg_Me.png) left bottom no-repeat;">
<% include("/common/user_header.html"){} %>
<div class="LoginContent">
	 <form action="user/sendPassword" id="user_regist" class="form-horizontal" method="post">
    	<table border="0" cellspacing="0" cellpadding="0" class="Table_reg">
     		<tr>
        		<th>注册邮箱：</th>
        		<td><input name="user.email" value="${user.email!}" type="text" class="InputUid">
        		<div>
	        		<a style="color:#F00">${emailMsg!}</a>
	    		</div>
        		</td>
      		</tr>
      		<tr>
        		<th>&nbsp;</th>
        		<td><input  type="submit" class="BtReg" value="找回密码"></td>
     		 </tr>
     	</table>
  	</form>
</div>
<% include("/common/user_footer.html"){} %>
</body>
</html>
