<% layout("/shop/slayout.html"){ %>
<section class="White">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/jqzoom.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/newegg.jqzoom.js" language="javascript" type="text/javascript"></script>
<script src="js/WebApplication.js" language="javascript" type="text/javascript"></script>
<script src="js/BizProduct090713.js" language="javascript" type="text/javascript"></script>
<script src="js/BizCommon090801.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript" language="jscript">
	jQuery(function($) {
		Biz.Product.Product.turn();
		Biz.Product.Product.turn2();
		Biz.Common.TabCtrl.tabs("tab");
		Biz.Common.TabCtrl.tabs("tempTab");
		Biz.Common.MoveCtrl.iniUnit('scroll', 'thumList', 4, 1);
		Biz.Common.MoveCtrl.iniUnit('gift', 'gift_1', 3, 1);
		Biz.Common.MoveCtrl.iniUnit('congener', 'congener_1', 3, 1);
		Biz.Common.TableCtrl.odd();	
		Biz.Product.Product.InitSpecialTable();
		Biz.Product.Product.InitAlsoBuy();

		//Click out event!
		$("#backgroundPopup").click(function(){
			Biz.Common.PopCtrl.disablePopup();
			});
			
		//Press Escape event!
		$(document).keypress(function(e){
			if(e.keyCode==27 && popupStatus==1){
				Biz.Common.PopCtrl.disablePopup();
			}
		});
		
		var options = {
		zoomWidth: 300,
		zoomHeight: 250,
			xOffset: 20,
			yOffset: -15,
			title : false,
			showEffect:"fadein",
			hideEffect:"fadeout",
			position: "right" 
		}
		$(".jqzoom").jqzoom(options);
	}); 
	</script>
    <div class="ShopPath">
        <a href="#">首页</a>/<a href="#">配件</a>/<a href="#">米兔玩偶</a>/<a href="#">米兔纪念版钥匙扣</a>
    </div>
    <div class="Goods">
    	<div class="GoodsPicRoll">
    	<div class="introShow">
  <div class="mainShow"><img id="midImg" src="images/zixingche.jpg" class="Picture220"/></div>
  <div class="scroll" id="scroll"><a href="#prev" class="prevView prevStop" ><span>显示上一幅图片</span></a>
    <ul id="thumList">
      <li class="moveUnit"><a href="javascript:void(0)" title="" class="currentItem"><img src="images/zixingche.jpg" alt="" ref1="images/zixingche.jpg" ref2="images/zixingche.jpg" onmouseover="Biz.Product.Product.ChangePic(this);" class="Picture40"/></a></li>
      <li class="moveUnit"><a href="javascript:void(0)" title="" class="currentItem"><img src="images/bao.jpg" alt="" ref1="images/bao.jpg" ref2="images/bao.jpg" onmouseover="Biz.Product.Product.ChangePic(this);" class="Picture42"/></a></li>
      <li class="moveUnit"><a href="javascript:void(0)" title="" class="currentItem"><img src="images/Mepic01.png" alt="" ref1="images/Mepic01.png" ref2="images/Mepic01.png" onmouseover="Biz.Product.Product.ChangePic(this);" class="Picture40"/></a></li>
    </ul>
</div>
</div>
</div>
      <div class="GoodsInfos">
        	<div class="GName">${goods.goodsname!}</div>
        	<div class="GPrice">原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：￥${goods.oldprice!}</div><br>
        	<div class="GPrice">折&nbsp;后&nbsp;价：￥${goods.price!}</div>
            <div class="GButton font_w">
            	<a href="http://detail.tmall.com/item.htm?spm=a230r.1.14.1.8jNRgD&id=37652444734&ad_id=&am_id=&cm_id=140105335569ed55e27b&pm_id=" class="BuyNow">去 购 买</a>
                <span class="Loves"><img src="images/icon11.png">喜 欢（26）</span>
          </div>
            <ul class="GProperties">
            	<li>数量：${goods.amount!}</li>
            	<li>颜色：白色</li>
                <li>包装：无</li>
            </ul>
        </div>
    </div>
    <div class="GoodsIntroduction">
    	商品详细介绍<br /><br /><br />
		${goods.message!}
    </div>
    
</section>
<div class="clear"></div>
<section>
	<div class="MePrivilege">
    	<div class="PrivilegeSub">
        	<img src="images/Meicon01.png"> 
            <span class="MePfont1">中国领先</span>
            <span class="MePfont2">私人定制商城</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon02.png"> 
            <span class="MePfont1">100%专属定制</span>
            <span class="MePfont2">独一无二为您定制</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon03.png"> 
            <span class="MePfont1">100%</span>
            <span class="MePfont2">正品保证</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon04.png"> 
            <span class="MePfont1">30天</span>
            <span class="MePfont2">退货保证</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon05.png"> 
            <span class="MePfont1">24小时</span>
            <span class="MePfont2">30%商品闪电发货</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon06.png"> 
            <span class="MePfont1">精美包装</span>
            <span class="MePfont2">提供礼品级包装</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon07.png"> 
            <span class="MePfont1">180用户</span>
            <span class="MePfont2">口碑信赖</span>
        </div>
        <div class="PrivilegeSub">
        	<img src="images/Meicon08.png"> 
            <span class="MePfont1">1250城市</span>
            <span class="MePfont2">货到付款</span>
        </div>
    </div>
</section>
<section>
	<div class="MePrivilegeB">
    	<div class="MeTitleB">帮助中心</div>
        <ul class="font_9">
        	<li><a href="#">购物指南</a></li>
            <li><a href="#">支付方式</a></li>
            <li><a href="#">配送方式</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">服务中心</div>
        <ul class="font_9">
        	<li><a href="#">售后政策</a></li>
            <li><a href="#">自助服务</a></li>
            <li><a href="#">相关下载</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">嗨豆之家</div>
        <ul class="font_9">
        	<li><a href="#">嗨豆之家</a></li>
            <li><a href="#">服务网点</a></li>
            <li><a href="#">到店服务</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">关于方舟</div>
        <ul class="font_9">
        	<li><a href="#">了解方舟</a></li>
            <li><a href="#">加入方舟</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
    <div class="MePrivilegeB">
    	<div class="MeTitleB">关于我们</div>
        <ul class="font_9">
        	<li><a href="#">新浪微博</a></li>
            <li><a href="#">QQ空间</a></li>
            <li><a href="#">官方微信</a></li>
        </ul>
    </div>
    <div class="MePrivilegeC">
    	<span class="HotLine">400-100-8888</span>
        <span>周一至周日 8:00-18:00<br />(仅收市话费)</span>
        <span><a href="#">24小时在线客服</a></span>
    </div>
</section>
<%}%>