 <article class="MeArticle">
    	<div class="MemberIndex">
       	  <div class="MeBlock">
            	<div class="MeHead"><img src="${user.imgurl!}" ></div>
            	<div class="MeSummary">
                	<div class="MeNick">${user.username!}   下午好，</div>
                    <div>
                    	<span>账号安全级别：<img src="http://www.dongmark.com/images/icon15.png">普通</span>|
                        <span><a href="#"><img src="http://www.dongmark.com/images/icon16.png">绑定手机</a></span>|
                        <span><a href="#"><img src="http://www.dongmark.com/images/icon17.png">绑定邮箱</a></span>|
                        <span><a href="#">如何提高安全级别？</a></span>
                </div>
                </div>
                <div class="clear">
                </div>
          	</div>
        	<div class="MeCaption">我的作品：</div>
            <div class="MeBlock">
            	<span class="Message">您暂时没有作品，<span class="font_r"><a href="#">上传华丽丽的作品去！</a></span></span>
            </div>
        	<div class="MeCaption">播放记录：</div>
            <div class="MeBlock">
            	<span class="Message">您暂时没有播放记录，<span class="font_r"><a href="#">观看精彩动漫去！</a></span></span>
            </div>
            <div class="MeCaption">我的下载：</div>
            <div class="MeBlock">
            	<span class="Message">您现在没有下载任务，<span class="font_r"><a href="#">下载精彩动漫去！</a></span></span>
            </div>
            <div class="MeCaption">动画收藏：</div>
            <div class="MeBlock">
            	<span class="Message">您现在没有收藏的动漫，<span class="font_r"><a href="#">收藏精彩动漫去！</a></span></span>
            </div>
            <div class="MeCaption">未支付订单：</div>
            <div class="MeBlock">
            	<span class="Message">您现在没有未支付订单，<span class="font_r"><a href="#">挑选喜爱的商品去！</a></span></span>
            </div>
            <div class="Wid50">
                <div class="MeCaption Noborder">购物车：</div>
                <div class="MeBlock Noborder">
                	<span class="Message">您的购物车是空的，<span class="font_r"><a href="#">马上去购物！</a><br />f</span></span>
                </div>
            </div>
            <div class="Wid50">
                <div class="MeCaption">商品收藏：</div>
                <div class="MeBlock">
                	<span class="Message">您可以将喜爱的商品放入收藏夹，方便随时查看，<br />当商品有优惠时，还可以随时通知您~</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
  </article>
