   <article class="MeArticle">
        <div class="MemberIndex">
          <div class="MeCaption">资料修改：</div>
          <div class="MeBlock">
          <form action="personal/upUser"  method="post" id="createHtml" enctype="multipart/form-data" class="form-horizontal">
          <table border="0" cellspacing="0" cellpadding="0" class="Table_Member">
          	  <input name="user.userid" type="hidden" value="${user.userid!}"/>
          	  <tr>
	     		<td style="text-align: right;color: red;">${msg!}</td>
	     	  </tr>
	     	  <tr>
                <th>用户头像：</th>
                <td>
	                <div id="preview" class="CartoonHead">
						<img src="${user.imgurl!}">
					</div>
					<label id="imgPath">
						<%
							var imgPath = null;
							if(!isEmpty(user) && !isEmpty(user.imgurl)){
								var filePath = strutil.replace(user.imgurl,"\\\\","/");
								imgPath = strutil.subStringTo(filePath,@filePath.lastIndexOf("/")+1,strutil.length(filePath));
							}
						%>
						${imgPath!}
					</label></br>
					<input id="imgBtn" type="button" class="btn btn-warning btn-mini" onclick="imgurl.click()" value="请选择图片" required="required"><span class='font_r' style="color: red"> *</span><br>
					<input id="imgurl" name="user.imgurl" type="file" class="fileCss" value="${user.imgurl!}" onchange="onShowImgChange(this)" style="display: none">
                </td>
              </tr>
              <tr>
                <th>真实姓名：</th>
                <td><input  name="user.realname" value="${user.realname!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th>昵称：</th>
                <td><input name="user.nickname" value="${user.nickname!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th>性别：</th>
                <td><input name="user.sex" type="radio" value="0" >男&nbsp;&nbsp;&nbsp;&nbsp;<input name="user.sex" type="radio" value="1">女</td>
              </tr>
             <tr>
                <th>年龄：</th>
                <td><input name="user.age" value="${user.age!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th>QQ：</th>
                <td><input name="user.QQ" value="${user.QQ!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th>住址：</th>
                <td><input name="user.address" value="${user.address!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th>电话：</th>
                <td><input name="user.mobile" value="${user.mobile!}" type="text" class="input_Member"></td>
              </tr>
              <tr>
                <th></th>
                <td><input name="" type="submit" class="Button" value="保存修改"></td>
              </tr>
            </table>
			</form>
          </div>
        </div>
        
    </article>
    <div class="clear"></div>