<div class="MeBlock">
       <div class="MeHead"><img src="http://www.dongmark.com/images/qq4.jpg"></div>
          <div class="MeSummary">
               <div class="MeNick">疯狂的兔子   下午好，</div>
                   <div>
                    <span>账号安全级别：<img src="http://www.dongmark.com/images/icon15.png">普通</span>|
                    <span><img src="http://www.dongmark.com/images/dou2.png">积分：300</span>|
                     <span><img src="http://www.dongmark.com/images/dou1.png">等级：豆皇</span>
           </div>
          </div>
          <div style="float: left;margin-top: 30px;">
          <form action="personal/updatePassword" id="user_regist" class="form-horizontal" method="post">
    		<table border="0" cellspacing="0" cellpadding="0" class="Table_reg" >
	     		<input name="user.userid" type="hidden" value="${userId!}">
	     		<tr>
	        		<th>原密码：</th>
	        		<td><input name="user.password" value="${user.password!}" type="password" class="InputUid">
	        		<div>
		        		<a style="color:#F00">${passwordMsg!}</a>
		    		</div>
	        		</td>
	      		</tr>
	      		<tr>
	        		<th>新密码：</th>
	        		<td><input name="newPassword" value="${newPassword!}" type="password" class="InputUid">
	        		<div>
		        		<a style="color:#F00">${newPasswordMsg!}</a>
		    		</div>
	        		</td>
	      		</tr>
	      		<tr>
	        		<th>再次输入：</th>
	        		<td><input name="repeatPassword" value="${repeatPassword!}" type="password" class="InputUid">
	        		<div>
		        		<a style="color:#F00">${repeatPasswordMsg!}</a>
		    		</div>
	        		</td>
	      		</tr>
	      		<tr>
	        		<td>
	        		<div>
		        		<a style="color:#F00">${nullMsg!}</a>
		    		</div>
	        		</td>
	      		</tr>
	      		<tr>
	        		<th>&nbsp;</th>
	        		<td><input  type="submit" class="BtReg" value="修改密码"></td>
	     		 </tr>
     		</table>
  		</form>
      </div>
  </div>