 <section>
	<article>
        <section class="CartonDtl">
 
 <div class="ArgumentZoom">
        <% include("/common/header_leaveMsg.html"){} %>
               <% for(msg in msgList!){%>
                <div class="ArgumentSub">
                	<div class="MemberHead"><img src="http://www.dongmark.com/images/qq4.jpg"></div>
                    <div class="ArgumentInfo">
                    	<input type="hidden" name="messageid" value="${msg.messageid!}"/>
                    	<input type="hidden" name="menuId" value="${menuId!}"/>
                    	<div class="MemberNick font_b">
                    	<div>${msg.fromuser!}<div style="float: right;">${msg.create_time!}</div>
                    	</div>
                    	</div>
                        <div class="ArgumentContent">${msg.content!}</div>
                        <div class="ArgumentTime font_b">
                        	<a href="um/forReplyMsg?msgid=${msg.messageid!}&mid=${menuId!}">回复</a><a href="um/countLeave?msgid=${msg.messageid!}">共有${msg.count!}条留言</a><a href="um/delMsg?messageid=${msg.messageid!}" onclick="return confirm('确定删除？')">删除</a>
                        </div>
                    </div>
                </div>
            <% } %> 
    </div>
 </section>
 </article>
 </section>