<article class="MeArticle">
		<script type="text/javascript">
				function showPage(params){
					var workstype = '';
					if($('#workstype').length > 0){
						workstype = $('#workstype').val();
					}
					$('#worksManager_menu li').removeClass("TabLi_active").addClass("TabLi");
					$('#worksManager_menu li').eq(params.type).removeClass("TabLi").addClass("TabLi_active");
					$.ajax({
						type:'post',
						data:'type='+params.type+'&workstype='+workstype+'&pageIndex='+params.pageIndex,
						url :'works/showPage',
						success:function(data){
							$('#worksManager').html(data);
						}
					});
				}
		</script>
        <ul class="MeTab" id="worksManager_menu">
            <li class="TabLi_active"><a href="javascript:showPage({'type':0,'pageIndex':1});">视  频</a></li>
            <li class="TabLi"><a href="javascript:showPage({'type':1,'pageIndex':1});">专  辑</a></li>
        </ul>
        <div class="clear"></div>
        <div id="worksManager" class="MemberIndex">
          	<%layout("/worksManage/worksManage.html",{}){}%>
        </div>
    </article>