<% for (follow in followPage){
	if(follow.pid!=comment.commentid){continue;}%>
<div class="ArgumentSub">
      	<div class="MemberHead">
      		<img src="${follow.imgurl!}">
      	</div>
        <div class="ArgumentInfo">
        	<div class="MemberNick font_b">${follow.username!}</div>
       	 	<div class="ArgumentContent">
       	 		<% if(!isEmpty(follow.tousername)) { %>
       	 			回复  ${follow.tousername!} ：
       	 		<% } %>
       	 		${follow.message!}
       	 	
       	 	</div>
            <div class="ArgumentTime font_b" id="commentContent">
            	<a href="javascript:void(0)" onclick="addUseful(this,'${comment.commentid!}','10')">
            		有用
            		<% 
						if(!isEmpty(recordMap)){
							var groupKey = comment.commentid + ",10";
							if(!isEmpty(@recordMap.get(groupKey))){
								var record = @recordMap.get(groupKey);
					%>
								(+${record.number!})
					<%
							}
						}
					%>
            	</a>
            	<a href="javascript:java(0);" onclick="showPublishHtml(this)">回复</a>
            	<div id="publishHtml" >
					<%
						layout(
						"/common/publishFace.html",
						{
							"targetId":targetId,
							"idtype":idtype,
							"pId":comment.commentid,
							"toUserId":follow.userid,
							"render":"/comment/cartoonFollowPage.html"
						}
						){}
					%>
				</div>
            </div> 
        </div>
</div> 
<% } %>