<script src="${core}/js/comment.js" type="text/javascript"></script>
<div class="LevelTitle">
	<a href="javascript:void(0);" class="WArgument" onclick="showPublishHtml(this)">我来说两句</a>
	<div id="publishHtml" >
		<%
			layout(
			"/common/publishFace.html",
			{
				"targetId":targetId,
				"idtype":idtype,
				"render":"/comment/cartoonComment.html"
			}
			){}
		%>
	</div>
</div>

<% for (comment in commentPage.list){ %>
<div class="ArgumentSub" id="commentContents">
      	<div class="MemberHead"><img src="http://www.dongmark.com/images/qq4.jpg"></div>
        <div class="ArgumentInfo">
       	 	<div class="MemberNick font_b">${comment.username!}</div>
       	 	<div class="ArgumentContent">${comment.message!}</div>
            <div class="ArgumentTime font_b" id="commentContent">
            	<a href="#">有用</a><a href="javascript:void(0);" onclick="showPublishHtml(this)">回复</a>
            	<div id="publishHtml" >
					<%
						layout(
						"/common/publishFace.html",
						{
							"targetId":targetId,
							"idtype":idtype,
							"pId":comment.commentid,
							"render":"/comment/cartoonFollowPage.html"
						}
						){}
					%>
				</div>
				<div id="commentHtml" >
					<%
						if(followPage != null){
						layout(
							"/comment/cartoonFollowPage.html",
							{
								"targetId":targetId,
								"idtype":idtype,
								"comment":comment,
								"followPage":followPage
							}
							){} 
						}
					%>
				</div>
            </div>
        </div>
</div> 
<% } %>

<div>
	<% if(commentPage != null){ 
		layout(
			"/common/page.html",
			{
				"page":commentPage,
				"pageAction":"./comment/findByTargetId?targetId=" + targetId + "&idtype=" + idtype + "&render=/comment/cartoonComment.html",
				"fatherNode":"#commentHtml"
			}
		){} 
	}%>
</div> 
