<div>
	<% if(commentPage != null){ 
		layout(
			"/common/page.html",
			{
				"page":commentPage,
				"pageAction":pageAction,
				"fatherNode":fatherNode,
				"targetId":targetId
			}
		){} 
	}%>
</div>
<% for (comment in commentPage.list){ %>
<div class="control-group" id="commentContents">

	<div class="control-group">用户名:${comment.userid!}</div>

	<div class="control-group">时间:${comment.dateline!}</div>

	<div class="control-group">内容:${comment.message!}</div>
	<%
			layout(
				"/common/publishFace.html",
				{
					"targetId":targetId,
					"publishFaceAction":followAction,
					"pId":comment.commentid,
					"commentFatherNode":"#commentContents"
				}
			){}
	%>
	
	<div class="control-group" align="center" style="color: red"
		id="commentContent">
		<%
			if(followPage != null){
				layout(
					"/comment/followPage.html",
					{
						"followPage":followPage,
						"comment":comment,
						"followAction":followAction
					}
				){} 
			}
		%>
	</div>
</div>
<% } %>
