<% for (comment in commentPage.list){ %>
<div class="ForumReply" id="commentContents">
	<div class="ReplyHead">
		<img src="${comment.imgurl!}">
	</div>
    <div class="ReplyBody">
	    <div class="ReplyTop">
			<span class="ReplyID font_ye"><a href="#">${comment.username!}</a></span>
	        <span>${comment.dateline!}</span>
	    </div>
	   	<div class="ReplyInfo">
	   		${comment.message!}
	       	<div id="commentHtml" class="ForumReplyTo">
				<%
					if(followPage != null){
					layout(
						"/comment/followPage.html",
						{
							"targetId":targetId,
							"idtype":idtype,
							"followPage":followPage,
							"comment":comment
						}
					){} 
				}
				%>
			</div>
		</div>
	         
		<div class="ReplyBottom font_9" id="commentContent">
	    	<span class="FL">
				<a href="javascript:void(0);" onclick="showPublishHtml(this)">回复</a>
			</span>
			<div id="publishHtml">
		    	<%
					layout(
						"/common/publishFace.html",
						{
							"targetId":targetId,
							"idtype":idtype,
							"pId":comment.commentid,
							"render":"/comment/followPage.html"
						}
					){}
				%>
			</div>
		</div>
	</div>
    <div class="clear"></div>
</div> 
<% } %>
<div class="PageMore White">
	<% if(commentPage != null){ 
		layout(
			"/common/page.html",
			{
				"page":commentPage,
				"pageAction":"./comment/findByTargetId?targetId=" + targetId + "&idtype=" + idtype + "&render=/comment/comment.html",
				"fatherNode":"#commentHtml"
			}
		){} 
	}%>
</div> 
