<% for (follow in followPage){
	if(follow.pid!=comment.commentid){continue;}%>
<div class="ForumReplyToReply">
	<div class="ReplyHead"><img src="${follow.imgurl!}"></div>
    <div class="ReplyBody">
    	<div class="ReplyTop">
	        <span class="ReplyID font_ye">
	        	<a href="#">${follow.username!}</a>
	        </span>
	        <span>${follow.dateline!}</span>
        </div>
        <div class="ReplyInfo">
	       	<% if(!isEmpty(follow.tousername)) { %>
	    	 		回复  ${follow.tousername!} ：
	    	<% } %>
	        ${follow.message!}
		</div>
       	<div class="ReplyBottom font_9" id="commentContent">
         	<a href="javascript:void(0);" onclick="showPublishHtml(this)">回复</a>
         	<a href="javascript:void(0);" onclick="addSupport(this,'${follow.commentid!}','10')">
				支持
				<% 
					if(!isEmpty(recordDetailMap)){
						var groupKey = follow.commentid + ",10";
						if(!isEmpty(@recordDetailMap.get(groupKey))){
							var record = @recordDetailMap.get(groupKey);
				%>
							(+${record.number!})
				<%
						}
					}
				%>
			</a>
			<a href="javascript:void(0);" onclick="addOppose(this,'${follow.commentid!}','20')">
				反对
				<% 
					if(!isEmpty(recordDetailMap)){
						var groupKey = follow.commentid + ",20";
						if(!isEmpty(@recordDetailMap.get(groupKey))){
							var record = @recordDetailMap.get(groupKey);
				%>
							(+${record.number!})
				<%
						}
					}
				%>
			</a>
         	<div id="publishHtml">
				<%
					layout(
						"/common/publishFace.html",
						{
							"targetId":targetId,
							"idtype":idtype,
							"pId":comment.commentid,
							"toUserId":follow.userid,
							"render":"/comment/followPage.html"
						}
					){}
				%>
			</div>
		</div>
	</div>
    <div class="clear"></div>
</div> 
<% } %>