<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>新增码表</title>
	<base href="${core}/"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="codetable/saveCodeTable" method="post">
        <h2 class="form-signin-heading">基础码表</h2>
        	<label class="control-label">码表键：</label>
        	<input name="codeTable.codekey" value="${codeTable.codekey!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">码表类型：</label>
        	<input name="codeTable.codetype" value="${codeTable.codetype!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">码表名称：</label>
        	<input name="codeTable.codename" value="${codeTable.codename!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">码表对值：</label>
        	<input name="codeTable.codevalue" value="${codeTable.codevalue!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">排序：</label>
        	<input name="codeTable.sortnum" value="${codeTable.sortnum!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">状态：</label>
        	<input name="codeTable.status" value="${codeTable.status!}" type="text" class="span6 m-wrap" /><br>
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>