<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>添加商品信息</title>
	<base href="${core}/"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
 <div class="container">

      <form class="form-signin" action="goods/save" method="post">
        <h2 class="form-signin-heading">请录入商品信息</h2>
        <input type="text" id="goods" name="goods.goods" class="input-block-level" placeholder="商城类目">
        <input type="text" id="goodsname" name="goods.goodsname" class="input-block-level" placeholder="商品名称">
        <input type="text" id="price" name="goods.price" class="input-block-level" placeholder="价格">
        <input type="text" id="amount" name="goods.amount" class="input-block-level" placeholder="商品数量">
        <input type="text" id="pic" name="goods.pic" class="input-block-level" placeholder="宝贝图片">
        <input type="text" id="message" name="goods.message" class="input-block-level" placeholder="商品描述">
        <input type="text" id="tamllurl" name="goods.tamllurl" class="input-block-level" placeholder="淘宝地址">
        <input type="text" id="submitdate" name="goods.submitdate" class="input-block-level" placeholder="发布时间">
        <input type="text" id="status" name="goods.status" class="input-block-level" placeholder="状态">

        <button class="btn btn-large btn-primary" type="submit" onsubmit="save();">保存商品信息</button>
      </form>

    </div> <!-- /container -->
    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>