<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>宝贝信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
	<form class="form-signin" action="treasure/modify" method="post">
		<h1>
			<a href="./treasure/find">宝贝信息 </a>
		</h1>

		<div class="control-group" hidden="block">
			<label class="control-label">宝贝ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="treasure.treasureid"
					value="${treasure.treasureid!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="treasure.subject"
					value="${treasure.subject!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">发布时间<span class="required">*</span></label>
			<div class="controls">
				<input type="datetime" name="treasure.dateline"
					value="${treasure.dateline!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="treasure.message"
					value="${treasure.message!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否匿名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="treasure.anonymous"
					value="${treasure.anonymous!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否启用签名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="treasure.usesig"
					value="${treasure.usesig!}" class="span6 m-wrap" />
			</div>
		</div>

	</form>
</body>
</html>