<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>帖子信息</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<script type="text/javascript" language="text/javascript">
	function goToPageSize(pageSize,postId) {
		location.href = "./post/findById?postId=" + postId + "&pageSize=" + pageSize
				+ "&pageNumber=1";
	};

	function pageSize(pageSize) {
		var obj = document.getElementById('pageSize');
		for (var i = 0; i < obj.length; i++) {
			if (pageSize == obj.options[i].value) {
				obj.options[i].selected = true;
			} else {
				obj.options[i].selected = false;
			}

		}
	}
</script>
</head>
<body>
	<form class="form-signin" action="post/modify" method="post">
		<h1>
			<a href="./post/find">帖子信息 </a>
		</h1>

		<div class="control-group" hidden="block">
			<label class="control-label">帖子ID<span class="required">*</span></label>
			<div class="controls">
				<input type="hidden" name="post.postid" value="${post.cost!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">楼主<span class="required">*</span></label>
			<div class="controls">
				<input type="number" name="username" value="${username!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题<span class="required">*</span></label>
			<div class="controls">
				<input type="number" name="post.subject" value="${post.subject!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">发表时间<span class="required">*</span></label>
			<div class="controls">
				<input type="datetime" name="post.dateline"
					value="${post.dateline!}" class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">帖子内容<span class="required">*</span></label>
			<div class="controls">
				<input type="datetime" name="post.message" value="${post.message!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否匿名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.anonymous" value="${post.anonymous!}"
					class="span6 m-wrap" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">是否启用签名<span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="post.usesig" value="${post.usesig!}"
					class="span6 m-wrap" />
			</div>
		</div>

		每页<select name="pageSize" id="pageSize"
			onchange="goToPageSize(this.value,${post.postid!})">
			<option value="20" selected="true">20</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="80">80</option>
			<option value="100">100</option>
		</select>条&nbsp;共${page.totalRow!}条&nbsp;第${page.pageNumber!}
		/${page.totalPage!}页 <a
			href="./post/findById?postId=${post.postid!}&pageNumber=1&pageSize=${page.pageSize!}">首页</a>
		<a
			href="./post/findById?postId=${post.postid!}&pageNumber=${page.pageNumber!-1<1?1:page.pageNumber!-1}&pageSize=${page.pageSize!}">上页</a>
		<a
			href="./post/findById?postId=${post.postid!}&pageNumber=${page.pageNumber!+1>page.totalPage!?page.totalPage!:page.pageNumber!+1}&pageSize=${page.pageSize!}">下页</a>
		<a
			href="./post/findById?postId=${post.postid!}&pageNumber=${page.totalPage!}&pageSize=${page.pageSize!}">末页</a>

		<div class="control-group">
			<a href="./post/replyComment?targetId=${post.postid!}">回复</a>
		</div>
		<% for (comment in page.list){ %>
		<div class="control-group">
			<div class="control-group">
				<div class="control-group">
					<label class="control-label">用户名<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="comment.userid"
							value="${comment.userid!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">时间<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="comment.dateline"
							value="${comment.dateline!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">内容<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="comment.message"
							value="${comment.message!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<a
						href="./post/replyComment?targetId=${post.postid!}&pId=${comment.commentid!}">回复</a>
					<a href="./post/deleteComment?commentId=${comment.commentid!}">删除</a>
				</div>

			</div>
			<div class="control-group">
				<% for (follow in followPage){
				if(follow.pid!=comment.commentid){continue;}%>
				<div class="control-group">
					<label class="control-label">用户名<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="follow.userid"
							value="${follow.userid!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">回复对象<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="follow.touserid"
							value="${follow.touserid!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">内容<span class="required">*</span></label>
					<div class="controls">
						<input type="number" name="follow.message"
							value="${follow.message!}" class="span6 m-wrap" />
					</div>
				</div>

				<div class="control-group">
					<a
						href="./post/replyComment?targetId=${post.postid!}&pId=${comment.userid!}&toUserId=${follow.userid!}">回复</a>
					<a href="./post/deleteComment?commentId=${comment.commentid!}">删除</a>
				</div>
				<% } %>
			</div>
		</div>
		<% } %>

	</form>
</body>
</html>