<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>修改商品信息</title>
	<base href="${core}/"/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<div class="container">
      <form class="form-signin" action="goods/update" method="post" enctype="multipart/form-data">
        <h2 align="center" class="form-signin-heading">请修改商品信息</h2>
        <input type="text" id="goodsid" name="goods.goodsid" value="${goods.goodsid!}" />
        <input type="text" id="goods" name="goods.goods" class="input-block-level" placeholder="商城类目" value="${goods.goods!}"/>
        <input type="text" id="goodsname" name="goods.goodsname" class="input-block-level" placeholder="商品名称" value="${goods.goodsname!}"/>
        <input type="text" id="price" name="goods.price" class="input-block-level" placeholder="价格" value="${goods.price!}"/>
        <!-- <input type="text" id="amount" name="goods.amount" class="input-block-level" placeholder="商品数量" value="${goods.amount}"/> -->
		选择要上传的图片：<input type="file" id="picture" name="picture" size="20" maxlength="255" value="${goods.pic!}"/>
        <input type="text" id="message" name="goods.message" class="input-block-level" placeholder="商品描述" value="${goods.message!}"/>
        <input type="text" id="tamllurl" name="goods.tamllurl" class="input-block-level" placeholder="淘宝地址" value="${goods.tamllurl!}"/>
        <button class="btn btn-large btn-primary" type="submit" onsubmit="update();" >保存已修改商品信息</button>
      </form>
	</div>
    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>