<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>菜单</title>
<base href="${core}/" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<a href="menu/goMenu">菜单列表</a>
	<div>
	<table class="table table-striped">
		<thead>
			<tr>
			菜单列表${menuList.~size}
			</tr>
			<tr>
				<th>序号</th>
				<th>菜单名称</th>
				<th>actionkey</th>
			</tr>
		</thead>
		<tbody>
			<% 
			var index = 0 ;
			for(m in menuList){
				index = index + 1 ;
			%>
			<tr>
				<td>${index}</td>
				<td>${m.menuname!}</td>
				<td>${m.actionkey!}</td>
				<td> 
                    <a href="menu/selectMenuById/${m.menuid}">修改</a>
					<a href="menu/deleteMenu/${m.menuid}" onclick="return confirm('确定删除？')">删除</a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
	</div>
</body>
</html>