<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
	<base href="${core}/"/>
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>
   <div>
     <form class="form-signin" action="menu/updateMenu" method="post">
        <h2 class="form-signin-heading">编辑菜单</h2>
        	<input name="menu.menuid" value="${menu.menuid}" type="text" class="span6 m-wrap" style="display:none"/><br>
        	<label class="control-label">菜单名称：</label>
        	<input name="menu.menuname" value="${menu.menuname!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">section_name：</label>
        	<input name="menu.actionkey" value="${menu.actionkey!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">是否父级菜单：</label>
        	<input name="menu.top" value="${menu.top!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">sortNum：</label>
        	<input name="menu.sortnum" value="${menu.sortnum!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">parentmenuid：</label>
        	<input name="menu.parentmenuid" value="${menu.parentmenuid!}" type="text" class="span6 m-wrap" /><br>
        	<!-- 
        	<label class="control-label">modify_time：</label>
        	<input name="menu.modify_time" value="${menu.modify_time!}" type="text" class="span6 m-wrap" /><br>
        	-->
        	<label class="control-label">creater：</label>
        	<input name="menu.creater" value="${menu.creater!}" type="text" class="span6 m-wrap" /><br>
        	<!-- 
        	<label class="control-label">modify_time：</label>
        	<input name="menu.modify_time" value="${menu.modify_time!}" type="text" class="span6 m-wrap" /><br>
        	 -->
        	<label class="control-label">modifier：</label>
        	<input name="menu.modifier" value="${menu.modifier!}" type="text" class="span6 m-wrap" /><br>
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>
    </div>
</body>
</html>