<footer>
  <div class="Link">
    	<div class="CartoonTitle">友情链接</div>
      
      <span class="LinkWord">
      	<a href="http://www.189.cn/hd/super189/201410/?cmpid=jt-ppc-baidu-yz-J43D15-8346">中国电信</a>|
      	<a href="http://www.10086.cn/fj/">中国移动</a>|
      	<a href="http://www.fjsen.com/">东南网</a>|
      	<a href="http://www.10010.com/">中国联通</a>|
      	<a href="http://www.teamcool.cn/">天之谷动画</a>|
      	<a href="http://www.ssjzdm.com/">金尊动漫</a>|
      	<a href="http://dongmark.taobao.com">动漫方舟淘宝店</a>|
      	<a href="http://weibo.com/dongmark2014">微信服务号：动漫方舟</a>|
      </span>
    </div>
    <div class="FooterZoom">
    	<div class="FooterBorder">
            <div class="FooterLogo">
            	<a href="#"><img src="images/logoBottom.png"></a>
            </div>
      		<div class="FooterLogo">
            	<a href="#"><img src="http://www.dongmark.com/images/logoBottom.png"></a>
            </div>
            <div class="FooterLogo">
            	<a href="#"><img src="http://www.dongmark.com/images/logoBottom.png"></a>
            </div>
           
        </div>
    </div>
</footer>