
<footer>
  <div class="Link">
    	<div class="CartoonTitle">友情链接</div>
      
      <span class="LinkWord">
      	<a href="http://www.189.cn/hd/super189/201410/?cmpid=jt-ppc-baidu-yz-J43D15-8346">中国电信</a>|
      	<a href="http://www.10086.cn/fj/">中国移动</a>|
      	<a href="http://www.fjsen.com/">东南网</a>|
      	<a href="http://www.10010.com/">中国联通</a>|
      	<a href="http://www.teamcool.cn/">天之谷动画</a>
      </span>
    </div>
     <div class="Link">
    	<div class="CartoonTitle">旗下网站</div>
      <span class="LinkWord">
      	<a href="http://www.ssjzdm.com/">金尊动漫</a>|
      	<a href="http://dongmark.taobao.com">动漫方舟淘宝店</a>|
      	<a href="http://weibo.com/dongmark2014">官方微博：动漫方舟</a>
      </span>
    </div>
     <div class="Link">
    	<div class="CartoonTitle">合作专区</div>
      <span class="LinkWord">
      <table>
      <tr>
	      <td >
	      	<a href="http://www.189.cn/hd/super189/201410/?cmpid=jt-ppc-baidu-yz-J43D15-8346"><img src="http://www.dongmark.com/images/zgdx.jpg"></a>
	      </td>
      
	      <td >
	      	<a href="http://www.fjsen.com/"><img src="http://www.dongmark.com/images/dnw.jpg"></a>
	      </td>
     
     
      	<td >
      		<a href="http://www.10010.com/"><img src="http://www.dongmark.com/images/zglt.jpg"></a>
      	</td>
     
      	<td >
      		<a href="http://www.10086.cn/fj/"><img src="http://www.dongmark.com/images/zgyd.jpg"></a>
      	</td>
     
      	<td >
      		<a href="http://www.teamcool.cn/"><img src="http://www.dongmark.com/images/tzg.jpg"></a>
      	</td>
      	<td>
      	<a style="margin-left: 0px;font-size:18px;color:#F00;">联系我们</a>
      	
      	<ul>
      		<li>内容合作：13159252974</li>
      		<li>联系邮箱：67755423@qq.com</li>
      		<li>官方微博：http://weibo.com/dongmark2014</li>
      	</ul>
      	</td>
      	<td>
      	<ul>
      	<li><a style="margin-left: 16px;font-size:18px;color:#F00;">微信服务号</a></li>
      	<li><a href="javascript:void(0)" onclick="openwinweixin()"> <img src="http://www.dongmark.com/images/weixinnumber.png"></a></li>
      	</ul>
      	</td>
      </tr>	
      </table>
      </span>
    </div>
</footer>
<% include("/common/user_footer.html"){} %>
