<div class="LevelTitle" style="height: 30px;">
     <div style="width: 100px;height: 32px;float: left;margin-left: 30px"><a href="um/forLeaveMsg?menuId=5"><h3>所有留言</h3></a></div>
     <div style="width: 100px;height: 32px;float: left;margin-left: 30px"><a href="um/forLeaveMsg?menuId=6"><h3>用户留言</h3></a></div>
     <div style="width: 100px;height: 32px;float: left;margin-left: 30px"><a href="um/forLeaveMsg?menuId=7"><h3>系统留言</h3></a></div>
     <div style="width: 100px;height: 32px;float: left;margin-left: 380px"><a href="um/forLeaveMsg?menuId=8"><h4>发布留言</h4></a></div>
</div>