<title>动漫方舟</title>
<base href="${core}/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<!-- Bootstrap -->
<link href="${core}/css/Cartoon.css" rel="stylesheet" media="screen">
<link href="${core}/css/Member.css" rel="stylesheet" media="screen">
<link href="${core}/css/Cartoon.css" rel="stylesheet" type="text/css">
<meta name="baidu-tc-verification" content="84bb2dec0b4dcb9a22635969ed2a8b4c" />
<!--[if lt IE 9]>
    <script src="js/html5shiv-printshiv.js"></script>
<![endif]-->
<script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://m.dongmark.com","http://www.dongmark.com");</script>
<script src="${core}/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="${core}/js/jquery-1.11.1.min.js"></script>
<script src="${core}/js/index.js"></script>
<script src="${core}/js/goods.js"></script>
<script src="${core}/js/comment.js" type="text/javascript"></script>
<script src="${core}/js/jqthumb.min.js"></script>
<script type="text/javascript">
	function resizeImage(el,width,height){
		if(width==''||typeof(width)=='undefined'){
			 width = $(el).width();
		}
		if(height==''||typeof(height)=='undefined'){
			 height = $(el).height();
		}
		$(el).jqthumb({
			width:width,
			height:height
		});
	}
	
	function resizeImg(clazz,width,height) {
		$(clazz).each(function(){
			$(this).error(function(){
				if (this.src != 'http://www.dongmark.com/images/default.png') {
					this.src = 'http://www.dongmark.com/images/default.png';
					resizeImage(this,width,height);
					return false;
				}
			});
			resizeImage(this,width,height);
		});
	}
	
function onUploadImgChange(node){
	var preview = createHtml.find("#userImg").first();
	if(node.value == null || node.value ==''){
		preview.html("");
		return false;
	}else if( !node.value.match( /.jpg|.gif|.png|.bmp/i ) ){
		preview.html("");
        return false;
    }
    if (node.files && node.files[0]){
    	var reader = new FileReader();  
    	reader.onload = function(evt){
    		preview.html('<img src="' + evt.target.result + '" />');
    	}
    	reader.readAsDataURL(node.files[0]);
    }else{
    	preview.html('<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + node.value + '\'"></div>');
    }
}
function openwinweixin() { 
	  window.open ("weixin.html", "newwindow", "height=500, width=600, toolbar =0, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
	} 
	
</script>
