<div class="TopFix">
	<div class="TopFixZoom">
    	<span class="FixLeft">欢迎来到动漫方舟！<a href="user/goLogin">请登录</a><a href="user/goRegist">免费注册</a></span>
        <span class="FixRight">
        	<a href="personal/forMyProduction">我的方舟</a><a href="#">收藏夹</a><a href="#">商家支持</a><a href="#">网站导航</a>
        </span>
    </div>
</div>
<header>
	<div class="HeadTop">
    	<div class="Logo"><img src="images/logo.png"></div>
        <div class="Search">
        	<input name="" type="text" class="SearchInput"><input name="" type="button" class="SearchButton" value="搜索">
            <div class="SearchKey">
            <span class="font_r"><a href="#">盆栽</a></span>|<span><a href="#">创意家居</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">盆栽</a></span>|<span class="font_r"><a href="#">动漫</a></span>|<span><a href="#">原创</a></span>
            </div>
        </div>
    </div>
    <nav>
    	<ul class="NavR">
        	<li><a href="#"><img src="images/icon07.png">购物车</a></li>
        </ul>
        <ul id="nav_menu" class="NavL">

        </ul>
        <script type="text/javascript">
      //菜单导航 按钮事件 选中后高亮
		$(document).ready(function(){  
		    $(".NavL li a").each(function(){  
		        $this = $(this);  
		        if($this[0].href==String(window.location)){  
		        $(".NavL li").removeClass("LiFuc");  
		            $this.parent().addClass("LiFuc");  
		        }  
		    });  
		});  
        </script>
</header>