<script src="${core}/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
	window.onload=function(){
		pageSize(${page.pageSize!});
	}
	function goToPageSize(node) {
		location.href = "${action!}" + "&pageSize=" + node.value
				+ "&pageNumber=1";
	};

	function pageSize(pageSize) {
		var obj = document.getElementById('pageSize');
		for (var i = 0; i < obj.length; i++) {
			if (pageSize == obj.options[i].value) {
				obj.options[i].selected = true;
			} else {
				obj.options[i].selected = false;
			}

		}
	};
</script>
<div>
	每页<select name="pageSize" id="pageSize" onchange="goToPageSize(this)">
		<option value="2" selected="selected">2</option>
		<option value="3">3</option>
		<option value="5">5</option>
		<option value="8">8</option>
		<option value="10">10</option>
	</select>条&nbsp;共${page.totalRow!}条&nbsp;第${page.pageNumber!}
	/${page.totalPage!}页 <a
		href="${action!}&pageNumber=1&pageSize=${page.pageSize!}">首页</a> <a
		href="${action!}&pageNumber=${page.pageNumber!-1<1?1:page.pageNumber!-1}&pageSize=${page.pageSize!}">上页</a>
	<a
		href="${action!}&pageNumber=${page.pageNumber!+1>page.totalPage!?page.totalPage!:page.pageNumber!+1}&pageSize=${page.pageSize!}">下页</a>
	<a
		href="${action!}&pageNumber=${page.totalPage!}&pageSize=${page.pageSize!}">末页</a>
</div>