<!DOCTYPE html>
<head>

<% include("/common/head.html"){} %>


<script type="text/javascript" src="${core}/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="${core}/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${core}/js/jquery.form.js"></script>
<script type="text/javascript" src="${core}/js/personal.js"></script>
</head>
<body>
	<% include("/common/header.html"){} %>

	<section>
	<% include("/common/personalMenu.html"){} %>
	
	${layoutContent}
	</section>
</body>
</html>
