<script src="${core}/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="${core}/js/comment.js" type="text/javascript"></script>
<div id="commentForm">
	<input value="${publishFaceAction!}" id="publishFaceAction" style="display: none;"> 
	<input value="${targetId!}" id="targetId" style="display: none;"> 
	<input value="${pageAction!}" id="pageAction" style="display: none;">
	<input value="${fatherNode!}" id="fatherNode" style="display: none;">
	<input value="${pId!}" id="pId" style="display: none;"> 
	<input value="${toUserId!}" id="toUserId" style="display: none;"> 
	<input value="${commentFatherNode!}" id="commentFatherNode" style="display: none;">
	<input value="${commentAction!}" id="commentAction" style="display: none;">
	<input value="${followAction!}" id="followAction" style="display: none;">

	<div>
		<input type="button" value="回复" onclick="showPublishFace(this)" />
	</div>
	<div id="showEditor" style="display: none;">
		<div id="editor" style="width: 497px; min-height: 40px; z-index: 0;"></div>
		<textarea name="message" id="message" style="display: none;"></textarea>
		<div>
			<img
				src='http://tb2.bdstatic.com/tb/editor/images/face/i_f02.png?t=20140803'
				onclick='showFace(this)' />
			<table id="face" style="display: none;">
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f01.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f02.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f03.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f04.png?t=20140803"
						onclick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f05.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f06.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f07.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f08.png?t=20140803"
						onclick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f09.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f10.png?t=20140803"
						onclick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f11.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f12.png?t=20140803"
						onClick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f13.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f14.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f15.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f16.png?t=20140803"
						onClick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f17.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f18.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f19.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f20.png?t=20140803"
						onClick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f21.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f22.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f23.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f24.png?t=20140803"
						onClick="insertFace(this)" /></td>
				</tr>
				<tr>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f25.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f26.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f27.png?t=20140803"
						onClick="insertFace(this)" /></td>
					<td><img
						src="http://tb2.bdstatic.com/tb/editor/images/face/i_f28.png?t=20140803"
						onClick="insertFace(this)" /></td>
				</tr>
			</table>
			<div>
				<input id="publish" type="button" value="发表"
					onclick="publishFace(this)">
			</div>
		</div>
	</div>
</div>