<div id="commentForm">
	<div id="showEditor" style="display: none;">
		<div id="editor" class="publishFaceReply"></div>
		<textarea name="message" id="message" style="display: none;"></textarea>
		<img src='images/VentTip05.png' onclick='showFace(this)' />
		<input id="publish" type="button" value="发表" onclick="publish(this,'${targetId!}','${idtype!}','${pId!}','${toUserId!}','${render!}')">
			<table id="face" style="display: none;">
				<tr>
					<td>
						<img src="images/VentTip02.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip03.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip04.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip05.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip06.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip07.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="images/VentTip08.png" onclick="insertFace(this)"/>
					</td>
					<td>
						<img src="/images/VentTip09.png" onclick="insertFace(this)"/>
					</td>
				</tr>
			</table>
	</div>
</div>