<aside>
    <section>
    	<div class="CartoonTitle">精彩推荐</div>
        <div class="CartoonContent">
        		<div class="CartoonSub">
                    <img src="images/pic_Cartoon1.png">
                    <div class="CartoonName"><a href="#">动画大电影</a></div>
                    <div class="CartoonInfo">
                    	<span class="FloatL">2931</span>
                        <span class="FloatR">29</span>
                    </div>
                    <div class="CartoonSubFootbar">人气爆棚剧场版</div>
                </div>
                <div class="CartoonSub">
                    <img src="images/pic_Cartoon2.png">
                    
                    <div class="CartoonName"><a href="#">动画大电影</a></div>
                    <div class="CartoonInfo">
                    	<span class="FloatL">2931</span>
                        <span class="FloatR">29</span>
                    </div>
                    <div class="CartoonSubFootbar">人气爆棚剧场版</div>
                </div>
                <div class="CartoonSub">
                    <img src="images/pic_Cartoon3.png">
                    
                    <div class="CartoonName"><a href="#">动画大电影</a></div>
                    <div class="CartoonInfo">
                    	<span class="FloatL">2931</span>
                        <span class="FloatR">29</span>
                    </div>
                    <div class="CartoonSubFootbar">人气爆棚剧场版</div>
                </div>
                <div class="CartoonSub">
                    <img src="images/pic_Cartoon.png">
                    
                    <div class="CartoonName"><a href="#">动画大电影</a></div>
                    <div class="CartoonInfo">
                    	<span class="FloatL">2931</span>
                        <span class="FloatR">29</span>
                    </div>
                    <div class="CartoonSubFootbar">人气爆棚剧场版</div>
                </div>
        </div>
    </section>
</aside>