<div class="SimilarCarton">
    	<div class="CartoonTitle">估计如下动漫您也感兴趣：</div>
      <div class="CartoonContent List">
        	<div class="RoolLeft"><a href="#"><img src="images/icon_addL.png"></a></div>
            <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="CartoonSub">
             <img src="images/pic_Cartoon1.png">           
             <div class="CartoonName"><a href="#">动画大电影</a></div>
             <div class="CartoonInfo">
                 <span class="FloatL">2931</span>
                 <span class="FloatR">29</span>
              </div>
              <div class="CartoonSubFootbar">人气爆棚剧场版</div>
           </div>
           <div class="RoolRight"><a href="#"><img src="images/icon_addR.png"></a></div>
        </div>
    </div>