<% layout("/admin/admin_layout.html"){ %>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">订单管理</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
					<div class="table-toolbar">
					</div>
					<div id="goodspage">
				 	<%
				 	if (ordList != null) {
				 	 layout("/admin/admin_orderPage.html"){} } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>