<% layout("/admin/admin_layout.html"){ %>
<section> 
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">新增商品</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
      <form class="form-signin" action="goods/saveGoods" method="post" align="center" enctype="multipart/form-data">
        	
        	<label class="control-label">商品类型：</label>
        	<input id="goods" name="goods.goods" value="${goods.goods!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">商品名称：</label>
        	<input id="goodsname" name="goods.goodsname" value="${goods.goodsname!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">价格：</label>
        	<input id="price" name="goods.price" value="${goods.price!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">历史价格：</label>
        	<input id="oldprice" name="goods.oldprice" value="${goods.oldprice!}" type="text" class="span6 m-wrap" /><br>
        	 <!-- <label class="control-label">选择要上传的图片：</label><input type="file" id="pic" name="pic" accept="image/*" size="20" maxlength="255" /><br>  -->
        	<input id="fileImage" type="file" size="30" name="pic" multiple /><br>
        	<label class="control-label">商品描述：</label>
        	<input id="message" name="goods.message" value="${goods.message!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">淘宝地址：</label>
        	<input id="tamllurl" name="goods.tamllurl" value="${goods.tamllurl!}" type="text" class="span6 m-wrap" /><br>        			
       		
       		
        	 
        	 
       		<!-- 
       		<h2 align="center" class="form-signin-heading">请录入商品信息</h2>
        <input type="text" id="goods" name="goods.goods" class="input-block-level" placeholder="商城类目" />
       	<select id="goods" name="goods.goods" class="input-block-level" >
	        <option value="10" selected="selected">创意生活</option>
	        <option value="20">进口商品</option>
	    </select>
        <input type="text" id="goodsname" name="goods.goodsname" class="input-block-level" placeholder="商品名称" />
        <input type="text" id="price" name="goods.price" class="input-block-level" placeholder="价格" />
		选择要上传的图片：<input type="file" id="pictrue" name="pictrue" accept="image/*" size="20" maxlength="255" />
        <input type="text" id="message" name="goods.message" class="input-block-level" placeholder="商品描述" />
        <input type="text" id="tamllurl" name="goods.tamllurl" class="input-block-level" placeholder="淘宝地址" />
         -->
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 