<div class="span3" id="sidebar">
	<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/goods.html')"><i
				class="icon-chevron-right"></i> 商品管理</a></li>
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/community.html')"><i
				class="icon-chevron-right"></i> 社区管理</a></li>
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/wentWall.html')"><i
				class="icon-chevron-right"></i> 发泄墙管理</a></li>
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/user.html')"><i
				class="icon-chevron-right"></i> 用户管理</a></li>
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/manu.html')"><i
				class="icon-chevron-right"></i> 菜单管理</a></li>
		<li><a href="javascript:void(0)"
			onclick="goToManage('/admin/keywords.html')"><i
				class="icon-chevron-right"></i> 关键字管理</a></li>
	</ul>
</div>