<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/menu.js"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">编辑菜单</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="menu/updateMenu?menuid=${menuid!}" method="post">
        	<input name="menu.menuid" value="${menu.menuid}" type="text" class="span6 m-wrap" style="display:none"/><br>
        	菜单名称：<input id="menuname" name="menu.menuname" value="${menu.menuname!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	actionkey：<input id="actionkey" name="menu.actionkey" value="${menu.actionkey!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	菜单级别：<input id="top" name="menu.top" value="${menu.top!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br> 
        	菜单排序：<input id="sortnum" name="menu.sortnum" value="${menu.sortnum!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	父级ID：<select name="menu.parentmenuid" class="span6 m-wrap">         		
        		<%
        		var menuid = menu.parentmenuid;
        		var count = 0;
        		for(m in menuList){
        		if (m.menuid == menuid){
        		count = count + 1;
        		%>
        			<option value="${m.menuid!}" selected="selected">${m.menuname!}</option>
        		<% } %>
        		
    				<option value="${m.menuid!}">${m.menuname!}</option> 
    			<% } %>
    			<% if (count == 0){
        		%>
        			<option value="" selected="selected">主菜单</option>
        		<% } %>
   			</select> <br>
        	菜单模块：<input id="menutype" name="menu.menutype" value="${menu.menutype!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        <button class="btn btn-large btn-primary" onclick="return checknull(this)" type="submit" >保存</button>
        <a href="menu/renderMenu" class="btn btn-large btn-primary" >返回</a>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 