<% layout("/admin/admin_layout.html"){ %>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">论坛管理</div>
			</div>
			<div class="block-content collapse in" id="adminPostHtml">
				<div class="span12">
					<div class="table-toolbar">
						<div class="btn-group">
							<a href="javascript:void(0)"><button class="btn btn-success" onclick="skipUpdatePost(this)">
									添加主题 <i class="icon-plus icon-white"></i>
								</button></a>
						</div>
						<div class="btn-group pull-right">
							<button data-toggle="dropdown" class="btn dropdown-toggle">
								Tools <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Print</a></li>
								<li><a href="#">Save as PDF</a></li>
								<li><a href="#">Export to Excel</a></li>
							</ul>
						</div>
					</div>
					
					<div class="navbar navbar-inner block-header" id="page">
					<% layout( 
						"/admin/admin_detailpost.html", 
						{
							"postPage":postPage 
						} 
					){} %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<% } %>


