<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的作品</title>

<base href="${core}/" />
<script src="js/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap-3.2.0.min.js"></script>
<link href="css/Cartoon.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-3.2.0.min.css" rel="stylesheet">
<link href="css/Member.css" rel="stylesheet">

</head>
<script type="text/javascript">
	var pageSize = 6;
	var pageCount;
		
	$(document).ready(function(){
		var $parentDialog = $('#parentDialog');
		var $parentTable = $('#parentTable');
		////////////////////////////////////////////////////////////////////////////父表
		//加载表格数据
		$.showTableParent();
		
		//选择类型 初始化父表格
		$('#typeSelect').change(function(){
			$.showTableParent();
		});
		//添加
		$('#parentAdd').click(function(){
			//$.showParentDialog('添加');
			$.digcenter($parentDialog,'添加','works/save');
			$parentDialog.show();
		});
		
		//取消按钮
		$('#parentDigCancel',$parentDialog).click(function(){
			$parentDialog.hide();
		});
		
		//修改
		$('#parentUpdate').click(function(){
			//获取选择的表格
			var $selectTr = $('tr.select',$parentTable);
			var parId = '';
			if($selectTr.length >= 1){
				parId = $('td:eq(0)',$selectTr).html();
			}else{
				alert("请选中一条记录修改");
				return;
			}
			//ajax提交选中的Id，查询并初始化值。然后显示dig
			$.initDialog($parentDialog,'works/getWorksJsonById','id='+parId,'修改','works/updateWorks');
	    });
		
		$("#parentDelete").click(function(){
			childrenTable
	    });
		
		///////////////////////////////////////////////////////////////////////////子表
		var $childrenDialog = $('#childrenDialog');
		var $childrenTable = $('#childrenTable');
		
		//点击添加子表
		$('#childrenAdd').click(function(){
			//保证父表已经选中行
			var $selectTr = $('tr.select',$parentTable);
			var parId = '';
			if($selectTr.length >= 1){
				parId = $('td:eq(0)',$selectTr).html();
			}else{
				alert("请选择一条父表记录");
				return;
			}
			$.digcenter($childrenDialog,'添加','works/saveWork');
			$('#parId').val(parId);
			$childrenDialog.show();
		});
		
		//点击修改子表
		$('#childrenUpdate').click(function(){
			//获取选择的表格
			var $selectTr = $('tr.select',$childrenTable);
			var parId = '';
			if($selectTr.length >= 1){
				parId = $('td:eq(0)',$selectTr).html();
			}else{
				alert("请选中一条记录修改");
				return;
			}
			//ajax提交选中的Id，查询并初始化值。然后显示dig
			$.initDialog($childrenDialog,'works/getWorkJsonById','id='+parId,'修改','works/updateWork');
		});
		
		//取消按钮
		$('#childrenDigCancel',$childrenDialog).click(function(){
			$childrenDialog.hide();
		});
		
		
	});
	
	//定义jQuery方法
	$.extend({
		initDialog:function($dialog,url,data,title,action){
			$.ajax({
				type: 'post',
				url: url,
				data:data,
				dataType: 'json',
				success:function(data){
					$.each(data,function(key,value){
						var $input = $('[flag='+key+']',$dialog);
						if($input.length >= 1){
							$input.val(value);
						}
					});
					$.digcenter($dialog,title,action);
					$dialog.show();
				}
			});
		},
		digcenter:function($dialog,title,action){
			if(title == '修改'){
				$('[type=file]',$dialog).hide();
			}else{
				$('[type=file]',$dialog).show();
			}
			$('form',$dialog).attr('action',action);
			$('div.panel-heading',$dialog).html(title);
			var widthWin = $(window.document.body).width();
			var heightWin = $(window.document.body).height();
			var widthDig = $dialog.width();
			var heightDig = $dialog.height();
			var left = (widthWin - widthDig) / 2;
			var top = (heightWin - heightDig) / 6;
			$dialog.css({'left':left,'top':top});
		},
		showTableChilrend : function(parentId){
			var $page = $('#pageChildren');
			var pageIndex = $('li.active a',$page).html();
			var $self = $('#childrenTable');
			$.ajax({
				type:'post',
				async:false,
				url: 'works/getSubWork',
				dataType:'json',
				data:'worksId='+parentId+'&pageIndex='+pageIndex+'&pageSize='+pageSize,
				success:function(data){
					//构建分页
					//构建表格
					$('tbody tr',$self).remove();
					$.each(data.list,function(i,rows){
						$tbody = $('tbody',$self).append('<tr></tr>');
						$tr = $('tr:eq('+i+')',$tbody);
						$tr.append('<td>'+rows.workid+'</td>');
						$tr.append('<td>'+rows.worknum+'</td>');
						$tr.append('<td>'+rows.workname+'</td>');
						$tr.append('<td>'+rows.workdes+'</td>');
						$tr.append('<td>'+rows.isdisable+'</td>');
					});
					
					$('tbody tr',$self).unbind('click');
					$('tbody tr',$self).bind('click',function(){
						$('tbody tr',$self).removeClass('select');
						$(this).addClass('select');
					});
				}
			});
		},
		showTableParent : function(){
			var select = $('#typeSelect').val();
			var $pageIndex = $('#pageParent li.active a');
			$self = $('#parentTable');
			$.ajax({
				type:'post',
				async:false,
				url: "works/getWorksInfoByType",
				dataType:'json',
				data:'workstype='+select+'&pageIndex='+$pageIndex.html()+'&pageSize'+pageSize,
				success:function(data){
					//构建表格
					$self = $('#parentTable');
					$('tbody tr',$self).remove();
					$.each(data.list,function(i,rows){
						$tbody = $('tbody',$self).append('<tr class="dataRow"></tr>');
						$tr = $('tr:eq('+i+')',$tbody);
						$tr.append('<td >'+rows.worksid+'</td>');
						$tr.append('<td>'+rows.worksname+'</td>');
						$tr.append('<td>'+rows.workstype+'</td>');
						$tr.append('<td>'+rows.creativeprocess+'</td>');
						$tr.append('<td>'+rows.describle+'</td>');
						$tr.append('<td>'+rows.istop+'</td>');
						$tr.append('<td>'+rows.comment+'</td>');
						$tr.append('<td>'+rows.pageviews+'</td>');
						$tr.append('<td>'+rows.collection+'</td>');
						$tr.append('<td>'+rows.praise+'</td>');
						$tr.append('<td>'+rows.maxnum+'</td>');
						$tr.append('<td>'+rows.updatetime+'</td>');
					});
					$('tbody tr',$self).unbind('click');
					$('tbody tr',$self).bind('click',function(){
						$('tbody tr',$self).removeClass('select');
						$(this).addClass('select');
						//父表格点击 加载子表格
						var parentId = $('td:eq(0)',this).html();
			 			$.showTableChilrend(parentId);
					});
				}
			});
		}
	});
</script>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">选择类型</div>
		<div class="panel-body">
			<label for="name">类型：</label>
			<select class="btn btn-default" id="typeSelect">
				<option value="">-请选择一个类型-</option>
				<option value="10">搞笑</option>
				<option value="20">恐怖</option>
			</select>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body" >
			<button type="button" class="btn btn-success" id="parentAdd"> 添加</button>
			<button type="button" class="btn btn-warning"  id="parentUpdate"> 修改</button>
			<button type="button" class="btn btn-danger" id="parentDelete"> 删除</button>
		</div>
		<div class="table-responsive">
		   <table class="table" id="parentTable">
		      <thead>
		         <tr>
		            <th>编号</th>
		            <th>名称</th>
		            <th>类型</th>
		            <th>是否完结</th>
		            <th>描述</th>
		            <th>置顶</th>
		            <th>评论数</th>
		            <th>浏览量</th>
		            <th>收藏数</th>
		            <th>点赞数</th>
		            <th>最新一集</th>
		            <th>最后更新时间</th>
		         </tr>
		      </thead>
		      <tbody>
		         
		      </tbody>
		   </table>
		</div>
		<ul class="pagination" id="pageParent">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	<div class="panel panel-default workContent">
		<div class="panel-body">
			<button type="button" class="btn btn-success" id="childrenAdd"> 添加</button>
			<button type="button" class="btn btn-warning" id="childrenUpdate"> 修改</button>
			<button type="button" class="btn btn-danger" id="childrenDelete"> 删除</button>
			<div class="table-responsive">
			   <table class="table" id="childrenTable">
			      <thead>
			         <tr>
			            <th>编号</th>
			            <th>第几集</th>
			            <th>该集名称</th>
			            <th>简介</th>
			            <th>是否显示</th>
			         </tr>
			      </thead>
			      <tbody>
			      	
			      </tbody>
			   </table>
			</div>
			<ul class="pagination" id="pageChildren">
			  <li><a href="#">&laquo;</a></li>
			  <li class="active"><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
	
	<div id="parentDialog" class="panel panel-primary" style="position:fixed; z-index:9999; width: 300px;height:600px; display: none;">
		<div class="panel-heading"></div>
		<div class="panel-body">
		<form class="form-inline" role="form" method="post" enctype="multipart/form-data">
			<input type="hidden" flag="worksid" name="works.worksid" class="form-control" required="required"/>
			<label for="name">作品名称：</label>
	        <input type="text" flag="worksname" name="works.worksname" class="form-control" placeholder="作品名称" required="required"/>
	        </br>
	        <label for="name">作品类别：</label>
	        <input type="text" flag="workstype" name="works.workstype" class="form-control" placeholder="作品类别" required="required"/>
	        </br>
	        <label for="name">评论数：</label>
	        <input type="text" flag="comment" name="works.comment" class="form-control" placeholder="评论数" required="required"/>
	        </br>
	        <label for="name">浏览量：</label>
	        <input type="text" flag="pageviews" name="works.pageviews" class="form-control" placeholder="浏览量" required="required"/>
	        </br>
	        <label for="name">收藏数：</label>
	        <input type="text" flag="collection" name="works.collection" class="form-control" placeholder="收藏数" required="required"/>
	        </br>
	        <label for="name">点赞数：</label>
	        <input type="text" flag="praise" name="works.praise" class="form-control" placeholder="点赞数" required="required"/>
	        </br>
	        <label for="name">最新集数：</label>
	        <input type="text" flag="maxnum" name="works.maxnum" class="form-control" placeholder="最新集数" required="required"/>
	        </br>
	        <label for="name">是否完结：</label>
	        <select flag="creativeprocess" name="works.creativeprocess" class="btn btn-default" required="required">
		        <option value="10" selected="selected">创作中</option>
		        <option value="20">已完结</option>
		    </select>
	        </br>
	        <!--TODO 根据用户类型来显示上传图片还是直接贴文件路径-->
			<label type="file" for="name">作品封面：</label>
			<input type="file" class="form-control" name="cover" accept="image/*" style="width:180px;" />
			<br>
			<!-- <label for="name">上传作品：</label>
			<input class="form-control" type="file" id="comic" name="comic" accept="video/*" size="20" maxlength="255" required="required"/>
			<br> -->
			<label for="name">作品描述：</label>
			</br>
			<textarea class="form-control" rows="5" cols="35" flag="describle" name="works.describle"></textarea>
			<div class="btn btn-body" style="width: 100%;">
			<button id="parentDigSubmit"  class="btn btn-success" type="submit">提交</button>
			&nbsp;&nbsp;&nbsp;
			<button id="parentDigCancel" class="btn btn-cancel"  type="reset">取消</button>
			</div>
        </form>
		</div>
	</div>
	
	<div id="childrenDialog" class="panel panel-primary" style="position:fixed; z-index:9999; width: 300px;height:400px; display: none;">
		<div class="panel-heading"></div>
		<div class="panel-body">
		<form class="form-inline" role="form" method="post" enctype="multipart/form-data">
			<input type="hidden"  flag="workid" name="work.workid"/>
			<input type="hidden"  flag="worksid" name="work.worksid" id="parId" />
			<label for="name" class="">名称：</label>
	        <input type="text" flag="workname" name="work.workname" class="form-control" placeholder="名称" required="required"/>
	        </br>
	        <label for="name" class="">第几集：</label>
	        <input type="text" flag="worknum" name="work.worknum" class="form-control" placeholder="第几集" required="required"/>
	        </br>
	        <label for="name">是否显示：</label>
	        <select flag="isdisable" name="work.isdisable" class="btn btn-default" required="required">
		        <option value="1" selected="selected">显示</option>
		        <option value="0">隐藏</option>
		    </select>
	        </br>
	        <!--TODO 根据用户类型来显示上传图片还是直接贴文件路径-->
			<label  type="file" for="name">资源：</label>
			<input type="file" class="form-control" name="comic" style="width:180px;" />
			<br>
			<label for="name">本集描述：</label>
			</br>
			<textarea class="form-control" rows="5" cols="35" flag="workdes" name="work.workdes"></textarea>
			<div class="btn btn-body" style="width: 100%;">
			<button id="childrenDigSubmit" class="btn btn-success" type="submit">提交</button>
			&nbsp;&nbsp;&nbsp;
			<button id="childrenDigCancel" class="btn btn-cancel" type="reset">取消</button>
			</div>
        </form>
		</div>
	</div>
</body>
</html>