<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">修改订单</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="order/updateOrder" method="post">
        	<input name="orderDetail.orderdetailid" value="${orderdetail.orderdetailid!}" type="hidden" class="span6 m-wrap" style="display:none"/><br>
        	<input name="orders.orderid" value="${orders.orderid!}" type="hidden" class="span6 m-wrap" style="display:none"/><br>
        	<label class="control-label">订单编号：</label>
        	<input name="orderDetail.ordernum" value="${orderdetail.ordernum!}" type="text" class="span6 m-wrap" /><br>        	
        	<label class="control-label">商品名称：</label>
        	<input name="orderDetail.goodsname" value="${orderdetail.goodsname!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">商品价格：</label>
        	<input name="orderDetail.goodsprice" value="${orderdetail.goodsprice!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">商品总数：</label>
        	<input name="orderDetail.goodsnum" value="${orderdetail.goodsnum!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">是否支付：</label>
        	<input name="orders.isPay" value="${orders.isPay!}" type="text" class="span6 m-wrap" /><br>
        	<label class="control-label">是否发货：</label>
        	<input name="orders.isDelivery" value="${orders.isDelivery!}" type="text" class="span6 m-wrap" /><br>        	        	
        <button class="btn btn-large btn-primary" type="submit" >保存</button>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 