<% layout("/admin/admin_layout.html"){ %>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">图片管理</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
					<div class="table-toolbar">
						<div class="btn-group">
							<a href="loginpic/addLoginPic"><button class="btn btn-success">
									新增图片 <i class="icon-plus icon-white"></i>
								</button></a>
						</div>
					</div>
					<div id="loginpicpage">
				 	<%
				 	if (lpList != null) {
				 	 layout("/admin/admin_loginPicPage.html"){} } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
