<% layout("/admin/admin_layout.html"){ %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form :input[required=required]').each(function(){
		        var $required = $("<span class='font_r' style=\"color: red\"> *</span>"); //创建元素
		        $(this).parent().append($required); //然后将它追加到文档中
		    });
			
			 //文本框失去焦点后
		    $('form :input').blur(function(){
		       	var $parent = $(this).parent();
		        $parent.find(".font_r").remove();
		      	//标题验证
		        if($(this).is('#title')){
		        	if( this.value=="" ){
		        	    var errorMsg = '标题不能为空';
		        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
		        	}else if(this.value.length > 11){
		        		var errorMsg = '标题长度必须小于11个字';
		        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
		        	}else{
		        	    var okMsg = '输入正确';
		             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
		       	   	}
		        }
		      //概要验证
		        if($(this).is('#content')){
		        	if(this.value.length > 30){
		        		var errorMsg = '概要长度必须小于30个字';
		        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
		        	}else{
		        	    var okMsg = '输入正确';
		             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
		       	   	}
		        }
		      	//版块路径
		        if($(this).is('#actionkey')){
		        	if(this.value == ""){
		        		var errorMsg = '版块根路径不能为空！';
		        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
		        	}else{
		        	    var okMsg = '输入正确';
		             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
		       	   	}
		        }
		        //显示顺序
		        if($(this).is('#position')){
		        	var reg = /^\d*$/;
		        	if(this.value == ""){
		        		
		        	}else if( !reg.test(this.value) ){
		        	    var errorMsg = '格式错误，请输入正整数！';
		        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
		        	}else{
		        		var okMsg = '输入正确';
		             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
		        	}
		        }
		    });
		});
		
	</script>
	<div class="span9" id="content">
		<div class="row-fluid">
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">社区管理</div>
				</div>
				<div class="block-content collapse in"></div>
				<%	if(isEmpty(community.communityid)){ %>
				<form id="submitForm" class="form-horizontal" action="./community/save" method="post" onsubmit="return submitCommunity(this,'${communtiy.communtiyid!}');">
				<%	} else { %>
				<form id="submitForm" class="form-horizontal" action="./community/update" method="post" onsubmit="return submitCommunity(this);">
				<%	} %>
					<fieldset>
						<input type="text" name="community.communityid" value="${community.communityid!}" style="display: none;">
						
						<div class="control-group warning">
							<label class="control-label" for="inputError">标题</label>
							<div class="controls">
								<input type="text" id="title" name="community.title" value="${community.title!}" required="required">
							</div>
						</div>
				
						<div class="control-group">
							<label class="control-label" for="focusedInput">摘要</label>
							<div class="controls">
								<input class="input-xlarge focused" id="content" type="text" name="community.content" value="${community.content!}" required="required">
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="focusedInput">是否显示</label>
							<div class="controls">
							<% if(isEmpty(community.status) || community.status == "10"){ %>
								<input name="community.status" type="radio" value="10" checked="checked">是
								<input name="community.status" type="radio" value="20">否
							<% } else { %>
								<input name="community.status" type="radio" value="10">是
								<input name="community.status" type="radio" value="20" checked="checked">否
							<% } %>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="focusedInput">类型</label>
							<div class="controls">
							<% if(isEmpty(community.communityid)){ %>
								<input id="level" name="community.level" type="radio" value="1" checked="checked" onclick="selectCommunity(this)">版块分类
								<input id="level" name="community.level" type="radio" value="2" onclick="selectCommunity(this)">版块
							<% } else if(community.level == 1){ %>
								<input id="level" name="community.level" type="radio" value="1" checked="checked" disabled="disabled">版块分类
								<input id="level" name="community.level" type="radio" value="2" disabled="disabled">版块
							<% } else { %>
								<input id="level" name="community.level" type="radio" value="1" disabled="disabled">版块分类
								<input id="level" name="community.level" type="radio" value="2" checked="checked" disabled="disabled">版块
							<% } %>
							</div>
						</div>
						
						<% if(isEmpty(community.communityid) || community.level == 1 ){ %>
						<div id="type" class="control-group" hidden="block">
						<% } else { %>
						<div id="type" class="control-group">
						<% } %>
							<label class="control-label" for="disabledInput">版块分类</label>
							<div class="controls">
								<%	if(isEmpty(community.communityid)|| community.level == 1){ %>
								<select id="pid" name="community.pid" required="required" onchange="selectForumClassify(this)">
								<%	} else { %>
								<select id="pid" name="community.pid" required="required" onchange="selectForumClassify(this)" disabled="disabled">
								<%	
									}
									if(isEmpty(community.communityid)|| community.level == 1){
								%>
									<option id="" value="0"></option>
								<%
									}
									for(forumClassify in forumClassifyList){ 
										if(forumClassify.communityid == community.pid){
								%>
									<option id="${forumClassify.actionkey!}" value="${forumClassify.communityid!}" selected="selected">${forumClassify.title!}</option>
								<% 		} else { %>
									<option id="${forumClassify.actionkey!}" value="${forumClassify.communityid!}" >${forumClassify.title!}</option>
								<% 		
										} 
									} 
								%>
								</select>
							</div>
						</div>
						
						<% if(isEmpty(community.communityid) || community.level == 1 ){ %>
						<div id="root" class="control-group">
						<% } else { %>
						<div id="root" class="control-group" hidden="block">
						<% } %>
							<label class="control-label" for="focusedInput">版块根路径</label>
							<div class="controls">
							<%	if(isEmpty(community.communityid)){ %>
								<input class="input-xlarge focused" type="text" id="actionkey" name="community.actionkey" value="${community.actionkey!}" required="required">
							<%	} else { %>
								<input class="input-xlarge focused" type="text" id="actionkey" name="community.actionkey" value="${community.actionkey!}" required="required" readonly="readonly">
							<%	} %>	
							</div>
						</div>
						
						<div class="control-group success">
							<label class="control-label" for="selectError">显示顺序</label>
							<div class="controls">
								<input class="input-xlarge focused" type="text" id="position" name="community.position" value="${community.position!}" required="required">
							</div>
						</div>
				
						<div class="form-actions">
							<button id="submitBtn" type="submit" class="btn btn-primary">提交</button>
							<button type="reset" class="btn" onclick="cancelSubmit(this)">取消</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
<% } %>