<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/goodsType.js"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">商品分类管理</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="goodstype/saveGoodsType" method="post">
     
     		类型名称：<input id="typename" name="goodsType.typename" value="${goodsType.typename!}" type="text" class="span6 m-wrap" />
     		<span class='font_r' style="color: red"> *</span><br>
        	类型级别：<select id="level" name="goodsType.level" class="span6 m-wrap" > 
        		<option value="" selected="selected">请选择---------</option>        		
        		<%
        		for (t in levelList){        		
        		%>
        			<option value="${t.codekey!}">${t.codename!}</option> 
    			<% } %>
   			</select> <span class='font_r' style="color: red"> *</span><br>
        	类型排序：<input id="sortnum" name="goodsType.sortnum" value="${goodsType.sortnum!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	父级类型：<select name="goodsType.parenttypeid" class="span6 m-wrap" > 
        		<option value="" selected="selected">请选择---------</option>        		
        		<%
        		for(gt in goodsTypeList){        		
        		%>
        			<option value="${gt.goodstypeid!}">${gt.typename!}</option> 
    			<% } %>
   			</select> <br>
   			
        	<!-- <input name="goodsType.parenttypeid" value="${goodsType.parenttypeid!}" type="text" class="span6 m-wrap" /><br> --> 
        	类型模块：<input id="goodstype" name="goodsType.goodstype" value="${goodsType.goodstype!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	
			<button class="btn btn-large btn-primary" onclick="return checknull(this)" type="submit" >保存</button>
			<a href="goodstype/goToManager" class="btn btn-large btn-primary" >返回</a>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 