<script type="text/javascript">
	$(document).ready(function(){
		var bar = $('.bar');
		var percent = $('.percent');
		var status = $('#status');
		
		$('#edithomepage').submit(function(){
			$('button[type=submit]',this).attr('disabled',true);
			$(this).ajaxSubmit({
				beforeSend: function() {
			        status.empty();
			        var percentVal = '0%';
			        percent.html(percentVal);
			        $('#progressTr').show();
			    },
			    uploadProgress: function(event, position, total, percentComplete) {
			        var percentVal = percentComplete + '%';
			        bar.val(percentComplete)
			        percent.html(percentVal);
			    },
				success:function(data){
					if(data.success == 1){
						alert("修改成功!");
						showpage({'flag':0,'status':'${status!}','pageIndex':${pageIndex!}});
					}else{
						alert("修改失败  信息：" + data.message);
						$('button[type=submit]',this).removeAttr('disabled');
					}
				}
		    });
			return false;
		});
	});
</script>
<article class="MeArticle">
	<form id="edithomepage" action="homepage/editHomepage" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="${homepage.id!}"/>
		<div class="MemberIndex">
		<div class="MeCaption"><a href="javascript:showpage({'flag':0,'status':'${status!}','pageIndex':${pageIndex!}});">首页管理</a> --> <a href="javascript:showpage({'flag':1,'status':'${status!}','pageIndex':${pageIndex!}});">添加广告</a></div>
		<div class="MeBlock">
		<table border="0" cellspacing="0" cellpadding="0" class="Table_Member">
			<tbody><tr>
				<th><em style="color: red;"> * </em>标题：</th>
				<td><input name="title" type="text" class="input_Member" required="required" value="${homepage.title!}"></td>
				</tr>
				<tr>
				<th><em style="color: red;"> * </em>二级标题：</th>
				<td>
					<input name="subtitle" type="text" class="input_Member" required="required"  value="${homepage.subtitle!}"></td>
				</tr>
				<tr>
				<th><em style="color: red;"> * </em>推广地址：</th>
				<td><input name="url" type="text" class="input_Member" required="required"  value="${homepage.url!}"></td>
				</tr>
				<tr>
                <th>广告图：</th>
                <td>
                	<img width="200px" height="100px" alt="${homepage.titile!}" src="${homepage.img!}" />
                </td>
              </tr>
				<tr>
				<th>修改广告：</th>
				<td><input name="img" type="file" class="input_Member"></td>
				</tr>
				<tr id="progressTr" style="display: none;">
				<th><em style="color: red;"> * </em>进度：</th>
				<td>
					<p><progress class="bar" value="0" max="100"></progress>
					<div class="percent">0%</div >
                </td>
				</tr>
				<tr>
				<th>简介：</th>
				<td>
					<textarea name="des" style="padding:10px;" rows="8" cols="70">${homepage.des!}</textarea>
				</td>
				</tr>
				<tr>
                <th></th>
                <td>
                	<button type="submit" >提交</button>
                	&nbsp;&nbsp;&nbsp;
                	<button type="button" onclick="showpage({'flag':0,'status':'${status!}','pageIndex':'${pageIndex!}'})">取消</button>
				</td>
              </tr>
			</tbody>
		</table>
		</div>
        </div>
	</form>
</article>