<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/goods.js"></script>
<div class="span9" id="content">
	<div class="row-fluid"> 
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">商品详情</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="goods/updateGoods?goodsId=${goods.goodsid!}" method="post" enctype="multipart/form-data">
     	
     		<input name="goods.goodsid" value="${goods.goodsid!}" type="text" class="span6 m-wrap" style="display:none"/><br>
         	商品类型：<input id="goods" name="goods.goods" value="${goods.goods!}" type="text" class="span6 m-wrap" />
         	<span class='font_r' style="color: red"> *</span><br>
        	商品名称：<input id="goodsname" name="goods.goodsname" value="${goods.goodsname!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	商品价格：<input id="price" name="goods.price" value="${goods.price!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	豆豆价格：<input id="price" name="goods.dougprice" value="${goods.dougprice!}" type="text" class="span6 m-wrap" /><br>
			历史价格：<input name="goods.oldprice" value="${goods.oldprice!}" type="text" class="span6 m-wrap" /><br>        	 
        	
        	商品主图：<input id="fileImage" type="file" size="30" name="pic" />
        	<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="${goods.pic!}"/><br>
        	
        	商品信息：<input name="goods.message" value="${goods.message!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	
        	商城链接：<input id="tamllurl" name="goods.tamllurl" value="${goods.tamllurl!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	是否放首页：<input name="goods.istop" value="${goods.istop!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	状态：<input id="status" name="goods.status" value="${goods.status!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	
        	<label class="control-label">上传用户：</label>
        	<input name="goods.username" value="${goods.username!}" type="text" class="span6 m-wrap" readonly = "readonly "/><br>
        	
        	<%
        	var idx = 0;
        	for(var i=0; i < headimgs.~size; i++){
        	idx = idx + 1;
        	%>
        	<div>
        	<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="${headimgs[i]!}"/><br>
        	<a href="goods/deleteImg?url=${headimgs[i]!}&goodsId=${goods.goodsid!}">删除</a>
        	</div>
        		<% 
        		if (idx%4 == 0){
        		%>
        			<br>
        		<%
        		}
        	}
        	%>
        	<label class="control-label">商品子图</label>
        	<input id="fileImage" type="file" size="30" name="addheadimg" multiple /><br>
        	
			<button class="btn btn-large btn-primary" onclick="return upchecknull(this)" type="submit" >编辑</button>
			<a href="goods/goToManager" class="btn btn-large btn-primary" >返回</a>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 