<% layout("/admin/admin_layout.html"){ %>
<script src="${core}/js/community.js" type="text/javascript"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">社区管理明细</div>
			</div>
			<div class="block-content collapse in" id="adminCommunityHtml">
				<div class="span12"id="admin_Community">
					<div class="table-toolbar">
						<div class="btn-group">
							<a href="javascript:void(0);" onclick="skipModify(this)"><button class="btn btn-success">
									添加区域版块 <i class="icon-plus icon-white"></i>
								</button></a>
						</div>
					</div>
					
					<div id="detail_CommunityHtml">
					<% 
						layout(
							"/admin/admin_communityDetail.html", 
							{
								"communityFatList":communityFatList,
								"communitySonList":communitySonList
							}
						){} 
					%>	
					</div>	
					
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
