<% layout("/admin/admin_layout.html"){ %>
<link href="css/Member.css" rel="stylesheet" media="screen">
<script src="js/jquery.form.js"></script>
<script src="js/jqthumb.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//初始化
		showpage({'flag':0,'status':'','pageNumber':1});
		$('#flag-sel').change(function(){
			var status = $('#flag-sel').val();
			showpage({'flag':0,'status':status,'pageNumber':1});
		});
		$('img').each(function(){
			$(this).error(function(){
				if (this.src != 'http://www.dongmark.com/images/default.png') {
					this.src = 'http://www.dongmark.com/images/default.png';
					var width = $(this).width();
					var height = $(this).height();
					$(this).jqthumb({
						width:width,
						height:height
					});
					return false;
				}
			});
			var width = $(this).width();
			var height = $(this).height();
			$(this).jqthumb({
				width:width,
				height:height
			});
		});
	});
	function showpage(params){
		var param = '';
		$.each(params,function(key,value){
			param = param + key + '=' + value + '&';
		});
		if(param != ''){
			param = param.substring(0,param.length - 1);
		}
		$.ajax({
			type:'post',
			data:param,
			url:'homepage/showPage',
			success:function(data){
				$('#showpage').html(data);
			}
		});
	}
</script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header" id="page-title">
				<div class="muted pull-left">首页管理</div>
			</div>
			<div class="block-content collapse in">
				<div class="table-toolbar">
						<lable>查询条件：
							<select id="flag-sel">
								<option value="">全部</option>
								<option value="1">启用</option>
								<option value="0">禁用</option>
							</select>
						</lable>
						<a style="float: right;" href="javascript:showpage({'flag':1,'pageNumber':1});">添加</a>
					</div>
				<div class="span12">
					<div id="showpage">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
