<% layout("/admin/admin_layout.html"){ %>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">菜单管理</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
					<div class="table-toolbar">
						<div class="btn-group">
							<a href="menu/addMenu"><button class="btn btn-success">
									新增菜单 <i class="icon-plus icon-white"></i>
								</button></a>
						</div>
					</div>
					
					<div class="table-toolbar" style="height: 50px;">
						<div>							
        					<label>菜单模块：</label>
        					<select id="menuType" name="menutype">  
        						<option value="" selected="selected"></option>
        						<option value="1">首页</option>
        						<option value="2">个人中心</option>
        						<option value="3">社区</option>
        						<option value="4">商城</option>
   							</select> 
   							<input class="btn btn-success" type="button" value="查询" onclick="msearch()">						
						</div>
					</div>
					<div id="page">
					<% if(menuList != null){
						layout("/admin/admin_page.html"){} }%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
