<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/goodsType.js"></script>
<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">编辑商品类型</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="goodstype/updateGoodsType" method="post">
        	<input name="goodsType.goodstypeid" value="${goodsType.goodstypeid!}" type="text" class="span6 m-wrap" style="display:none"/><br>
        	类型名称：<input id="typename" name="goodsType.typename" value="${goodsType.typename!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>        	
        	类型级别：<select id="level" name="goodsType.level" class="span6 m-wrap" > 
        		<option value="">请选择---------</option>        		
        		<%
        		var level = parseInt(goodsType.level);
        		for (t in levelList){    
        			var codekey = parseInt(t.codekey);
        			 if (level == codekey){    		 
        		%>
        				<option value="${t.codekey!}" selected="selected">${t.codename!}</option> 
        		<%	} else {
        		%>
        				<option value="${t.codekey!}">${t.codename!}</option> 
    			<%  }
    			} %>
   			</select> <span class='font_r' style="color: red"> *</span><br>
        	类型排序：<input id="sortnum" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " name="goodsType.sortnum" value="${goodsType.sortnum!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	父级类型：<select name="goodsType.parenttypeid" class="span6 m-wrap" > 
        		<option value="">请选择---------</option>
        		<%
        		var pid = goodsType.parenttypeid;
        		var parenttypeid = 0;
        		if (pid == null) {
        			parenttypeid = 0;
        		} else {
        			parenttypeid = parseInt(pid);
        		}
        		for(gt in goodsTypeList){
        			var goodstypeid = parseInt(gt.goodstypeid);
        			if (parenttypeid == goodstypeid){
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">${gt.typename!}</option> 
        		<% } else {%>
        			<option value="${gt.goodstypeid!}">${gt.typename!}</option> 
    			<% } 
    			}        		
        		 %>
   			</select> <br>
        	类型模块：<input id="goodstype" name="goodsType.goodstype" value="${goodsType.goodstype!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>        	
        <button class="btn btn-large btn-primary" onclick="return checknull(this)" type="submit" >保存</button>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 