<script src="js/jquery.form.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('form :input[required=required]').each(function(){
	        var $required = $("<span class='font_r' style=\"color: red\"> *</span>"); //创建元素
	        $(this).parent().append($required); //然后将它追加到文档中
	    });
	});
	
	 //文本框失去焦点后
    $('form :input').blur(function(){
       	var $parent = $(this).parent();
        $parent.find(".font_r").remove();
      	//标题验证
        if($(this).is('#title')){
        	if( this.value=="" ){
        	    var errorMsg = '标题不能为空';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else if(this.value.length > 11){
        		var errorMsg = '标题长度必须小于11个字';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        	    var okMsg = '输入正确';
             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
       	   	}
        }
      	//概要验证
        if($(this).is('#content')){
        	if(this.value.length > 30){
        		var errorMsg = '概要长度必须小于30个字';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        	    var okMsg = '输入正确';
             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
       	   	}
        }
        //显示顺序
        if($(this).is('#position')){
        	var reg = /^\d*$/;
        	if(this.value == ""){
        		
        	}else if( !reg.test(this.value) ){
        	    var errorMsg = '格式错误，请输入正整数！';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        		var okMsg = '输入正确';
             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
        	}
        }
    });
</script>
<form id="submitForm" class="form-horizontal" action="./wondersType/updateWondersType" method="post" onsubmit="return submitWondersType(this);">
	<fieldset>
		<legend>版块管理</legend>
		<input type="text" name="wondersType.wonderstypeid" value="${wondersType.wonderstypeid!}" style="display: none;">
		<input type="text" name="wondersType.level" value="${wondersType.level!}" style="display: none;">
		
		<div class="control-group warning">
			<label class="control-label" for="inputError">标题</label>
			<div class="controls">
				<input type="text" id="title" name="wondersType.title" value="${wondersType.title!}" required="required">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="focusedInput">概要</label>
			<div class="controls">
				<input class="input-xlarge focused" id="content" type="text" name="wondersType.content" value="${wondersType.content!}" required="required">
			</div>
		</div>
		
		<% if(wondersType.level == 2) { %>
			<div class="control-group">
				<label class="control-label" for="disabledInput">区域版块</label>
				<div class="controls">
					<% 	if(isEmpty(wondersType.pid)) { %>
						<select name="wondersType.pid" required="required" id="pid">
					<% 	} else { %>
						<select name="wondersType.pid" required="required" disabled="disabled"  id="pid">
					<% 	} 
						for(wondersTypeFat in wondersTypeFatList) {
								if( parseDouble(wondersType.pid) == parseDouble(wondersTypeFat.wonderstypeid) ){
					%>
									<option value="${wondersTypeFat.wonderstypeid!}" selected="selected">${wondersTypeFat.title!}</option>
					<% 			} else {%>
									<option value="${wondersTypeFat.wonderstypeid!}" >${wondersTypeFat.title!}</option>
					<% 			} 
						} 
					%>
						</select>
				</div>
			</div>
		<% } %>
		
		<div class="control-group success">
			<label class="control-label" for="selectError">显示顺序</label>
			<div class="controls">
				<input class="input-xlarge focused" id="position" type="text" name="wondersType.position" value="${wondersType.position!}" required="required">
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="reset" class="btn" onclick="goToManage('/wondersType/goToManager')">取消</button>
		</div>
	</fieldset>
</form>