<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('form :input[required=required]').each(function(){
	        var $required = $("<span class='font_r' style=\"color: red\"> *</span>"); //创建元素
	        $(this).parent().append($required); //然后将它追加到文档中
	    });
	});
	
	 //文本框失去焦点后
    $('form :input').blur(function(){
       	var $parent = $(this).parent();
        $parent.find(".font_r").remove();
      	//标题验证
        if($(this).is('#subject')){
        	if( this.value=="" ){
        	    var errorMsg = '标题不能为空';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else if(this.value.length > 11){
        		var errorMsg = '标题长度必须小于11个字';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        	    var okMsg = '输入正确';
             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
       	   	}
        }
      	//主题图片验证
        if($(this).is('#themeimg')){
        	if( this.value=="" ){
        	    var errorMsg = '主题图片不能为空';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else if(!this.value.match( /.jpg|.gif|.png|.bmp/i )){
        		var errorMsg = '图片格式无效';
        	    $parent.append('<span class="font_r onError" style="color: red" >'+errorMsg+'</span>');
        	}else{
        	    var okMsg = '输入正确';
             	$parent.append('<span class="font_r onSuccess" style="color: red" >'+okMsg+'</span>');
       	   	}
        }
    });
</script>
<form id="submitForm" class="form-horizontal" action="./ofWonders/update" method="post" onsubmit="return submitOfWonders(this)">
	<fieldset>
		<legend>主题管理</legend>
		<input type="text" name="ofWonders.ofwondersid" value="${ofWonders.ofwondersid!}" style="display: none;">
		
		<div class="control-group">
			<label class="control-label" for="disabledInput">版块</label>
			<div class="controls">
				<% if(isEmpty(ofWonders.wonderstypeid)) { %>
					<select name="ofWonders.wonderstypeid" required="required" id="wonderstypeid">
				<% } else { %>
					<select name="ofWonders.wonderstypeid" required="required" disabled="disabled" id="wonderstypeid">
				<% } 
					for(wondersType in WondersTypeDetailList) { 
						if(wondersType.wonderstypeid == ofWonders.wonderstypeid){
				%>
						<option value="${wondersType.wonderstypeid!}" selected="selected">${wondersType.title!}</option>
				<% 		} else {%>
						<option value="${wondersType.wonderstypeid!}">${wondersType.title!}</option>
				<% 		} 
					} 
				%>
					</select>
			</div>
		</div>
		
		<div class="control-group warning">
			<label class="control-label" for="inputError">标题</label>
			<div class="controls">
				<input type="text" id="subject" name="ofWonders.subject" value="${ofWonders.subject!}">
			</div>
		</div>
		
		<div class="control-group warning">
			<label class="control-label" for="inputError">主题图片</label>
			<div class="controls">
				<div id="preview" class="imgCss">
					<img src="${ofWonders.themeimg!}">
				</div>
				<input id="themeimg" name="ofWonders.themeimg" type="file" class="input_Forum" value="${ofWonders.themeimg!}" onchange="onUploadImgChange(this)" required="required">
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="focusedInput">是否置顶</label>
			<div class="controls">
				<% if(ofWonders.top == 1) { %>
					<input type="radio" name="ofWonders.top" value="0" >否
					<input type="radio" name="ofWonders.top" value="1" checked="checked">是
				<% } else { %>
					<input type="radio" name="ofWonders.top" value="0" checked="checked">否
					<input type="radio" name="ofWonders.top" value="1" >是
				<% } %>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="focusedInput">是否精华</label>
			<div class="controls">
				<% if(ofWonders.essence == 1) { %>
					<input type="radio" name="ofWonders.essence" value="0" >否
					<input type="radio" name="ofWonders.essence" value="1" checked="checked">是
				<% } else { %>
					<input type="radio" name="ofWonders.essence" value="0" checked="checked">否
					<input type="radio" name="ofWonders.essence" value="1" >是
				<% } %>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="focusedInput">是否显示</label>
			<div class="controls">
				<% if(ofWonders.status == 20) { %>
					<input type="radio" name="ofWonders.status" value="20" checked="checked">不显示
					<input type="radio" name="ofWonders.status" value="10">显示
				<% } else { %>
					<input type="radio" name="ofWonders.status" value="20" >不显示
					<input type="radio" name="ofWonders.status" value="10" checked="checked">显示
				<% } %>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="focusedInput">内容</label>
			<div class="controls">
				<textarea name="ckeditor" id="ckeditor">${ofWonders.message!}</textarea>
				<script type="text/javascript">CKEDITOR.replace('ckeditor');</script>
				<input type="text" id="message" name="ofWonders.message" value="${ofWonders.message!}" style="display: none;"/>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">提交</button>
			<button type="reset" class="btn">取消</button>
		</div>
	</fieldset>
</form>