<% layout("/admin/admin_layout.html"){ %>
<section> 
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/goods.js"></script>

<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">新增商品</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
      <form class="form-signin" action="goods/saveGoods" id="createHtml" method="post" align="center" enctype="multipart/form-data">
        	商品名称：<input id="goodsname" name="goods.goodsname" value="${goods.goodsname!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	商品价格：<input id="price" name="goods.price" value="${goods.price!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	豆豆价格：<input id="dougprice" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " name="goods.dougprice" value="${goods.dougprice!}" type="text" class="span6 m-wrap" /><br>
        	历史价格：<input id="oldprice" name="goods.oldprice" value="${goods.oldprice!}" type="text" class="span6 m-wrap" /><br>
        	<div id="preview"></div>
        	商品主图：<input id="fileImage" type="file" size="30" name="pic" onchange="onUploadImgChange(this)" required="required" /><span class='font_r' style="color: red"> *</span><br>
        	商品描述：<textarea id="message" name="goods.message" value="${goods.message!}" rows="3" class="span6 m-wrap" ></textarea>
        	
               	
        	<!-- <input id="message" name="goods.message" value="${goods.message!}" type="text" class="span6 m-wrap" /> -->
        	<span class='font_r' style="color: red"> *</span><br>
        	商城地址：<input id="tamllurl" name="goods.tamllurl" value="${goods.tamllurl!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>        			
       		是否放首页：<input type="radio" checked="checked" name="goods.istop" value="0"/>否
				<input type="radio" name="goods.istop" value="1"/>是<br><br> 
        	商品状态：<input type="radio" checked="checked" name="goods.status" value="10"/>停用
				<input type="radio" name="goods.status" value="70"/>启用<br> 
        	
        	<label class="control-label">商品子图</label>
        	<div id="previews"></div>
        	<input id="fileImage" type="file" size="30" name="headimg" onchange="onUploadImgChanges(this)" required="required" multiple />
        	<span class='font_r' style="color: red"> *</span><br>
        	商品类别1：<select id="goodsattr1" name="goods.goodsattr1" class="span6 m-wrap" > 
        		<option value="" selected="selected">请选择======</option>
        		<% 
        		for(gt in goodsType1!){
        		%>
        			<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        		<% 
        		} %>
        	</select><br>
        	商品类别2：<select id="goodsattr2" name="goods.goodsattr2" class="span6 m-wrap" > 
        		<option value="" selected="selected">请选择======</option>
        		<% 
        		for(gt in goodsType2!){
        		%>
        			<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        		<% 
        		} %>
        	</select><br>
        	商品类别3：<select id="goodsattr3" name="goods.goodsattr3" class="span6 m-wrap" > 
        		<option value="" selected="selected">请选择======</option>
        		<% 
        		for(gt in goodsType3!){
        		%>
        			<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        		<% 	
        		} %>
        	</select><br>
        <button class="btn btn-large btn-primary" onclick="return checknull(this)" type="submit" >保存</button>
        <span class='font_r' style="color: red">${msg!}</span>
        <a href="goods/renderGoods" class="btn btn-large btn-primary" >返回</a>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 