<% layout("/admin/admin_layout.html"){ %>
<section>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
	media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/goods.js"></script>
<div class="span9" id="content">
	<div class="row-fluid"> 
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">商品详情</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
     <form class="form-signin" action="goods/updateGoods?goodsId=${goods.goodsid!}" method="post" id="createHtml" enctype="multipart/form-data">
     	
     		<input name="goods.goodsid" value="${goods.goodsid!}" type="text" class="span6 m-wrap" style="display:none"/><br>
         	商品名称：<input id="goodsname" name="goods.goodsname" value="${goods.goodsname!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	商品价格：<input id="price" name="goods.price" value="${goods.price!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	豆豆价格：<input id="dougprice" name="goods.dougprice" value="${goods.dougprice!}" type="text" class="span6 m-wrap" /><br>
			历史价格：<input id="oldprice" name="goods.oldprice" value="${goods.oldprice!}" type="text" class="span6 m-wrap" /><br>        	 
        	
        	商品主图：
        	<div class="controls">
				<div id="preview" class="imgCss">
					<img src="${goods.pic!}">
				</div>
				<label id="picPath">
					<%
						var picPath = null;
						if(!isEmpty(goods) && !isEmpty(goods.pic)){
							var filePath = strutil.replace(goods.pic,"\\\\","/");
							picPath = strutil.subStringTo(filePath,@filePath.lastIndexOf("/")+1,strutil.length(filePath));
						}
					%>
					${picPath!}
				</label>
				<input id="themeimgBtn" type="button" onclick="pic.click()" value="请选择图片" required="required">
				<input id="pic" name="pic" type="file" class="fileCss" value="${goods.pic!}" onchange="onUploadImgChange(this)" style="display: none">
			</div>
        	
        	
        	<!-- <div id="preview"></div>
        	<input id="fileImage" type="file" size="30" name="pic" onchange="onUploadImgChange(this)" />
        	<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="${goods.pic!}"/><br> -->
        	
        	商品信息：<input name="goods.message" value="${goods.message!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	
        	商城链接：<input id="tamllurl" name="goods.tamllurl" value="${goods.tamllurl!}" type="text" class="span6 m-wrap" />
        	<span class='font_r' style="color: red"> *</span><br>
        	是否放首页：
        		
        		<%
        		if (goods.istop != null && goods.istop != ""){ 
        		var istop =parseInt(goods.istop);
        		if (istop == 1) {
        		%>
        			<input type="radio" name="goods.istop" value="0"/>否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" checked="checked" name="goods.istop" value="1"/>是<br>

          		<%
        		} else if (istop == 0) {
        		%>
        			<input type="radio" checked="checked" name="goods.istop" value="0"/>否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="goods.istop" value="1"/>是
        		<%
        		}
        		}
        		%>
        	
        	<!-- <input name="goods.istop" value="${goods.istop!}" type="text" class="span6 m-wrap" /> -->
        	<span class='font_r' style="color: red"> &nbsp;&nbsp;&nbsp;*</span><br>
        	商品状态：
        	<%
        		if (goods.status != null && goods.status != ""){ 
        		var status =parseInt(goods.status);
        		if (status == 70) {
        		%>
        			&nbsp;&nbsp;&nbsp;<input type="radio" name="goods.status" value="10"/>停用&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" checked="checked" name="goods.status" value="70"/>启用
          		<%
        		} else if (status == 10) {
        		%>
        			&nbsp;&nbsp;&nbsp;<input type="radio" checked="checked" name="goods.status" value="10"/>停用&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="goods.status" value="70"/>启用
        		<%
        		}
        		}
        	%>
        	<span class='font_r' style="color: red"> *</span><br>
        	上传用户：<input name="goods.username" value="${goods.username!}" type="text" class="span6 m-wrap" readonly = "readonly "/><br>
        	
        	<%
        	var idx = 0;
        	for(var i=0; i < headimgs.~size; i++){
        	idx = idx + 1;
        	%>
        	<div>
        	<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="${headimgs[i]!}"/><br>
        	<a href="goods/deleteImg?url=${headimgs[i]!}&goodsId=${goods.goodsid!}">删除</a>
        	</div>
        		<% 
        		if (idx%4 == 0){
        		%>
        			<br>
        		<%
        		}
        	}
        	%>
        	<label class="control-label">商品子图</label>
        	<div id="previews"></div>
        	<input id="fileImage" type="file" size="30" name="addheadimg" onchange="onUploadImgChanges(this)"  multiple /><br>
        	商品类别1：<select id="goodsattr1" name="goods.goodsattr1" class="span6 m-wrap" > 
        		<option value="">请选择======</option>
        		<% 
        		var goodsattr1 = 0;
        		if (goods.goodsattr1!=null){
        			goodsattr1 = parseInt(goods.goodsattr1);
        		}
        		for(gt in goodsType!){ 
        			var goodstypeid = parseInt(gt.goodstypeid);
        			if(goodsattr1 == goodstypeid){
        			
        			if (gt.level == 2){
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 3) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 4) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        			} else {
        			%>
        			<option value="${gt.goodstypeid!}" selected="selected">${gt.level!}.${gt.typename!}</option>
        			<%
        			}
        			
        			} else {
        			
        				if (gt.level == 2){
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 3) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 4) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        				} else {
        			%>
        				<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        			<%
        				}
        			}
        		} %>
        	</select><br>
        	商品类别2：<select id="goodsattr2" name="goods.goodsattr2" class="span6 m-wrap" > 
        		<option value="">请选择======</option>
        		<% 
        		var goodsattr2 = 0;
        		if (goods.goodsattr2!=null){
        			goodsattr2 = parseInt(goods.goodsattr2);
        		}
        		for(gt in goodsType!){ 
        			var goodstypeid = parseInt(gt.goodstypeid);
        			if(goodsattr2 == goodstypeid){
        		if (gt.level == 2){
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 3) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 4) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        			} else {
        			%>
        			<option value="${gt.goodstypeid!}" selected="selected">${gt.level!}.${gt.typename!}</option>
        			<%
        			}
        			
        			} else {
        			
        				if (gt.level == 2){
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 3) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 4) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        				} else {
        			%>
        				<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        			<%
        				}
        			}
        		} %>
        	</select><br>
        	 商品类别3：<select id="goodsattr3" name="goods.goodsattr3" class="span6 m-wrap" > 
        		<option value="">请选择======</option>
        		<% 
        		var goodsattr3 = 0;
        		if (goods.goodsattr3!=null){
        			goodsattr3 = parseInt(goods.goodsattr3);
        		}
        		for(gt in goodsType!){ 
        			var goodstypeid = parseInt(gt.goodstypeid);
        			if(goodsattr3 == goodstypeid){
        		if (gt.level == 2){
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 3) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 	} else if (gt.level == 4) {
        		%>
        			<option value="${gt.goodstypeid!}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        			} else {
        			%>
        			<option value="${gt.goodstypeid!}" selected="selected">${gt.level!}.${gt.typename!}</option>
        			<%
        			}
        			
        			} else {
        			
        				if (gt.level == 2){
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 3) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<% 		} else if (gt.level == 4) {
        		%>
        				<option value="${gt.goodstypeid!}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${gt.level!}.${gt.typename!}</option>
        		<%
        				} else {
        			%>
        				<option value="${gt.goodstypeid!}">${gt.level!}.${gt.typename!}</option>
        			<%
        				}
        			}
        		} %>
        	</select><br> 
			<button class="btn btn-large btn-primary" onclick="return upchecknull(this)" type="submit" >编辑</button>
			<a href="goods/renderGoods" class="btn btn-large btn-primary" >返回</a>
      </form>
				</div>
			</div>
		</div>
	</div>
</div>
</section> 
<% } %> 